.scrollWrap {
  overflow-x: auto;
}
.infoFeed {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: fit-content;
  margin: 0 4vw;
}
.infoBlock {
  width: 100%;
  margin: 2vh 0;
}

.blockHeader { padding: 1vh 2vw; }
.blockHeader  button {  color: white; }

.blockTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blockTitle > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.blockTitle > div > div {
  padding: 1vh 2vw;
  white-space: pre-wrap;
}

.leftAnchor, .rightAnchor {
  width: 75px;
  display: flex;
  justify-content: center;
}
.leftAnchor {border-right: 1px groove rgba(255,255,255,0.2); }
.leftAnchor .iPlain { color: var(--clouds); }
.leftAnchor .iG { color: var(--emerald); }
.leftAnchor .iWarn { color: var(--carrot); }
.leftAnchor .iNG { color: var(--alizarin); }

.rightAnchor {
  min-height: 40.5px;
  border-left: 1px groove rgba(255,255,255,0.2);
}
.rightAnchor button { color: white; }

.create { background-color: rgba(255, 255, 255, 0.2); }
.inspect { background-color: rgba(46, 204, 113, 0.2); }
.history { background-color: rgba(52, 152, 219, 0.2); }
.noncon { background-color: rgba(231, 76, 60, 0.2); }
.short { background-color: rgba(241, 196, 15, 0.2); }
.finish { background-color: rgba(155, 89, 182, 0.2); }

.moreInfoList {
  margin: 0 0 0 75px;
  list-style: circle;
}
.moreInfoList li {
  padding: 0.25rem 0;
}
.moreInfoList li:last-child {
  padding: 0.25rem 0 0.5rem 0;
}

.endComment {
  margin: 0 0 0 75px;
  padding: 0.25rem 0 0.5rem 40px;
}

.editStandout {
  border: 1px solid rgba(255,255,255,0.5);
  min-height: 40.5px;
}
.inlineInput { 
  width: 12vw;
  min-height: 40.5px;
}
.inlineSelect { 
  width: 15vw;
  min-height: 40.5px;
}
.inlineButton { 
  min-width: 15px;
  margin: 0 5px;
  font-size: 1rem;
  min-height: 40.5px;
}

.trashStyle {
  filter: grayscale(0.5);
}