.watchWrap, .watchWrap label, .watchWrap button, .notifyWrap {
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.watchWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*
  -webkit-width: min-content;
  -moz-width: min-content;
  width: min-content;
  */
  margin: 0.25rem;
  
}
.watchWrap:hover {
  background-color: rgba(255,255,255,0.1);
}
.watchWrap label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  border-width: 1px;
  border-style: solid;
}
.watchWrap button {
  margin: 0 0 0 0.5rem;
  border: none;
  background-color: transparent;
}

.notifyWrap button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.onWatchButton:hover, .onWatchButton:active,
.onMuteButton:hover, .onMuteButton:active {
  border-color: var(--alizarin);
}
.offWatchButton:hover, .offWatchButton:active,
.offMuteButton:hover, .offMuteButton:active {
  border-color: var(--emerald);
}

