.tideIn, .tideOut {
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5vh;
}
.tideIcon {
  padding: 0.5vh;
  font-size: 6vh;
  border-radius: 50%;
}

.tideIn {
  background-color: rgb(25,25,25);
  color: var(--emerald);
}
.tideIn:hover {
  background-color: var(--emerald);
  color: rgb(25,25,25);
}

.tideOut {
  background-color: rgb(25,25,25);
  color: var(--alizarin);
}
.tideOut:hover {
  background-color: var(--alizarin);
  color: rgb(25,25,25);
}