.cookieRow, .cookieCrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.cookieRow {
  grid-area: proLeft / proLeft / frontCenter / frontCenter;
  background-color: rgb(25,25,25);
  width: 100%;
  max-width: calc( 100vw - (20 * var(--vh)) );
  height: 100%;
  max-height: calc(8 * var(--vh));
  padding: 0;
}

.cookieCrumb {
  background-color: transparent;
  transition: background-color, color, max-width 300ms ease-in;
  color: var(--silver);
  margin: 0;
  font-size: 2.5vmin;
  text-indent: 1vmin;
  cursor: pointer;
}
.cookie {
  max-width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cookieCrumb:first-child > .cookie {
  margin-left: 1ch;
}
.cookieCrumb:hover > .cookie {
  max-width: calc( 100vw - ( 24vh + 10vmin ) );
}
.cookieCrumb:first-child {
  height: 100%;
}

.crumb, .endCrumb {
  color: var(--silverfade);
  overflow: hidden;
  width: 5vmin;
  min-width: 3ch;
  margin-right: 0.5vmin;
}
.crumb::before,
.endCrumb::before {
  background-color: rgb(25,25,25);
	border-style: solid;
	border-width: 0.75vmin 0.75vmin 0 0;
	border-radius: 0 5% 0 0;
	content: '';
	display: inline-block;
	height: 11vmin;
	position: relative;
	top: -1px;
	left: -8.5vmin;
	transform: rotate(45deg);
	vertical-align: top;
	width: 11vmin;
  transition: all 150ms ease-in-out;
}

.cookieCrumb:where(:hover,:active) {
  background-color: var(--silver);
  color: rgb(25,25,25);
}
.cookieCrumb:hover > .crumb::before,
.cookieCrumb:active > .crumb::before {
  color: var(--silver);
}
.cookieCrumb:hover + .cookieCrumb > .crumb::before,
.cookieCrumb:hover + .endCrumb::before,
.cookieCrumb:active + .cookieCrumb > .crumb::before,
.cookieCrumb:active + .endCrumb::before {
  background-color: var(--silver);
}

@media (orientation: portrait) {
  .cookieRow { 
    grid-area: frontCenter;
    max-height: 8vmin
  }
  .cookieCrumb:hover > .cookie {
    max-width: calc( 100vw - ( 24vmin + 10vmin ) );
  }
}