.bttnTXTbttn {
  font-size: 2.5rem;
  vertical-align: middle;
}
.BTTNtxtBTTN {
  line-height: 1rem;
  font-size: medium;
  letter-spacing: 1px;
  min-width: 2rem;
	height: 2rem;
	padding: 0 10px;
  cursor: pointer;
}