.taskColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: var(--vh);
  height: 100%;
}

@media (orientation: portrait) {
  .taskColumn {
    padding-top: 1vmin;
  }
}

.overMenuBar {
  grid-area: overTaskArea;
  height: 100%;
  background-color: rgb(25,25,25);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: var(--vh);
  overflow: hidden;
}

.lightTheme .overMenuBar {
  background-color: var(--clouds);
  color: var(--blackT);
}