/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
meteor seems to be handling this */

.actionBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  z-index: 8;
  white-space: nowrap;
}

.footLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 32px;
  padding: 0 0 0 5px;
}

.footCent {
  flex-grow: 2;
}

.footRight {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 0 0;
  align-content: center;
}

.actionForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.actionForm > input,
.actionForm > select, 
.actionForm > datalist {
  line-height: 1.5rem;
  font-size: 1rem;
  min-width: 100px;
  max-width: 175px;
  height: 1.75rem;
  margin: 0 10px;
  letter-spacing: 2px;
}


.actionForm .redIn option,
.actionForm .redIn optgroup {
  color: black;
  background-color: white;
}

.actionForm > button {
  margin: 0 5px;
  font-size: medium;
  text-transform: capitalize; 
  word-break: keep-all;
  letter-spacing: 1px;
  overflow: hidden;
}

.actionIconWrap {
  margin: 0 0.5rem;
}

.actionIconText {
  color: white;
  font-size: small;
  text-transform: capitalize;
  line-height: 1rem;
  display: block;
  white-space: nowrap;
  border-bottom-style: hidden;
  text-decoration: none;
}

.actionIconWrap:hover .actionIconText {
  text-decoration: underline;
}

input.redIn, input.blueIn {
  background-color: transparent;
  border-bottom-color: var(--clouds);
}
select.redIn, select.blueIn {
  background-color: transparent;
  border-color: var(--clouds);
}

.redIn {
  color: rgb(231,76,60);
}
select.redIn > option {
  color: black;
}

input.redIn:focus {
  border-bottom-color: red;
}
select.redIn:focus {
  border-color: red;
}
textarea.redIn:focus {
  border-color: red;
}

.redIn:focus + label {
  color: rgb(231,76,60);
}

.inlineFirst > span,
.inlineFirst > div {
  margin: 0 10px;
}

.blueIn {
  color: white;
}
select.blueIn > option {
  color: black;
}

.blueIn + label {
  font-size: small;
  line-height: 1rem;
}

input.blueIn:focus {
  border-bottom-color: var(--peterriver);
}
select.blueIn:focus {
  border-color: var(--peterriver);
}
.blueIn:focus + label {
  color: var(--peterriver);
}

.inputMultiSelected {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 3px;
  border-color: var(--clouds);
}

.blueIn:focus ~ .inputMultiSelected {
  border-color: var(--peterriver);
}

.inputMultiSelected > i {
  position: relative;
  bottom: -5px;
}

.formBarToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.formBarToggle .formBarIcon {
  display: block;
  padding: 1px 5px 3px 5px;
  background-color: transparent;
  font-size: 2rem;
  border-radius: 50%;
}
#ncselect + .formBarIcon,
#ncselect ~ .actionIconText {
  color: var(--alizarin);
}
#ncselect:hover + .formBarIcon,
#ncselect:checked + .formBarIcon {
  background-color: var(--alizarin);
  color: black;
}

#firstselect + .formBarIcon,
#firstselect ~ .actionIconText {
  color: var(--peterriver);
}
#firstselect:hover + .formBarIcon,
#firstselect:checked + .formBarIcon {
  background-color: var(--peterriver);
  color: black;
}
#firstselect:disabled + .formBarIcon,
#firstselect:disabled ~ .actionIconText {
  opacity: 0.5;
}
#firstselect:disabled:hover + .formBarIcon {
  background-color: black;
  color: var(--peterriver);
  cursor: not-allowed;
}

#shortselect + .formBarIcon,
#shortselect ~ .actionIconText {
  color: var(--orange);
}
#shortselect:hover + .formBarIcon,
#shortselect:checked + .formBarIcon {
  background-color: var(--orange);
  color: black;
}

@media screen and (max-width: 1024px) {
  .actionForm > input,
  .actionForm > select, 
  .actionForm > datalist {
    min-width: 75px;
    max-width: 150px;
  }
}

