
.actionForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.actionForm fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.actionIconWrap {
  margin: 0 0.5rem;
}

.actionIconText {
  color: white;
  font-size: small;
  text-transform: capitalize;
  line-height: 1rem;
  display: block;
  white-space: nowrap;
  border-bottom-style: hidden;
  text-decoration: none;
}

.actionIconWrap:hover .actionIconText {
  text-decoration: underline;
}

.actionForm span,
.actionForm div {
  margin: 0 10px;
}
.actionForm input,
.actionForm select, 
.actionForm datalist {
  line-height: 1.5rem;
  font-size: 1rem;
  min-width: 125px;
  max-width: 250px;
  height: 1.75rem;
  letter-spacing: 1.5px;
}
.actionForm option {
  min-width: 125px;
  max-width: 250px;
}

.actionForm label {
  min-width: 125px;
  max-width: 200px;
  letter-spacing: 1.5px;
}

.actionForm > button {
  margin: 0 5px;
  height: 48px;
  font-size: medium;
  text-transform: capitalize; 
  word-break: keep-all;
  letter-spacing: 1px;
  overflow: hidden;
}







