/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
meteor seems to be handling this */

.actionBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 8;
}

.footLeft {
  display: flex;
  justify-content: flex-start;
}

.footCent {
  flex-grow: 2;
  
}

.footRight {
  display: flex;
  justify-content: flex-end;
  
}

.actionForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.actionForm > input,
.actionForm > select, 
.actionForm > datalist {
  line-height: 1.5rem;
  font-size: 1rem;
  min-width: 100px;
  max-width: 200px;
  height: 1.75rem;
  margin: 0 10px;
}

.actionForm option,
.actionForm optgroup {
  color: black;
}


.actionForm > button {
  margin: 0 10px;
  text-transform: capitalize;
  word-break: break-all;
}

.actionIconWrap {
  margin: 0 0.5rem;
}

.actionIconText {
  color: white;
  font-size: small;
  text-transform: capitalize;
  line-height: 1rem;
  display: block;
  white-space: nowrap;
  border-bottom-style: hidden;
  text-decoration: none;
}

.actionIconWrap:hover + .actionIconText {
  text-decoration: underline;
}


.redIn {
  background-color: transparent;
  color: rgb(231,76,60);
}

.redIn {
  border-bottom-color: var(--clouds);
  border-bottom-color: var(--cloudsfade);
}

.redIn:focus {
  border-bottom-color: red;
}

.redIn:focus + label {
  color: rgb(231,76,60);
}


/* Data / instruction toggle icon */

.dataFlip:before, .dataFlipText {
  color: white;
}

.dataFlip:before { 
  font-family: FontAwesome;
  font-size: 2em;
  margin: 10px;
}

.dataFlip:before { 
  content: "\f1c0";
}

#ikyToggle:checked + .dataFlip:before { 
  content: "\f2d0";
}


