/* react animation */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeSlow {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeAway {
  0% { opacity: 1; }
  100% { opacity: 0.01; }
}

/******** proper ones **********/
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(110%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(110%, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-110%, 0, 1px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-110%, 0, 0);
  }
}

/*/////////////////////////////////////////////////*/
@keyframes blurOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(50px);
  }
}

@keyframes blurInOut {
  0% {
    opacity: 0;
    filter: blur(30px);
  }
  25% {
    opacity: 0.5;
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}


@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(50px);
    background-color: var(--blurInColor);
  }
  50% {
    opacity: 0.5;
    filter: blur(10px);
    background-color: var(--blurInColor);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes hueCycle {
  0% {
    filter: hue-rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes spinOut {
  0% {
    filter: blur(0px);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
  100% {
    filter: blur(50px);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes spinAround {
  0%   { transform: translate3d(0, 0, 0) rotate(0deg); }
  100% { transform: translate3d(0, 0, 0) rotate(360deg); }
}

@keyframes spinBack {
  0%   { transform: translate3d(0, 0, 0) rotate(360deg); }
  100% { transform: translate3d(0, 0, 0) rotate(0deg); }
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

@keyframes pulse2 {
  0% { transform: scale(1); }
  20% { transform: scale(1.1); }
  40% { transform: scale(1); }
  60% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@keyframes pulselite {
  from { transform: scale(1); opacity: 0.8; }
  to { transform: scale(1.5); opacity: 0; }
}

@keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes stretch {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes rolley {
  10% { transform: translateX(10px) rotate(8deg); }
  20% { transform: translateX(-10px) rotate(-8deg); }
  30% { transform: translateX(6px) rotate(6deg); }
  40% { transform: translateX(-6px) rotate(-6deg); }
  50% { transform: translateX(4px) rotate(4deg); }
  60% { transform: translateX(-4px) rotate(-4deg); }
  70% { transform: translateX(2px) rotate(2deg); }
  80% { transform: translateX(-2px) rotate(-2deg); }
  90% { transform: translateX(0px) rotate(1deg); }
  100% { transform: translateX(0px) rotate(0); }
}
@keyframes shake {
  10% { transform: translateX(10px) rotate(8deg); filter: blur(8px); }
  20% { transform: translateX(-10px) rotate(-8deg); filter: blur(8px); }
  30% { transform: translateX(6px) rotate(6deg); filter: blur(6px); }
  40% { transform: translateX(-6px) rotate(-6deg); filter: blur(4px); }
  50% { transform: translateX(4px) rotate(4deg); filter: blur(2px); }
  60% { transform: translateX(-4px) rotate(-4deg); filter: blur(1px); }
  70% { transform: translateX(2px) rotate(2deg); filter: blur(0px); }
  80% { transform: translateX(-2px) rotate(-2deg); }
  90% { transform: translateX(0px) rotate(1deg); }
  100% { transform: translateX(0px) rotate(0); }
}
/* Shudder */
@keyframes hvr-buzz-out {
  10% { transform: translateX(6%) rotate(6deg); }
  20% { transform: translateX(-6%) rotate(-6deg); }
  30% { transform: translateX(4%) rotate(4deg); }
  40% { transform: translateX(-4%) rotate(-4deg); }
  50% { transform: translateX(2%) rotate(2deg); }
  60% { transform: translateX(-2%) rotate(-2deg); }
  70% { transform: translateX(1%) rotate(1deg); }
  80% { transform: translateX(-1%) rotate(-1deg); }
  90% { transform: translateX(1%) rotate(0); }
  100% { transform: translateX(-1%) rotate(0); }
}
.hvr-buzz-out {
  animation-name: hvr-buzz-out;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.bounce-change {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.quick-bounce-change {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 0.45;
}

.blur-change {
  animation-name: blurInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.shaker-change {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.homeIconLogo:hover, .homeIconLogo:active {
  animation: spinAround 2s infinite linear;
}

@keyframes pulsehorz {
  0% { background-position-x: 0vw; }
  100% { background-position-x: 100vw; }
}
.pulseload {
  position: absolute;
  top: 0;
  left: 0;
  height: 1vh;
  height: 1dvh;
  width: 100vw;
  background-image: radial-gradient(
    transparent 0%,
    var(--blackfrost) 25%, 
    transparent 50%,
    var(--blackfrost) 75%,
    transparent 100%
  );
  animation: pulsehorz 3s infinite  linear;
}
@media (orientation: portrait) {
  .pulseload {
    height: 1vmin;
    height: 1dvmin;
  }
}

.spinRe {
  animation-name: spinBack;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.spin2 {
  animation: spinAround 2s infinite linear;
}

.turn {
  animation: spinAround 500s infinite linear;
}

.spinOut {
  animation: spinOut 1s infinite linear;
  overflow: hidden;
}

.loading > .logoSVG {
  opacity: 0.2;
  animation: spinAround 6s infinite linear;
  width: 60dvh;
  height: 60dvh;
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
          filter: drop-shadow( -5px -5px 5px #000 );
}
.minispinLogoSVG {
  opacity: 0.8;
  animation: spinAround 4s infinite linear;
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
          filter: drop-shadow( -5px -5px 5px #000 );
}

@supports (filter: none) {
	.colorShift {
    animation: hueCycle 90s infinite linear;
  }
}
@supports not (filter: none) {
  .colorShift {
    animation: spinAround 90s infinite linear;
  }
}

@media screen and (prefers-reduced-motion: reduce) { 
  .shaker-change {
    animation-name: stretch;
    animation-duration: 2s;
  }
  .homeIconLogo:hover, .homeIconLogo:active {
    animation: none
  }
  .spin2 {
    animation: spinAround 10s infinite linear;
  }
  .fa-spin {
    animation: fa-spin 10s infinite linear;
  }
  .loading > .logoSVG {
    animation: spinAround 30s infinite linear;
  }
  .minispinLogoSVG {
    animation: spinAround 30s infinite linear;
  }

}