/* react animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fadeAway {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0.01;
    transform: translate3d(0, 0, 0)
  }
}
@-moz-keyframes fadeAway {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0.01;
    transform: translate3d(0, 0, 0)
  }
}
@keyframes fadeAway {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0.01;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes slideRight {
  0% {
    transform: translate3d(-500px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

@keyframes slideLeft {
  0% {
    transform: translate3d(500px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes slideIn {
  0%   { 
    opacity: 0;
    transform: translate3d(0, 250px, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideIn {
  0%   { 
    opacity: 0;
    transform: translate3d(0, 250px, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 250px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOut {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(0, -250px, 0);
  }
}
@-moz-keyframes slideOut {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(0, -250px, 0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -250px, 0);
  }
}

/******** proper ones **********/
@-webkit-keyframes slideInRight {
  0%   { 
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInRight {
  0%   { 
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutRight {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
}
@-moz-keyframes slideOutRight {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
}
@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
}


@-webkit-keyframes slideInLeft {
  0%   { 
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInLeft {
  0%   { 
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutLeft {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
}
@-moz-keyframes slideOutLeft {
  0%   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% { 
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-750px, 0, 0);
  }
}

/*/////////////////////////////////////////////////*/
@-webkit-keyframes blurOut {
  0%   { 
    opacity: 1;
    filter: blur(0px);
  }
  100% { 
    opacity: 0;
    filter: blur(50px);
  }
}
@-moz-keyframes blurOut {
  0%   { 
    opacity: 1;
    filter: blur(0px);
  }
  100% { 
    opacity: 0;
    filter: blur(50px);
  }
}
@keyframes blurOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(50px);
  }
}

@keyframes blurInOut {
  0% {
    opacity: 0;
    filter: blur(30px);
  }
  25% {
    opacity: 0.5;
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}


@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/*/////////////////////////////////////////////////*/

.cardTrans-enter, .cardTrans-appear {
  -webkit-animation: fadeIn 300ms var(--scottsCurve);
  -moz-animation: fadeIn 300ms var(--scottsCurve);
  animation: fadeIn 300ms var(--scottsCurve);
}

.contentTrans-enter, .contentTrans-appear {
  -webkit-animation: fadeIn 300ms var(--scottsCurve);
  -moz-animation: fadeIn 300ms var(--scottsCurve);
  animation: fadeIn 300ms var(--scottsCurve);
}


/* animation for models */

.modelTrans-enter, .modelTrans-appear {
  opacity: 0;
  transition: all 0.2s var(--scottsCurve);
}

.modelTrans-enter-active, .modelTrans-appear-active {
  opacity: 1;
}

.actions-enter, .actions-appear {
  -webkit-animation: slideRight 300ms var(--scottsCurve);
  -moz-animation: slideRight 300ms var(--scottsCurve);
  animation: slideRight 300ms var(--scottsCurve);
}

.contentLeft-enter, .contentLeft-appear {
  -webkit-animation: slideLeft 1s var(--scottsCurve);
  -moz-animation: slideLeft 1s var(--scottsCurve);
  animation: slideLeft 300ms var(--scottsCurve);
}

.contentLeft-leave {
  -webkit-animation: slideLeft 1s var(--scottsCurve);
  -moz-animation: slideLeft 1s var(--scottsCurve);
  animation: slideLeft 300ms var(--scottsCurve);
}

/* stones */
.stoneTrans-enter, .stoneTrans-appear {
  -webkit-animation: blurIn 300ms linear;
  -moz-animation: blurIn 300ms linear;
  animation: blurIn 300ms linear;
}

.stoneTrans-leave {
  position: absolute;
  top: 0%;
  z-index: 0;
  -webkit-animation: blurOut 300ms linear;
  -moz-animation: blurOut 300ms linear;
  animation: blurOut 300ms linear;
}

/* nonCons */
.ncTrans-enter, .ncTrans-appear {
  -webkit-animation: slideInRight 300ms var(--scottsCurve);
  -moz-animation: slideInRight 300ms var(--scottsCurve);
  animation: slideInRight 300ms var(--scottsCurve);
}

.ncTrans-leave {
  -webkit-animation: slideOutLeft 300ms var(--scottsCurve);
  -moz-animation: slideOutLeft 300ms var(--scottsCurve);
  animation: slideOutLeft 300ms var(--scottsCurve);
}


/* right left */
.forward-enter, .forward-appear {
  -webkit-animation: slideInRight 300ms var(--scottsCurve);
  -moz-animation: slideInRight 300ms var(--scottsCurve);
  animation: slideInRight 300ms var(--scottsCurve);
}

.forward-leave {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: slideOutLeft 300ms var(--scottsCurve);
  -moz-animation: slideOutLeft 300ms var(--scottsCurve);
  animation: slideOutLeft 300ms var(--scottsCurve);
}

/* left right */
.backward-enter, .backward-appear {
  -webkit-animation: slideInLeft 300ms var(--scottsCurve);
  -moz-animation: slideInLeft 300ms var(--scottsCurve);
  animation: slideInLeft 300ms var(--scottsCurve);
}

.backward-leave {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: slideOutRight 300ms var(--scottsCurve);
  -moz-animation: slideOutRight 300ms var(--scottsCurve);
  animation: slideOutRight 300ms var(--scottsCurve);
}

@keyframes spinAround {
  0%   { transform: translate3d(0, 0, 0) rotate(0deg); }
  100% { transform: translate3d(0, 0, 0) rotate(360deg); }
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--high-color); }
}

@keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


@keyframes rolley {
  10% { transform: translateX(10px) rotate(8deg); }
  20% { transform: translateX(-10px) rotate(-8deg); }
  30% { transform: translateX(6px) rotate(6deg); }
  40% { transform: translateX(-6px) rotate(-6deg); }
  50% { transform: translateX(4px) rotate(4deg); }
  60% { transform: translateX(-4px) rotate(-4deg); }
  70% { transform: translateX(2px) rotate(2deg); }
  80% { transform: translateX(-2px) rotate(-2deg); }
  90% { transform: translateX(0px) rotate(1deg); }
  100% { transform: translateX(0px) rotate(0); }
}
@keyframes shake {
  10% { transform: translateX(10px) rotate(8deg); filter: blur(8px); }
  20% { transform: translateX(-10px) rotate(-8deg); filter: blur(8px); }
  30% { transform: translateX(6px) rotate(6deg); filter: blur(6px); }
  40% { transform: translateX(-6px) rotate(-6deg); filter: blur(4px); }
  50% { transform: translateX(4px) rotate(4deg); filter: blur(2px); }
  60% { transform: translateX(-4px) rotate(-4deg); filter: blur(1px); }
  70% { transform: translateX(2px) rotate(2deg); filter: blur(0px); }
  80% { transform: translateX(-2px) rotate(-2deg); }
  90% { transform: translateX(0px) rotate(1deg); }
  100% { transform: translateX(0px) rotate(0); }
}
/* Shudder */
@keyframes hvr-buzz-out {
  10% { transform: translateX(2px) rotate(2deg); }
  20% { transform: translateX(-2px) rotate(-2deg); }
  30% { transform: translateX(2px) rotate(2deg); }
  40% { transform: translateX(-2px) rotate(-2deg); }
  50% { transform: translateX(1px) rotate(1deg); }
  60% { transform: translateX(-1px) rotate(-1deg); }
  70% { transform: translateX(1px) rotate(1deg); }
  80% { transform: translateX(-1px) rotate(-1deg); }
  90% { transform: translateX(1px) rotate(0); }
  100% { transform: translateX(-1px) rotate(0); }
}
.hvr-buzz-out {
  animation-name: hvr-buzz-out;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.twitch-change {
  animation-name: hvr-buzz-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 0.3;
}

.bounce-change {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.quick-bounce-change {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 0.45;
}

.blur-change {
  animation-name: blurInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.rolley-change {
  animation-name: rolley;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.shaker-change {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@media screen and (prefers-reduced-motion: reduce) { 
  .shaker-change {
    animation: none;
  }
}