.reContain {
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.chartNoHeightContain {
  height: auto;
}

.chart10Shrink {
  width: 10vmin;
  padding: 1vmin;
}
.chart10Shrink .pieCore { font-size: 2.5vmin; }
.chart10Shrink p { 
  font-size: 1.25vmin; 
  margin: 0;
}

.chart10Contain {
  width: 10vmax;
  padding: 1vmax;
}
.chart10Contain .pieCore { font-size: 2.5vmax; }
.chart10Contain p { 
  font-size: 1.25vmax; 
  margin: 0;
}

.chart15Contain {
  width: 15vmax;
  padding: 1vmax;
}
.chart15Contain .pieCore { font-size: 5vmax; }
.chart15Contain p { 
  font-size: 1.5vmax;
  margin: 0;
}
.chart15sq { height: 15vmax; }

.chart20Contain {
  width: 20vmax;
  padding: 1vmax;
}
.chart20Contain .pieCore { font-size: 8vmax; }
.chart20Contain p { 
  font-size: 2vmax;
  margin: 0;
}

.pieRing {
  position: relative;
}
.pieCore {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
}

.hzBarContain15,
.hzBarContain25 {
  overflow: hidden;
}
.hzBarContain15 {
  height: 15px; 
}
.hzBarContain25 {
  height: 25px; 
}