.reContain {
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.chartNoHeightContain {
  height: auto;
}

.chart10Shrink {
  width: 10vmin;
  padding: 1vmin;
}
.chart10Shrink .pieCore { font-size: 2vmin; }
.chart10Shrink .pieCore > i { font-size: 0.9vmin; }
.chart10Shrink p { 
  font-size: 1.25vmin; 
  margin: 0;
}

.chart10Contain {
  width: 10vmax;
  padding: 1vmax;
}
.chart10Contain .pieCore { font-size: 2vmax; }
.chart10Contain .pieCore > i { font-size: 0.9vmax; }
.chart10Contain p { 
  font-size: 1.25vmax; 
  margin: 0;
}

.chart15Contain {
  width: 15vmax;
  padding: 1vmax;
}
.chart15Contain .pieCore { font-size: 3vmax; }
.chart15Contain .pieCore > i { font-size: 1.5vmax; }
.chart15Contain p { 
  font-size: 1.5vmax;
  margin: 0;
}
.chart15sq { height: 15vmax; }

.chart20Contain {
  width: 20vmax;
  padding: 1vmax;
}
.chart20Contain .pieCore { font-size: 4vmax; }
.chart20Contain .pieCore > i { font-size: 2vmax; }
.chart20Contain p { 
  font-size: 2vmax;
  margin: 0;
}

.pieRing {
  position: relative;
}
.pieCore {
  position: absolute;
	inset: 0;
	margin: auto;
	height: 2vmax;
	/*aspect-ratio: 1;*/
	text-align: center;
	line-height: 1;
	align-content: center;
}
.pieCore > i { display: block; }

.hzBarContain15,
.hzBarContain25 {
  overflow: hidden;
}
.hzBarContain15 svg,
.hzBarContain25 svg {
  height: unset !important;
}
.hzBarContain15 {
  height: 15px; 
}
.hzBarContain25 {
  height: 25px; 
}