
.pieContain {
  max-height: 300px;
  max-width: 300px;
}

.barContain {
  display: block;
  min-width: 600px;
  max-width: 800px;
  min-height: 600px;
  max-height: 800px;
}

.inlineContain {
  margin: 25px 0;
  width: 500px;
  min-height: 200px;
  max-height: 600px;
}

.smallContain {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
}

.miniContain {
  max-width: 150px;
  padding: 5px 10px;
}
.miniContain p { margin: 2px; }

.reContain {
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.layeredCircles {
  display: flex;
  flex-direction: row;
}

.monoPie, .monoPieDone, .monoDon, .monoDonDone {
  display: flex;
  justify-content: center;
}

.chartNoHeightContain {
  height: auto;
}

.chart10Contain {
  width: 10vw;
  padding: 1vmax;
}
.chart10Contain .pieCore { font-size: 6vw; }
.chart10Contain p { font-size: 1vw; }

.chart20Contain {
  width: 20vw;
  padding: 1vmax;
}
.chart20Contain .pieCore { font-size: 8vw; }
.chart20Contain p { font-size: 2vw; }

.chart25Contain {
  width: 25vw;
  padding: 1vmax;
}
.chart25Contain .pieCore { font-size: 10vw; }
.chart25Contain p { font-size: 2.5vw; }


.chart30Contain {
  width: 30vw;
  height: 30vw;
  padding: 1vmax;
}
.chart30Contain .pieCore { font-size: 12vw; }
.chart30Contain p { font-size: 3vw; }

.chart40Contain {
  width: 40vw;
  padding: 1vmax;
}
.chart40Contain .pieCore { font-size: 15vh; }
.chart40Contain p { font-size: 3vw; }

.pieRing {
  position: relative;
}
.pieCore {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
}