.react-contextmenu {
  min-width: 20ch;
  max-width: 30ch;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 16px;
  color: #373a3c;
  color: white;
  text-align: left;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.95);
  border: 1px solid;
  border-color: rgb(10,10,10);
  border-radius:.25rem;
  outline: none;
  pointer-events: none;
  transition: opacity 250ms ease !important;
  z-index: 99;
  box-shadow: var(--dropShadow0);
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
}

.react-contextmenu-item {
  padding: 3px 20px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: inherit;
  background: 0 0;
  border: 0;
	cursor: pointer;
	word-break: break-word;
  white-space: break-spaces;
  overflow-wrap: break-word;
}
.react-contextmenu-item:first-child {
  background-color: black;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  background-color: var(--midnightblue);
  border-color: var(--midnightblue);
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent;
  border-color: rgb(10,10,10);
  border-color: rgba(0,0,0,.15);
  cursor: default;
}

.react-contextmenu-item--divider {
  margin-bottom: 3px;
  padding: 2px 0;
  border-bottom: 1px solid rgb(100,100,100);
  border-bottom: 1px solid rgba(100,100,100,0.5);
  cursor: inherit;
}
/*
.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}
.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}
*/
.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.lightTheme .react-contextmenu {
  background-color: rgba(255,255,255,0.95);
  border-color: rgb(200,200,200);
  color: darkgray;
}
.lightTheme .react-contextmenu-item {
  background-color: transparent;
  color: black;
}
.lightTheme .react-contextmenu-item.react-contextmenu-item--active,
.lightTheme .react-contextmenu-item.react-contextmenu-item--active,
.lightTheme .react-contextmenu-item.react-contextmenu-item--selected {
  background-color: var(--midnightbluefade);
  border-color: var(--midnightbluefade);
}

.lightTheme .react-contextmenu-item.react-contextmenu-item--disabled,
.lightTheme .react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: lightgray;
  background-color: transparent;
}

/* TIMELINE */
n-timeline {
  display: block;
  line-height: 1.4em;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  width: 100%;
}
n-timeline-item {
  display: block;
  padding-left: 40px;
  position: relative;
}
n-timeline-item:last-child {
  padding-bottom: 0;
}
n-timeline-info {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  white-space: nowrap;
}
n-timeline-title {
  display: block;
  line-height: inherit;
  font-size: 1.15rem;
  padding-bottom: 40px;
}

n-timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
n-timeline-marker:before {
  background: transparent;
  border: 2px solid var(--black);
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}
n-timeline-marker.done:before {
  background: var(--emerald);
}
n-timeline-marker:after {
  content: "";
  width: 2px;
  background: var(--black);
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
n-timeline-item:last-child n-timeline-marker:after {
  content: none;
}