.downstreamView {
  display: grid;
  /*height: 89vh;*/
  grid-template-rows: 3vh 89vh; 
  grid-template-areas: 
    'downTools'
    'downContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.downstreamToolbar {
  grid-area: downTools;
  background-color: rgb(50,50,50);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.lightTheme .downstreamToolbar {
  background-color: var(--silverfade);
}

.downstreamContent {
  grid-area: downContent;
  overflow-y: scroll !important;
}

.downGridFrame {
  display: grid;
  grid-template-rows: 5vmin auto;
  grid-template-columns: 4vmin calc(100vw - 8vh - 4vmin - 1vmax);
  grid-template-areas: 
    'downWeek downHeader'
    'downWeek downOrders';
  border-bottom: 5px dashed green;
}



.downWeek {
  grid-area: downWeek;
  background-color: violet;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 3vmin;
  /*line-height: 1;*/
  text-align: right;
  padding: 2ch 0;
  /*text-orientation: sidways;*/
}

.downHead {
  grid-area: downHeader;
  background-color: teal;
}

.downOrders {
  grid-area: downOrders;
  background-color: rgba(234,32,234,0.1);
  display: grid;
  /*grid-auto-rows: 10vmin;*/
  
  
}