/* global object CSS declarations go here */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  outline-color: var(--neptuneColor);
  accent-color: var(--neptuneColor);
  --styled-font: 'VarelaLocal', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
*::-moz-selection { background-color: var(--neptuneColor);}
*::selection { background-color: var(--neptuneColor); }

@font-face {
  font-family: 'VarelaLocal';
  src: url('/fonts/varelaround-regular.woff2') format('woff2'),
       url('/fonts/VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
  interpolate-size: allow-keywords;
}

@-moz-document url-prefix() {
  select {
    height: auto;
  }
}

h1, h2, h3, h4 {
  margin: 0.5rem 0;
  font-family: var(--styled-font);
}
h1, h2, h3 {
  font-weight: 600;
}

p {
	font-size: 0.95rem;
  margin: 10px auto;
}

i {
  font-style: normal;
}
var { 
  text-transform: none;
  font-style: inherit;
}
code {
  font-family: revert;
}
sup, sub {
  text-transform: none;
}

dl {
  margin: 5px;
}

dd {
  margin-left: 25px;
}

a {
  border: 1px dotted transparent;
  color: var(--neptuneColor);
}

a:where(:link,:visited) {
  text-decoration: none;
}
a:active {
  outline: 1px dotted black;
}
a:where(:hover,:focus-visible) {
  text-decoration: underline !important;
}

button,
button span,
button label,
button n-model-button,
input[type='submit'],
input[type='reset'],
input[type='checkbox'] {
  transition: all 125ms ease-in-out;
  border: 0;
  border-color: black;
  padding: 0;
  text-indent: 0;
  user-select: none;
  cursor: pointer;
}
button:disabled, 
button:disabled:hover, 
button:disabled span, 
button:disabled label,
button:disabled n-model-button,
.react-contextmenu-wrapper:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type='reset'] {
  width: 70px;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: transparent;
}
input[type='reset']:hover {
  color: white;
  background-color: black;
}

form {
  padding: 0px;
  margin: auto;
}

form:focus {
  border-color: rgb(28,117,188);
}

form p {
  padding: 10px 0;
}

fieldset {
  margin: 15px 0;
  border: 1px dashed;
  word-break: keep-all;
  overflow: hidden;
}
legend {
  margin-left: 2%;
}

label {
  line-height: 1.75;
  text-transform: capitalize;
}

::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-moz-placeholder, /* Firefox 18- */
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.6;
}

input::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type='checkbox'], 
input[type='radio'] {
  margin: 0 5px;
  padding: 0;
  width: 1.5rem;
  min-height: 1.25rem;
}
@-moz-document url-prefix() {
  input[type='checkbox'],
  input[type='radio'] {
    width: 1rem;
    min-height: 1rem;
  }
}

input[type='checkbox'] + label, 
input[type='radio'] + label {
  display: inline;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
input[type='checkbox'] + label {
  vertical-align: super;
}

input[type='checkbox']:hover + label, input[type='radio']:hover + label {
  border-bottom-color: var(--neptuneColor);
}

input, select, textarea {
  line-height: 1.5;
  font-size: 1rem;
  text-indent: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: black;
  border-radius: 0px;
}
input:optional, 
select:optional, 
textarea:optional {
  border-style: dashed;
}

input:user-invalid, select:user-invalid, textarea:user-invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
  
input, select {
  min-height: 2rem;
  height: 2rem;
  width: 15rem;
}

input {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: black;
  border-left-color: transparent;
}

option {
  min-width: -moz-fit-content;
  min-width: fit-content;
}

textarea {
  min-width: 15rem;
  min-height: 2rem;
  field-sizing: content;
  border-color: inherit;
}

input:where(:focus,:active) {
  border-bottom-color: var(--neptuneColor);
}
select:where(:focus,:active),
textarea:where(:focus,:active) {
  border-color: var(--neptuneColor);
}

input:disabled, 
textarea:disabled, 
select:disabled, 
datalist:disabled {
  border-style: dotted;
  cursor: not-allowed !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: var(--neptuneColor);
}

input + label, textarea + label, select + label {
  display: block;
  font-size: var(--tx0);;
  line-height: 1.4;
  max-width: 15rem;
  word-wrap: normal;
  word-break: keep-all;
}

input:focus + label,
textarea:focus + label,
select:focus + label {
  color: var(--neptuneColor);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  opacity: 1;
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
  display: none;
}
input[type='search'] { 
  border-radius: 0;
}
input[type='search']::-webkit-search-cancel-button {
  background-color: pink;
}

hr {
  opacity: 0.4; 
}

pre {
  white-space: pre-wrap;
}
details {
  line-height: 1;
  font-size: 1rem;
	border: 0;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-shadow: none;
  overflow-x: clip;
  cursor: default;
}
details[open] summary {
  opacity: 1;
}
summary {
  min-height: 2.5rem;
  line-height: 1.2;
  margin: 0;
  padding: 1vw;
  cursor: pointer;
}
summary:where(:focus-visible) {
  outline: 1px dashed;
  outline-offset: 1px;
}

dialog {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--dropShadow2);
  background-color: var(--clouds);
  padding-inline: calc(var(--vert_border)*2);
  padding-block: calc(var(--vert_border)*2) calc(var(--vert_border)*4);
}
dialog::backdrop {
  background-color: rgb(10,10,10,0.5);
  backdrop-filter: blur(0.5px);
}
dialog > div:first-child .action {
  border-radius: 2px;
  width: 32.5px;
}
dialog > form {
  margin-inline: calc(var(--vert_border)*4);
}

img {
  margin: 0;
}

/* Reset the default appearance - Progress Bars */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Determinate */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Indeterminate */
progress:not([value]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: #ecf0f1;
}

progress::-webkit-progress-value {
  background-color: #2980b9;
}

progress::-moz-progress-bar {
  background-color: #2980b9;
  border: 0;
}

progress {
  width: 80%;
  min-width: 100px;
  height: 5px;
  background: #ecf0f1;
  border: 0;
}

table {
  border-collapse: collapse;
}

tr {
  min-height: 1rem;
  border-bottom: 1px solid lightgray;
}

th, td {
  font-size: 0.95rem;
}

th {
  padding: 0 10px;
  border-right: 1px solid lightgray;
  font-family: var(--styled-font);
}

td {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-spacing: 0;
  /*border-bottom: 1px solid lightgray;*/
  border-right: 1px solid lightgray;
  padding: 10px;
}

td:last-child, th:last-child {
  border-right: none;
}

@media screen and (max-width: 1000px) {
  th {
    padding: 0 10px;
  }
  td {
    line-height: 1.5rem;
  }
}