/* global object CSS declarations go here */

h1, h2, h3 {
  margin: 0.5em 0;
}

p {
	font-size: medium;
  margin: 0 auto;
}

i {
  font-style: normal;
}

a {
  border: 1px dotted transparent;
  color: var(--belizeHole);
}

a:link, a:visited {
  text-decoration: none;
}

a:active {
  border: 1px dotted white;
  opacity: 0.9;
}

nav a, .navIcon {
  padding: 0 1rem;
  color: black;
  display: inline-block;
  text-align: center;
}
nav a:hover {
  color: white;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

button, input[type='submit'], button span, button label {
 	-webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
	opacity: 0.9;
  border: 0;
  border-color: white;
  padding: 0;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button:hover, input[type='submit']:hover {
	opacity: 1;
}
button:focus {
  outline: none;
}
button:disabled, button:disabled:hover, button:disabled span, button:disabled label {
  opacity: 0.7;
  cursor: not-allowed;
}

form {
  padding: 0px;
  margin: auto;
}

form:focus {
  border-color: rgb(28,117,188);
}

fieldset {
  border: 1px dashed;
  word-break: keep-all;
  overflow: hidden;
}

label {
  line-height: 1.5rem;
  text-transform: capitalize;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}

input[type='checkbox'], input[type='radio'] {
  margin: 0 5px;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

input[type='checkbox'] + label, input[type='radio'] + label {
  display: inline-table;
  line-height: normal;
  height: auto;
  vertical-align: super;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
}

input[type='checkbox']:hover + label, input[type='radio']:hover + label {
  border-bottom-color: inherit;
}

input, select, textarea {
  line-height: 1.75rem;
  font-size: 1.5rem;
  text-indent: 0.5rem;
  width: 20rem;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
}

input:invalid, select:invalid, textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
  
input, select {
  min-height: 2rem;
  width: 15rem;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
}

select {
  background-color: white;
}

textarea {
  min-width: 20rem;
  min-height: 6rem;
  border-color: inherit;
}

input:focus, input:active, select:focus, select:active {
  border-bottom-color: var(--neptuneColor);
  outline: 0;
}

textarea:focus, textarea:active {
  border-color: var(--neptuneColor);
  outline: 0;
}

input:disabled, textarea:disabled, select:disabled, datalist:disabled {
  border-bottom-style: dotted;
  cursor: not-allowed;
  opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom-color: rgb(46,204,113);
  -webkit-text-fill-color: rgb(46,204,113);
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -moz-text-fill-color: rgb(46,204,113);
  -moz-box-shadow: 0 0 0px 1000px black inset;
  box-shadow: 0 0 0px 1000px black inset;
}

input + label, textarea + label, select + label {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
}
input:focus + label,
textarea:focus + label,
select:focus + label {
  color: var(--neptuneColor);
}

form p {
  padding: 10px 0;
}

hr {
  opacity: 0.4; 
}

details {
  line-height: 1.25em;
  font-size: 1em;
	border: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 10px 0;
  padding: 0;
  text-transform: capitalize;
  -moz-box-shadow:    inset 0 -1em 1em -0.5em rgb(48,48,48);
  -webkit-box-shadow: inset 0 -1em 1em -0.5em rgb(48,48,48);
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
  cursor: default;
}

details[open] summary {
  opacity: 1;
}

summary {
  line-height: 2em;
  margin: 0 0 0 10px;
  padding: 3px;
  cursor: pointer;
}
summary:focus {
	outline: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

img {
  margin: 0;
}

/* Reset the default appearance - Progress Bars */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Determinate */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Indeterminate */
progress:not([value]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: #ecf0f1;
}

progress::-webkit-progress-value {
  background-color: #2980b9;
}

progress::-moz-progress-bar {
  background-color: #2980b9;
  border: 0;
}

progress {
  width: 80%;
  min-width: 100px;
  height: 5px;
  background: #ecf0f1;
  border: 0;
}

tr {
  line-height: 2rem;
}

th {
  padding: 0 10px;
}

td {
  border-bottom: 1px inset rgba(255,255,255,0.3);
  border-right: 1px inset rgba(255,255,255,0.1);
  line-height: 2rem;
  text-indent: 0.5rem;
}

tr:last-child td {
  border-bottom: none;
}

td:last-child {
  border-right: none;
}

@media screen and (max-width: 1000px) {
  th {
    font-size: 0.75rem;
    padding: 0 10px;
  }
  
  td {
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-indent: 0.25rem;
  }
}
