
/* global object CSS declarations go here */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  /*outline-color: var(--neptuneColor);*/
   -moz-outline: none;
  outline: none;/*This is of course awfull*/
}
body {
  font-family: 'NunitoLocal', 'VarelaLocal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}


@font-face {
  font-family: 'NunitoLocal';
  src: url('/fonts/Nunito-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VarelaLocal';
  src: url('/fonts/VarelaRound-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  margin: 0.5rem 0;
  font-weight: 600;
}

p {
	font-size: medium;
  margin: 10px auto;
}

i {
  font-style: normal;
}
sup, sub {
  color: var(--asbestos);
}

dl {
  margin: 5px;
}

dd {
  margin-left: 25px;
}

a {
  border: 1px dotted transparent;
  color: var(--belizeHole);
}

a:link, a:visited {
  text-decoration: none;
}
/*
a:focus, a:active,
button:focus, button:active {
  outline-style: dotted;
  outline-width: thick;
}
*/
button,
button span,
button label,
input[type='submit'],
input[type='reset'] {
 	-webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border: 0;
  border-color: white;
  padding: 0;
  /*color: white;*/
  text-indent: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
button:disabled, button:disabled:hover, button:disabled span, button:disabled label {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type='reset'] {
  width: 70px;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  background-color: transparent;
}
input[type='reset']:hover {
  color: black;
  background-color: white;
}

form {
  padding: 0px;
  margin: auto;
}

form:focus {
  border-color: rgb(28,117,188);
}

fieldset {
  margin: 15px 0;
  border: 1px dashed;
  word-break: keep-all;
  overflow: hidden;
}
legend {
  margin-left: 2%;
}

label {
  line-height: 1.5rem;
  text-transform: capitalize;
}

::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-moz-placeholder, /* Firefox 18- */
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.6;
}

input[type='checkbox'], input[type='radio'] {
  margin: 0 5px;
  padding: 0;
  width: 1.5rem;
  min-height: 1.25rem;
}

input[type='checkbox'] + label, input[type='radio'] + label {
  display: inline;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
input[type='checkbox'] + label {
  vertical-align: super;
}

input[type='checkbox']:hover + label, input[type='radio']:hover + label {
  border-bottom-color: inherit;
}

input, select, textarea {
  line-height: 1.75rem;
  font-size: 1.2rem;
  text-indent: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: white;
  border-radius: 0px;
}

input:invalid, select:invalid, textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
  
input, select {
  min-height: 2rem;
  width: 15rem;
}

input {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
}

select {
  -moz-appearance: none;
  background-color: var(--clouds);
  border-color: white;
}
option, optgroup {
  color: black;
  background-color: white;
}

textarea {
  min-width: 20rem;
  min-height: 6rem;
  border-color: inherit;
}

input:focus, input:active {
  border-bottom-color: var(--neptuneColor);
}
select:focus, select:active,
textarea:focus, textarea:active {
  border-color: var(--neptuneColor);
}

input:disabled, textarea:disabled, select:disabled, datalist:disabled {
  border-style: dotted;
  cursor: not-allowed;
  opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: var(--neptuneColor);
  /*
  -webkit-box-shadow: 0 0 0px 1000px var(--peterriverfade) inset;
  -moz-box-shadow: 0 0 0px 1000px var(--peterriverfade) inset;
  box-shadow: 0 0 0px 1000px var(--peterriverfade) inset;
  */
}

input + label, textarea + label, select + label {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  max-width: 15rem;
  word-wrap: normal;
  word-break: keep-all;
  
}

input:focus + label,
textarea:focus + label,
select:focus + label {
  color: var(--neptuneColor);
}

form p {
  padding: 10px 0;
}

hr {
  opacity: 0.4; 
}

details {
  line-height: 1.25rem;
  font-size: 1rem;
	border: 0;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
  cursor: default;
}
details[open] summary {
  opacity: 1;
}
summary {
  margin: 0;
  padding: 1vh 1vw;
  cursor: pointer;
}
details:focus-within {
  outline-style: dotted;
  outline-width: thick;
}

input::-webkit-inner-spin-button {
  display: none;
}
input[type='search']::-webkit-search-cancel-button {
  background-color: pink;
}

img {
  margin: 0;
}

/* Reset the default appearance - Progress Bars */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Determinate */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Indeterminate */
progress:not([value]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: #ecf0f1;
}

progress::-webkit-progress-value {
  background-color: #2980b9;
}

progress::-moz-progress-bar {
  background-color: #2980b9;
  border: 0;
}

progress {
  width: 80%;
  min-width: 100px;
  height: 5px;
  background: #ecf0f1;
  border: 0;
}

table {
  border-collapse: collapse;
}

tr {
  min-height: 1rem;
}

th {
  padding: 0 10px;
  border-right: 1px solid rgba(255,255,255,0.5);
}

td {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.1);
  padding: 10px;
}

td:last-child, th:last-child {
  border-right: none;
}

@media screen and (max-width: 1000px) {
  th {
    font-size: 1rem;
    padding: 0 10px;
  }
  td {
    font-size: 1rem;
    line-height: 1.5rem;
    /*text-indent: 0.25rem;*/
  }
}
