.countFillWhite0 {
  background-image: linear-gradient(var(--clouds), transparent 0%);
}
.countFillWhite5 {
  background-image: linear-gradient(var(--clouds), transparent 9%);
}
.countFillWhite10 {
  background-image: linear-gradient(var(--clouds), transparent 19%);
}
.countFillWhite20 {
  background-image: linear-gradient(var(--clouds), transparent 29%);
}
.countFillWhite30 {
  background-image: linear-gradient(var(--clouds), transparent 39%);
}
.countFillWhite40 {
  background-image: linear-gradient(var(--clouds), transparent 49%);
}
.countFillWhite50 {
  background-image: linear-gradient(var(--clouds), transparent 59%);
}
.countFillWhite60 {
  background-image: linear-gradient(var(--clouds), transparent 69%);
}
.countFillWhite70 {
  background-image: linear-gradient(var(--clouds), transparent 79%);
}
.countFillWhite80 {
  background-image: linear-gradient(var(--clouds), transparent 89%);
}
.countFillWhite90 {
  background-image: linear-gradient(var(--clouds), transparent 99%);
}
.countFillWhite100 {
  background-image: linear-gradient(var(--clouds) 0%, var(--clouds));
}

.countFillBlue0 {
  background-image: linear-gradient(var(--belizeHole), transparent 0%);
}
.countFillBlue5 {
  background-image: linear-gradient(var(--belizeHole), transparent 9%);
}
.countFillBlue10 {
  background-image: linear-gradient(var(--belizeHole), transparent 19%);
}
.countFillBlue20 {
  background-image: linear-gradient(var(--belizeHole), transparent 29%);
}
.countFillBlue30 {
  background-image: linear-gradient(var(--belizeHole), transparent 39%);
}
.countFillBlue40 {
  background-image: linear-gradient(var(--belizeHole), transparent 49%);
}
.countFillBlue50 {
  background-image: linear-gradient(var(--belizeHole), transparent 59%);
}
.countFillBlue60 {
  background-image: linear-gradient(var(--belizeHole), transparent 69%);
}
.countFillBlue70 {
  background-image: linear-gradient(var(--belizeHole), transparent 79%);
}
.countFillBlue80 {
  background-image: linear-gradient(var(--belizeHole), transparent 89%);
}
.countFillBlue90 {
  background-image: linear-gradient(var(--belizeHole), transparent 99%);
}
.countFillBlue100 {
  background-image: linear-gradient(var(--belizeHole) 0%, var(--belizeHole));
}

.countFillGreen0 {
  background-image: linear-gradient(var(--nephritis), transparent 0%);
}
.countFillGreen5 {
  background-image: linear-gradient(var(--nephritis), transparent 9%);
}
.countFillGreen10 {
  background-image: linear-gradient(var(--nephritis), transparent 19%);
}
.countFillGreen20 {
  background-image: linear-gradient(var(--nephritis), transparent 29%);
}
.countFillGreen30 {
  background-image: linear-gradient(var(--nephritis), transparent 39%);
}
.countFillGreen40 {
  background-image: linear-gradient(var(--nephritis), transparent 49%);
}
.countFillGreen50 {
  background-image: linear-gradient(var(--nephritis), transparent 59%);
}
.countFillGreen60 {
  background-image: linear-gradient(var(--nephritis), transparent 69%);
}
.countFillGreen70 {
  background-image: linear-gradient(var(--nephritis), transparent 79%);
}
.countFillGreen80 {
  background-image: linear-gradient(var(--nephritis), transparent 89%);
}
.countFillGreen90 {
  background-image: linear-gradient(var(--nephritis), transparent 99%);
}
.countFillGreen100 {
  background-image: linear-gradient(var(--nephritis) 0%, var(--nephritis));
}

.countFillTeal0 {
  background-image: linear-gradient(var(--greenSea), transparent 0%);
}
.countFillTeal5 {
  background-image: linear-gradient(var(--greenSea) transparent 9%);
}
.countFillTeal10 {
  background-image: linear-gradient(var(--greenSea), transparent 19%);
}
.countFillTeal20 {
  background-image: linear-gradient(var(--greenSea), transparent 29%);
}
.countFillTeal30 {
  background-image: linear-gradient(var(--greenSea), transparent 39%);
}
.countFillTeal40 {
  background-image: linear-gradient(var(--greenSea), transparent 49%);
}
.countFillTeal50 {
  background-image: linear-gradient(var(--greenSea), transparent 59%);
}
.countFillTeal60 {
  background-image: linear-gradient(var(--greenSea), transparent 69%);
}
.countFillTeal70 {
  background-image: linear-gradient(var(--greenSea), transparent 79%);
}
.countFillTeal80 {
  background-image: linear-gradient(var(--greenSea), transparent 89%);
}
.countFillTeal90 {
  background-image: linear-gradient(var(--greenSea), transparent 99%);
}
.countFillTeal100 {
  background-image: linear-gradient(var(--greenSea) 0%, var(--greenSea));
}

.countFillPurple0 {
  background-image: linear-gradient(var(--wisteria), transparent 0%);
}
.countFillPurple5 {
  background-image: linear-gradient(var(--wisteria), transparent 9%);
}
.countFillPurple10 {
  background-image: linear-gradient(var(--wisteria), transparent 19%);
}
.countFillPurple20 {
  background-image: linear-gradient(var(--wisteria), transparent 29%);
}
.countFillPurple30 {
  background-image: linear-gradient(var(--wisteria), transparent 39%);
}
.countFillPurple40 {
  background-image: linear-gradient(var(--wisteria), transparent 49%);
}
.countFillPurple50 {
  background-image: linear-gradient(var(--wisteria), transparent 59%);
}
.countFillPurple60 {
  background-image: linear-gradient(var(--wisteria), transparent 69%);
}
.countFillPurple70 {
  background-image: linear-gradient(var(--wisteria), transparent 79%);
}
.countFillPurple80 {
  background-image: linear-gradient(var(--wisteria), transparent 89%);
}
.countFillPurple90 {
  background-image: linear-gradient(var(--wisteria), transparent 99%);
}
.countFillPurple100 {
  background-image: linear-gradient(var(--wisteria) 0%, var(--wisteria));
}

.fillRight0 {
  background-color: transparent;
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem;
}
.fillRight1 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 1%, transparent 5%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight5 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 5%, transparent 10%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight10 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 10%, transparent 20%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight20 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 20%, transparent 30%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight30 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 30%, transparent 40%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight40 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 40%, transparent 50%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight50 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 50%, transparent 60%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight60 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 60%, transparent 70%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight70 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 70%, transparent 80%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight80 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 80%, transparent 90%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight90 {
  background-image: linear-gradient(to right, var(--emeraldfrosted) 90%, transparent 100%);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}
.fillRight100 {
  background-color: var(--emeraldfrosted);
  text-shadow: rgba(0,0,0,0.3) 0.03rem 0.03rem
}

