.countFillConcrete0 {
  background-image: linear-gradient(var(--concrete), transparent 0%);
}
.countFillConcrete5 {
  background-image: linear-gradient(var(--concrete), transparent 9%);
}
.countFillConcrete10 {
  background-image: linear-gradient(var(--concrete), transparent 19%);
}
.countFillConcrete20 {
  background-image: linear-gradient(var(--concrete), transparent 29%);
}
.countFillConcrete30 {
  background-image: linear-gradient(var(--concrete), transparent 39%);
}
.countFillConcrete40 {
  background-image: linear-gradient(var(--concrete), transparent 49%);
}
.countFillConcrete50 {
  background-image: linear-gradient(var(--concrete), transparent 59%);
}
.countFillConcrete60 {
  background-image: linear-gradient(var(--concrete), transparent 69%);
}
.countFillConcrete70 {
  background-image: linear-gradient(var(--concrete), transparent 79%);
}
.countFillConcrete80 {
  background-image: linear-gradient(var(--concrete), transparent 89%);
}
.countFillConcrete90 {
  background-image: linear-gradient(var(--concrete), transparent 99%);
}
.countFillConcrete100 {
  background-image: linear-gradient(var(--concrete) 0%, var(--concrete));
}

.countFillBlue0 {
  background-image: linear-gradient(var(--belizeHole), transparent 0%);
}
.countFillBlue5 {
  background-image: linear-gradient(var(--belizeHole), transparent 9%);
}
.countFillBlue10 {
  background-image: linear-gradient(var(--belizeHole), transparent 19%);
}
.countFillBlue20 {
  background-image: linear-gradient(var(--belizeHole), transparent 29%);
}
.countFillBlue30 {
  background-image: linear-gradient(var(--belizeHole), transparent 39%);
}
.countFillBlue40 {
  background-image: linear-gradient(var(--belizeHole), transparent 49%);
}
.countFillBlue50 {
  background-image: linear-gradient(var(--belizeHole), transparent 59%);
}
.countFillBlue60 {
  background-image: linear-gradient(var(--belizeHole), transparent 69%);
}
.countFillBlue70 {
  background-image: linear-gradient(var(--belizeHole), transparent 79%);
}
.countFillBlue80 {
  background-image: linear-gradient(var(--belizeHole), transparent 89%);
}
.countFillBlue90 {
  background-image: linear-gradient(var(--belizeHole), transparent 99%);
}
.countFillBlue100 {
  background-image: linear-gradient(var(--belizeHole) 0%, var(--belizeHole));
}

.countFillGreen0 {
  background-image: linear-gradient(var(--nephritis), transparent 0%);
}
.countFillGreen5 {
  background-image: linear-gradient(var(--nephritis), transparent 9%);
}
.countFillGreen10 {
  background-image: linear-gradient(var(--nephritis), transparent 19%);
}
.countFillGreen20 {
  background-image: linear-gradient(var(--nephritis), transparent 29%);
}
.countFillGreen30 {
  background-image: linear-gradient(var(--nephritis), transparent 39%);
}
.countFillGreen40 {
  background-image: linear-gradient(var(--nephritis), transparent 49%);
}
.countFillGreen50 {
  background-image: linear-gradient(var(--nephritis), transparent 59%);
}
.countFillGreen60 {
  background-image: linear-gradient(var(--nephritis), transparent 69%);
}
.countFillGreen70 {
  background-image: linear-gradient(var(--nephritis), transparent 79%);
}
.countFillGreen80 {
  background-image: linear-gradient(var(--nephritis), transparent 89%);
}
.countFillGreen90 {
  background-image: linear-gradient(var(--nephritis), transparent 99%);
}
.countFillGreen100 {
  background-image: linear-gradient(var(--nephritis) 0%, var(--nephritis));
}

.countFillTeal0 {
  background-image: linear-gradient(var(--greenSea), transparent 0%);
}
.countFillTeal5 {
  background-image: linear-gradient(var(--greenSea) transparent 9%);
}
.countFillTeal10 {
  background-image: linear-gradient(var(--greenSea), transparent 19%);
}
.countFillTeal20 {
  background-image: linear-gradient(var(--greenSea), transparent 29%);
}
.countFillTeal30 {
  background-image: linear-gradient(var(--greenSea), transparent 39%);
}
.countFillTeal40 {
  background-image: linear-gradient(var(--greenSea), transparent 49%);
}
.countFillTeal50 {
  background-image: linear-gradient(var(--greenSea), transparent 59%);
}
.countFillTeal60 {
  background-image: linear-gradient(var(--greenSea), transparent 69%);
}
.countFillTeal70 {
  background-image: linear-gradient(var(--greenSea), transparent 79%);
}
.countFillTeal80 {
  background-image: linear-gradient(var(--greenSea), transparent 89%);
}
.countFillTeal90 {
  background-image: linear-gradient(var(--greenSea), transparent 99%);
}
.countFillTeal100 {
  background-image: linear-gradient(var(--greenSea) 0%, var(--greenSea));
}

.countFillPurple0 {
  background-image: linear-gradient(var(--wisteria), transparent 0%);
}
.countFillPurple5 {
  background-image: linear-gradient(var(--wisteria), transparent 9%);
}
.countFillPurple10 {
  background-image: linear-gradient(var(--wisteria), transparent 19%);
}
.countFillPurple20 {
  background-image: linear-gradient(var(--wisteria), transparent 29%);
}
.countFillPurple30 {
  background-image: linear-gradient(var(--wisteria), transparent 39%);
}
.countFillPurple40 {
  background-image: linear-gradient(var(--wisteria), transparent 49%);
}
.countFillPurple50 {
  background-image: linear-gradient(var(--wisteria), transparent 59%);
}
.countFillPurple60 {
  background-image: linear-gradient(var(--wisteria), transparent 69%);
}
.countFillPurple70 {
  background-image: linear-gradient(var(--wisteria), transparent 79%);
}
.countFillPurple80 {
  background-image: linear-gradient(var(--wisteria), transparent 89%);
}
.countFillPurple90 {
  background-image: linear-gradient(var(--wisteria), transparent 99%);
}
.countFillPurple100 {
  background-image: linear-gradient(var(--wisteria) 0%, var(--wisteria));
}

.fillRight0 {
  background-color: transparent;
}
.fillRight1 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 1%, transparent 5%);
}
.fillRight5 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 5%, transparent 10%);
}
.fillRight10 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 10%, transparent 20%);
}
.fillRight20 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 20%, transparent 30%);
}
.fillRight30 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 30%, transparent 40%);
}
.fillRight40 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 40%, transparent 50%);
}
.fillRight50 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 50%, transparent 60%);
}
.fillRight60 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 60%, transparent 70%);
}
.fillRight70 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 70%, transparent 80%);
}
.fillRight80 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 80%, transparent 90%);
}
.fillRight90 {
  background-image: linear-gradient(to right, var(--emeraldfrost) 90%, transparent 100%);
}
.fillRight100 {
  background-color: var(--emeraldfrost);
}

