body {
  background-color: var(--dark);
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  --vert_border: max(6px, 1vmin);
  --vert_frame: max(40px, 7vmin);
  --vert_adapt: calc(var(--vert_frame) - var(--vert_border));
  --vert_main: calc(100dvh - var(--vert_frame));
}
.windowPro, .containerPro {
  --vert_border: max(6px, 1vmin);
  --vert_frame: max(40px, 8vmin);
  --vert_adapt: calc(var(--vert_frame) - var(--vert_border));
  --vert_main: calc(100dvh - var(--vert_frame));
}

main {
  text-align: left;
  background: var(--clouds);
  z-index: 8;
}

.do_not_use::after {
  position: absolute;
  inset: 0;
	margin: auto;
	height: 100%;
	aspect-ratio: 1;
  content: "PROTOTYPE DO NOT USE";
  color: rgb(255,255,255,0.1);
  font-size: 20dvh;
  text-align: center;
}

.forceScroll { overflow-y: auto !important; }
.wideScroll { overflow-x: auto !important; }
.forceScrollStyle::-webkit-scrollbar {
  width: 1vmax;
  height: 1vmax;
}
.forceScrollStyle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2); 
  background-color: var(--navIndicatorA);
}
.forceScrollStyle::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  background-color: var(--navIndicatorB);
}
.forceScrollStyle {
  scrollbar-width: thin;
  scrollbar-color: var(--navIndicatorA) var(--navIndicatorB);
}

.thinScroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.thinScroll::-webkit-scrollbar-track {
  background-color: var(--navIndicatorA);
}
.thinScroll::-webkit-scrollbar-thumb {
  background-color: var(--navIndicatorB);
}
.thinScroll {
  scrollbar-width: thin;
  scrollbar-color: var(--navIndicatorA) var(--navIndicatorB);
}
.scrollWrap {
  overflow-x: auto !important;
}

.loading {
  position: fixed;
  inset: 0;
	margin: auto;
	/*aspect-ratio: 1;*/
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.debugWarningLight {
  outline: 10px solid red;
  outline-offset: -1vmin;
  animation: blinker 3s ease-out infinite;
}

.errorReport {
  margin: 10vh auto;
  width: 60vmax;
  height: 85vh;
  font-size: var(--tx5);
  color: white;
  overflow: hidden auto;
}
.errorReport p {
  font-size: var(--tx2);
  line-height: 1.75rem;
  font-family: sans-serif;
  padding: 0.5vh 0;
}
.errorReport button { font-size: var(--tx2); }
.errorReport a:hover, .errorReport button:hover {
  text-decoration: underline;
}
.errorReport details {
  padding: 1ch;
  box-shadow: none;
  letter-spacing: 2px;
  font-family: monospace;
  font-size: var(--tx2);
  line-height: 1.5;
}
.errorReport summary {
  padding: 0.5vh 0;
  font-size: var(--sm9);
  font-family: sans-serif;
  text-transform: none;
  cursor: pointer
}

.posRel {
  position: relative;
}
.stickyBar {
  position: sticky;
  position: -webkit-sticky;
  width: auto;
  background-color: transparent;
  z-index: 7;
}
.stickInPlace, .stick {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.stickInPlace {
  background-color: var(--clouds);
  box-shadow: 0 3px 6px var(--contrast);
}
.stick {
  background-color: inherit;
}
.layerOne { z-index: 1; }
.flexSpace { flex-grow: 2; }

.autoSelf { margin: 0 auto; }
.centreSelf { align-self: center; }
.startSelf { align-self: flex-start; }
.endSelf { align-self: flex-end; }
/* ================================ */

.centreContainer {
  display: grid;
  width: 100vw;
  height: 100dvh;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: 
    'centrecentre';
  align-items: center;
  justify-items: center;
}
.centreBox { grid-area: centrecentre; }

.simpleContainer {
  display: grid;
  /*min-width: 768px;*/
  min-height: 100%;
  max-height: 100%;
  grid-template-rows: var(--vert_frame) var(--vert_main);
  grid-template-columns: 100%;
  grid-template-areas: 
    'tenHeader'
    'simpleContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}
.simpleContent {
  grid-area: simpleContent;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.simpleContent.locked { overflow-y: hidden; }

.auxRight {
  grid-area: auxRight;
  background-color: rgb(25,25,25);
}

.proRight {
  grid-area: proRight;
  background-color: rgb(25,25,25);
}

.splashContainer {
  display: grid;
  width: 100vw;
  height: 100dvh;
  grid-template-rows: var(--vert_frame) 1fr;
  grid-template-columns: 100%;
  grid-template-areas: 
    'tenHeader'
    'splashContent';
  background-color: var(--dark);
}
.tenHeader {
  grid-area: tenHeader;
  display: grid;
  max-width: 100vw;
  grid-template-rows: var(--vert_border) var(--vert_adapt);
  grid-template-columns: 
    var(--vert_frame)
    var(--vert_adapt)
    0
    1fr 
    var(--vert_adapt)
    var(--vert_adapt);
  grid-template-areas: 
    'topBorder topBorder topBorder topBorder topBorder topBorder'
    'homeIcon proLeft auxLeft frontCenter auxRight proRight';
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(25,25,25);
}
.topBorder {
  grid-area: topBorder;
  background-color: var(--neptuneColor);
}
.homeIcon {
  grid-area: homeIcon;
  background-color: var(--neptuneColor);
  padding-bottom: var(--vert_border);
  background-image: url(neptune-logo-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 75%;
}
.frontCenterTitle {
  grid-area: frontCenter;
  max-width: calc(100vw - (var(--vert-adapt) * 3));
  height: var(--vert_adapt);
  background-color: rgb(25,25,25);
  font-family: var(--styled-font);
  font-size: calc(var(--vert_adapt) * 0.7);
  font-weight: 900;
  color: var(--silver);
}
.frontCenterTitle > sup,
.frontCenterTitle > sub {
  color: var(--asbestos);
}
.homeIcon, .homeIconLink, .homeName,
.frontCenterTitle,
.auxRight,
.proRight {
  display: flex;
  align-items: center;
  justify-content : center;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homeIconLink, .homeIconLogo {
  width: var(--vert_frame);
  height: var(--vert_frame);
}
.homeIconLink:focus-visible {
  outline-color: white;
  outline-offset: -0.2dvh;
}
.homeIconLogo { padding: var(--vert_border); }

.proLeft { grid-area: proLeft; }
.auxLeft { 
  grid-area: auxLeft; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeNavi, .homeNaviMini {
  display: grid;
  grid-gap: var(--vert_border);
  place-self: center center;
  place-items: stretch stretch;
}
.homeNavi {
  grid-area: splashContent;
  grid-template-columns: repeat(4, 20vw);
}
.homeNavi {
  grid-template-rows: 
    20dvh
    20dvh
    20dvh
    5dvh;
}
.homeNaviMini {
  grid-template-rows: 20dvh;
  grid-template-columns: repeat(2, 20vw);
}

#userRightPanel {
  border: none;
  border-radius: 0;
  box-shadow: -14px 0 28px 10px rgba(0,0,0,0.25), 
              -10px 0 10px 5px rgba(0,0,0,0.22);
  background-color: transparent;
  margin: 0 0 0 auto;
  padding: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 25vmax;
  overflow: hidden;
}
#userRightPanel::backdrop {
  background-color: rgb(0,0,0,0.5);
}
@keyframes slideInUser {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@media (prefers-reduced-motion: no-preference) {
  #userRightPanel {
    animation: slideInUser 125ms var(--scottsCurve) 1;
  }
}
#userPanelContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  padding-bottom: 4px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.95);
  overflow-x: hidden;
  overflow-y: hidden;
}
.userMenuTop {
  margin-top: var(--vert_border);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /*margin-top: var(--vert_border);*/
}
.userMenuTopTide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: var(--vert_adapt);
  min-width: var(--vert_adapt);
}
.userMenuPing {
  margin-block: 5px;
  padding-inline: 20px;
  width: 100%;
  font-size: clamp(1rem, 2dvh, 3rem);
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
}
.notifytabs {
  background-color: rgb(0,0,0);
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2px;
  width: 100%;
  position: sticky;
  top: 0;
}
.notifytabs > button {
  width: 100%;
  font-size: clamp(0.8rem, 1.5dvh, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.userMenuPing textarea,
.userMenuPing input {
  max-width: 100%;
  min-width: 100%;
  border: 1px solid black;
  background-color: rgb(20,20,20);
}
.userMenuPing textarea, 
.userMenuPing input, 
.userMenuPing button {
  font-size: clamp(0.8rem, 1.75dvh, 3rem);
  width: 100%;
}
.userMenuPing label {
  font-size: clamp(1rem, 1.5dvh, 3rem);
}
.userMenuPing input {
  min-height: 2rem;
  height: 3dvh;
}
.notifytabs > button,
.userMenuPing button {
  min-height: 1.5rem;
  height: 5dvh;
  max-height: 2rem;
  padding: 5px 20px;
  background-color: rgb(20,20,20);
}
.notifytabs > button.on,
.notifytabs > button:hover,
.userMenuPing button:hover {
  background-color: rgb(35,35,35);
}
.userMenuPing p {
  margin-block: 10px;
  padding-block: 5px;
}
#userPanelContent .subsection {
  color: #878a8c;
}
.usermenuaction, #userPanelContent .subsection {
  padding: 5px 20px;
  width: 100%;
  font-size: clamp(1rem, 2dvh, 3rem);
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  background-color: transparent;
  border: 0;
}
.usermenuaction {
  color: white;
  cursor: pointer;
}
.usermenuaction.indent {
  padding: 3px 20px 3px 40px;
}
.usermenuaction.thick {
  padding-block: 10px;
}
.usermenuaction:hover {
  background-color: var(--silverfader);
}
.userMenuTop .usermenuaction:hover {
  background-color: rgb(39, 174, 96, 0.2);
}
.mininboxCard {
  margin-block: 0.5rem;
  background-color: rgb(15,15,15);
  border: 1px solid rgb(0,0,0);
}
.mininboxCard > span {
  display: block;
  font-size: clamp(0.9rem, 1dvh, 1rem);
  margin-block: 0.4rem;
  margin-inline: 0.9rem;
}
.mininboxCard > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 1dvh, 1.2rem);
  border-bottom: 1px solid rgb(200,200,200,0.1);
  margin-inline: 0.3rem;
  padding-block: 0.4rem;
  text-indent: 1ch;
}
.mininboxCard > div:last-child {
  font-size: clamp(0.5rem, 1dvh, 0.7rem);
  margin-inline: 0.3rem;
  padding: 0.3rem;
  text-align: end;
  border-top: 1px solid rgb(200,200,200,0.1);
}
.mininboxCard.new {
  border-color: var(--neptuneColor);
}

.centreSpash {
  grid-area: splashContent;
  display: grid;
  grid-template-rows: 75dvh;
  grid-template-columns: 75vw;
  place-self: center center;
  place-items: stretch stretch;
}

.slidesLayout, .slidesNestedLayout {
  display: grid;
  grid-template-rows: var(--vert_main);
  grid-template-columns: minmax(min-content, 15vmin) 1fr;
  width: 100%;
  height: calc(100% - var(--vert_frame));
}
.slidesLayout {
  grid-template-areas: 
    'slidemenu slidearea';
}
.slidesNestedLayout {
  grid-template-areas: 
    'slidesubmenu slidesubarea';
}

.slidesSlide, .slidesNestedSlide {
  grid-area: slidearea;
  background-color: var(--clouds);
  overflow-y: auto;
  color: black;
  box-shadow: var(--dropShadowLeft1);
}
.slidesSlide {
  grid-area: slidearea;
}
.slidesNestedSlide {
  grid-area: slidesubarea;
  padding: 2vh 3vw;
}

.slidesMenu, .slidesNestedMenu {
  overflow-y: auto;
}

.slidesMenu {
  grid-area: slidemenu;
  display: flex;
  flex-direction: column;
  background-color: rgb(35,35,35);
}
.slidesNestedMenu {
  grid-area: slidesubmenu;
  background-color: var(--silverfade);
  box-shadow: var(--dropShadowLeft1);
}
.slidesNestedMenu hr:nth-child(odd) {
  margin: 4px 0;
}
.slidesNestedMenu hr:nth-child(even) {
  display: none;
}

.slideMenuButton, .slideNestedMenuButton, .slideNestedLand, .slideNestedClp {
  font-family: var(--styled-font);
  display: block;
  width: 100%;
  padding: 0 2vmin 0 1vmin;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
}
.slideMenuButton, .slideNestedMenuButton, .slideNestedLand {
  min-height: 6vmin;
  font-size: 1.75vmin;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.slideMenuButton > .small, .slideNestedMenuButton  > .small {
  font-size: 1.25vmin;
}
.slideMenuButton {
  color: var(--silver);
}
.slideNestedMenuButton,
.slideNestedLand {
  color: rgb(35,35,35);
  border-color: var(--asbestosfade);
}
.slideNestedMenuButton:nth-child(2) {
  border-top: 1px solid var(--asbestosfade);
}
.slideNestedSearch {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 4dvh;
  max-height: 4dvh;
  font-size: 2dvh;
  text-indent: 1ch;
  padding-right: 0.75ch;
  border-width: 0;
  border-style: none;
  box-shadow: inset 0 3px 5px 0 rgb(0 0 0 / 25%)
}
.slideNestedLand {
  position: sticky;
  top: 4dvh;
  background-color: rgb(213,218,220);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 25%)
}
.slideNestedClp {
  min-height: 4vmin;
  font-size: 1.5vmin;
  background-color: var(--contrast);
}

.slideMenuButton:hover, 
.slideMenuButton:active, 
.slideMenuButton.slideOn,
.slideNestedMenuButton:hover, 
.slideNestedMenuButton:active, 
.slideNestedMenuButton.slideOn,
.slideNestedLand:hover, 
.slideNestedLand:active,
.slideNestedLand.slideOn,
.slideNestedClp:where(:hover,:active,:focus-visible) {
  width: 100%;
  color: rgb(35,35,35);
  background-color: var(--silver);
}
.slideMenuButton:hover, 
.slideMenuButton:active, 
.slideMenuButton.slideOn {
  box-shadow: var(--dropShadow00);
}
.slideNestedMenuButton:hover, 
.slideNestedMenuButton:active, 
.slideNestedMenuButton.slideOn {
  box-shadow: none;
}
.slideMenuButton:disabled:hover,
.slideNestedMenuButton:disabled:hover {
  color: var(--silver);
  background-color: transparent;
  box-shadow: none;
}

@supports selector(:has(.intrBlue)) {
  .slideNestedMenuButton:has(.intrBlue) {
    border: 3px solid var(--neptuneColor);
  }
}
@supports not selector(:has(.intrBlue)) {
  .intrBlue { 
    border-left: 6px solid var(--neptuneColor); 
    padding-left: 3px; 
  }
}


.darkMenu {
  background-color: rgb(35,35,35);
}
.darkMenu .slideNestedMenuButton,
.darkMenu .slideNestedLand {
  color: var(--silver);
}
.darkMenu .slideNestedSearch {
  background-color: rgb(25,25,25);
  color: white;
}
.darkMenu .slideNestedLand {
  background-color: rgb(35,35,35);
  border-block: 5px solid var(--silver);
}
.darkMenu .slideNestedMenuButton.slideOn,
.darkMenu .slideNestedMenuButton:where(:hover,:active),
.darkMenu .slideNestedLand.slideOn,
.darkMenu .slideNestedLand:where(:hover,:active) {
  color: rgb(35,35,35);
  background-color: var(--silver);
}
/* ////////////////////////// */

.gap { margin-inline: 5px; }
.gapR { margin-inline-end: 5px; }
.gapL { margin-inline-start: 5px; }
.gapsR { row-gap: 2vh; }
.gapsC { column-gap: 2vw; }

.badge {
  position: absolute;
  right: 5px;
  top: 5px;
}

.titleSection {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.titleSection > span {
  display: table-cell;
  width: auto;
  font-size: var(--tx7);
  font-style: normal;
  vertical-align: bottom;
  margin: 0 10px;
}
@media screen and (max-width: 1200px) {
  .titleSection > span, .titleSection > button {
    font-size: var(--tx5);
  }
}

/* modal popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  overflow: hidden;
}
n-model-button {
  display: inline-block;
  line-height: 1.75;
  text-transform: capitalize;
}

n-lg-model, n-md-model, n-sm-model {
  background: rgb(236, 240, 241);
  position: relative;
  z-index: 10;
  border: 1px solid rgb(0,0,0);
  box-shadow: 0 0 100px 500px rgba(0,0,0,0.5);
  display: block;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: black;
}
n-lg-model {
  margin: 5dvh auto;
  max-width: 80%;
  min-height: 75%;
  max-height: 90dvh;
  padding: 1vmax 3vmax 3vmax 3vmax;
}
n-md-model {
  margin: 10dvh auto 5dvh auto;
  max-width: 60%;
  min-height: 60dvh;
  max-height: 85dvh;
  padding: 1vmax 2vmax 2vmax 2vmax;
}
n-sm-model {
  margin: 15dvh auto;
  max-width: 50%;
  min-height: 40dvh;
  max-height: 60dvh;
  padding: 1vmax 1vmax;
}
n-model-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  height: 3vmax;
  font-size: 2.25vmax;
  font-weight: 600;
  white-space: nowrap;
  column-gap: 6px;
}
n-model-head > span {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
n-lg-model-content, n-md-model-content, n-sm-model-content {
  overflow-y: auto;
  margin: 8px 0 0 0;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
n-lg-model-content {
  display: block;
  min-height: calc(75% - 30px - 3vmax);
  max-height: calc(90dvh - 30px - 3vmax);
}
n-md-model-content {
  display: block;
  min-height: calc(60dvh - 30px - 3vmax);
  max-height: calc(85dvh - 30px - 3vmax);
}
n-sm-model-content {
  display: block;
  min-height: calc(40dvh - 30px - 3vmax);
  max-height: calc(60dvh - 30px - 3vmax);
}

@media screen and (max-width: 1150px){
  n-lg-model { max-width: 90%; }
}
@media screen and (max-width: 1000px){
  n-lg-model { max-width: 95%; }
}

.tideOut::before, 
.tideFollowTip::before,
.taskTip::after, 
.auxTip::before, 
.auxTipScale::before,
.firstBadge::after,
.leapBonus::after {
  font-size: calc(var(--vert_border) * 1.5);
  border-radius: 25px;
  width: auto;
  padding: var(--vert_border);
  transition: opacity 150ms ease-in;
}
.tideOut::before, 
.tideFollowTip::before,
.taskTip::after, 
.auxTip::before, 
.auxTipScale::before,
.miniStack::after,
.firstBadge::after,
.leapBonus::before,
.smplTip::after,
.liteTip::after,
.liteTipW::before {
  text-transform: capitalize;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.tideOut::before, 
.tideFollowTip::before,
.taskTip::after, 
.auxTip::before, 
.auxTipScale::before,
.leapBonus::before {
  font-family: 'VarelaLocal';
  letter-spacing: 0.1ch;
}
.leapBonus:focus-visible::before, .leapBonus:hover::before,
.firstBadge:focus-visible::after, .firstBadge:hover::after,
.miniStack:focus-visible::after, .miniStack:hover::after,
.taskTip:focus-visible::after, .taskTip:hover::after,
.auxTip:focus-visible::before, .auxTip:hover::before,
.auxTipScale:focus-visible::before, .auxTipScale:hover::before,
.tideOut:enabled:focus-visible::before, .tideOut:enabled:hover::before, 
.tideFollowTip:focus-visible::before, .tideFollowTip:hover::before,
.smplTip:focus-visible::after, .smplTip:hover::after,
.liteTip:focus-visible::after, .liteTip:hover::after,
.liteTipW:focus-visible::before, .liteTipW:hover::before {
  visibility: visible;
  opacity: 1;
  transition-delay: 250ms;
  transition-property: visibility, opacity;
}
@media (orientation: portrait) {
  .taskTip:after, 
  .auxTipScale:before {
    font-size: 1.5vmin;
  }
  .tideFollowTip::before {
    font-size: 1.5vmin;
  }
  .containerPro .tideFollowTip::before {
    font-size: 1.5dvh;
  }
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.centreRow, .leftRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.centreRow {
  justify-content: center;
}
.leftRow {
  justify-content: flex-start;
}
.centreRow > span { margin: 5px 10px; }

.topLine > div { align-self: flex-start; }

.centreText { text-align: center; }
.leftText { text-align: left !important; }
.rightText { text-align: right; }

.middle {
  display: flex;
  align-items: center;
}

.split {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.half { width: 50%; }

.full {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lAlign { float: left; }
.rAlign { float: right; }

.flexRR {
  display: flex;
  flex-direction: row-reverse;
}

.lastSpanRight span:last-child {
  justify-self: right;
}

.spaceTxt { padding: 0 2px; }
.space5x5 { padding: 5vh 5vw; }
.space2vsq { padding: 2vh; }
.space1v { padding: 1vmax; }
.space2v { padding: 2vh 2vw; }
.space3v { padding: 3vh 3vw; }
.space36v { padding: 3vh 6vw; }
.space { padding: 24px; }
.spacehalf { padding: 12px; }
.espace { padding: 0.5rem; }
.vspace { padding: 24px 0; }
.vspacehalf { padding: 12px 0; }
.nspace { padding: 1vh 2vw 0 2vw; }
.uspace { padding: 0 2vw 1vh 2vw; }
.u10space { padding: 0 10px 10px 10px; }
.bspace { padding-bottom: 24px; }
.vbreak { padding: 0 0 24px 0; }
.nospace { padding: 0; }

.margin5 { margin: 5px; }
.vmargin { margin: 24px 0; }
.vmarginhalf { margin: 12px 0; }
.vmarginquarter { margin: 6px 0; }
.vtop { margin-top: 2vh; }
.vgap { margin-bottom: 2vh; }

.bmargin { margin-bottom: 24px; }
.wmargin { 
  margin-right: auto;
  margin-left: auto;}
.nomargin, .nopmargin p, .nomarginB::before { margin: 0 !important; }

.vwrap > span { margin-top: 0.5rem; }
.fillup > div {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.topVpad { padding-top: 1dvh; }
@media (orientation: portrait) {
  .topVpad { padding-top: 1vmin; }
}

.noindent,
.noindent > dd {
  margin-left: 0px;
  text-indent: 0;
}

.line05x { line-height: 0.5; }
.line1x { line-height: 1; }
.line15x { line-height: 1.5; }
.line2x { line-height: 2; }
.line3x { line-height: 3; }
.line4x { line-height: 4; }

.indent { padding-left: 2ch; }
.indent10 { padding-left: 10px; }
.indent3 { padding-left: 3ch; }
.indenText { text-indent: 0.75ch; }
.indentR { padding-right: 16px; }
.indent2v { padding-left: 2vw; }
.indent5v { padding-left: 5vw; }
.indent2min { padding-inline: 2dvmin; }

.breath { margin: 0 5px; }

.readlines p {
  margin: 10px 0 15px 0;
}
.readlines dd,
.readlines dt {
  margin: 5px 0 5px 0;
  align-items: flex-start;
}
.readPs p {
  margin: 5px 0;
  font-size: inherit;
}
.breaklines {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border-bottom: 1px solid lightgray;
}

.dropCeiling { margin-top: calc(4vh + 1rem); }
.overscroll { margin-bottom: 5vh; }
.overscroll2x { margin-bottom: 10vh; }

.topLine {
  padding-top: 0.5rem;
  border-top: 1px solid lightgray;
  margin-top: 0.5rem;
}
.bottomLine {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;
}

.noteCard {
  border-top: 1px dotted var(--peterriver);
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.noteCard > i {
  padding-left: 8px;
}
.noteCard > p {
  margin-top: 20px;
  padding-left: 8px;
}
.noteCard > div {
  margin: 20px 0 10px 0;
  padding-left: 8px;
}

.inboxCard {
  position: relative;
  margin-bottom: 1rem;
  background-color: rgb(40,40,40);
  border: 1px solid;
  border-color: rgb(30,30,30);
  border-radius: 2px;
}
.inboxCard.light {
  background-color: rgb(250,250,250);
  border-color: rgb(255,255,255);
}
.inboxCard.new {
  border-color: var(--neptuneColor);
}
.inboxCard > span {
  display: block;
  font-size: 1.1rem;
  margin-block: 0.5rem;
  margin-inline: 1rem;
}
.inboxCard > div:first-of-type {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(0,0,0,0.5);
  margin-inline: 0.4rem;
  padding-block: 0.5rem;
  text-indent: 1ch;
}
.inboxCard > div:last-of-type {
  font-size: 0.8rem;
  margin-inline: 0.4rem;
  padding: 0.4rem;
  text-align: end;
  border-top: 1px solid rgb(0,0,0,0.4);
}
.inboxCard > p:last-child {
  margin: 0;
  padding: 0.2rem 0.4rem;
  border-top: 1px solid rgb(0,0,0,0.3);
  background-color: rgb(35,35,35);
}
.inboxCard.light > div:first-child {
  font-size: larger;
  border-bottom: 1px solid rgb(200,200,200,0.5);
}
.inboxCard.light > span {
  font-size: inherit;
}
.inboxCard.light > div:last-of-type {
  font-size: smaller;
  border-top: 1px solid rgb(200,200,200,0.4);
}
.inboxCard.light > p:last-child {
  border-top: 1px solid rgb(200,200,200,0.3);
  background-color: transparent;
}
.inboxCard button {
	min-width: 1rem;
  min-height: 1rem;
  margin-inline: 0.5rem;
  font-size: 1rem;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.footnotes {
  box-shadow: none;
  font-size: var(--sm8);
  text-transform: none;
  margin: 0 2vw;
  max-width: 800px;
}
.footnote {
  margin: 0.5vh 3vw;
  display: list-item;
  list-style: lower-roman;
}
.fill {
  margin: 0;
  padding: 0;
}

.beside {
  display: flex;
  align-content: center;
  align-items: center;
}

.evenRow, .rightRow {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.evenRow {
  justify-content: space-evenly;
}
.rightRow {
  justify-content: flex-end;
}

.doFlexWrap { flex-wrap: wrap; }
.doJustWeen { justify-content: space-between; }

.autoFlex, .comfort, .balance, .balancer,
.rowWrap, .rowWrapR {
  display: flex;
  flex-flow: row wrap;
}

.comfort { justify-content: space-between; }
.balance { justify-content: space-around; }
.balancer { justify-content: space-evenly; }

.rowWrap, .rowWrapR { 
  align-items: center;
  row-gap: 5px;
}
.rowWrap { justify-content: flex-start; }
.rowWrapR { justify-content: flex-end; }
.rowStr { align-items: stretch; }

.autoFlex {
  align-items: start;
  justify-content: stretch;
}

.cardSelf,
.cardify > div,
.cardify > span > div,
.cardify > span > span > div,
.autoFlex > div {
  padding: 1vmin 2vmin 2vmin 2vmin;
  box-shadow: var(--dropShadow00);
  overflow: hidden;
}
.cardify > div,
.cardify > span > div,
.cardify > span > span > div,
.autoFlex > div {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vmin;
}
.cardify > div > h3,
.cardify > span > div > h3,
.cardify > span > span > div > h3,
.autoFlex > div > h3 {
  padding-bottom: 0.5vmin;
  border-bottom: 1px groove;
}

.autoGrid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(20ch, 1fr) );
  align-items: baseline;
}
.autoGrid.cardify > div {
  margin: 0;
}
.autoGrid.cardify {
  gap: 3vmin;
}

.minWide { width: min-content !important; }
.maxWide { width: max-content !important; }
.fitWide { 
  width: -moz-fit-content !important;
  width: fit-content !important; 
}
.wide {
  width: 100%;
  margin: 0 auto;
}
.w100 { width: 100% !important; }
.wAuto { width: auto !important; }

.minHeight { height: min-content; }
.autoHeight { min-height: auto; }
.hide { display: none !important; }
.hidden { display: none; }
.invisible { visibility: hidden; }
.collapse { visibility: collapse; }
.clearall { opacity: 0.1 !important; }
/*.offscreen {content-visibility: auto; }*/
.hiddenPIN {
  opacity: 0;
}
.showOnHover:hover > .hiddenPIN {
  opacity: 1;
}
@supports (-webkit-touch-callout: none) {
  .showOnHover:focus > .hiddenPIN {
    opacity: 1;
  }
}
.hiddenPrime {
  cursor: crosshair;
  margin: 1vh 1vw;
  border: 1ch groove lightgray;
  padding: 2vh 2vw;
  background-color: white;
}
.hiddenPrime > i {
  width: 100%;
  display: flex;
  font-size: 10vh;
  font-weight: 600;
  letter-spacing: 1ch;
  text-indent: 1ch;
}

.wrap { white-space: normal; }
.noWrap { white-space: nowrap; }

.smaller, .smaller > p { font-size: var(--sm7); }
.small, .small > p { font-size: var(--sm8); }
.smTxt, .medSm { font-size: var(--sm9); }
n-sm { 
  font-size: var(--sm8);
  line-height: 1;
  letter-spacing: 0.5px;
}
n-sm-b {
  font-size: var(--sm8);
  font-weight: 600;
  letter-spacing: 0.5px;
}
n-sm-i {
  font-style: italic;
  font-size: var(--sm7);
}

.med { font-size: var(--tx0); }
.medBig { font-size: var(--tx2); }

.big { font-size: var(--tx5); }

.bigbig { font-size: var(--tx6); }

.bigger { font-size: var(--tx7); }

.biggest { font-size: var(--txx0); }

.biggester { font-size: var(--txx5); }

.vbig { font-size: 2dvh; }
.vbigger { font-size: 3dvh; }

.dbbleWide { min-width: 30vw; }
.inlineForm > input[type='text'].dbbleWide { width: 30vw; }

input.variableInput.medBig {
  font-size: var(--tx2); 
  height: 40px;
  width: 248px;
}
input.variableInput.big { 
  font-size: var(--tx5);
  height: 48px;
  width: 256px;
}
input.variableInput.bigger { 
  font-size: var(--tx7); 
  height: 56px;
  width: 264px;
}
input.variableInput.biggest { 
  font-size: var(--txx0);
  height: 64px;
  width: 272px;
}
input.miniIn6, select.miniIn6 { width: 6ch; }
input.miniIn8, select.miniIn8 { width: 8ch; }
input.miniIn10, select.miniIn10 { width: 10ch; }
input.miniIn12, select.miniIn12 { width: 12ch; }
input.miniIn18, select.miniIn18 { width: 18ch; }
input.miniIn24, select.miniIn24 { width: 24ch; }
.stdInW { width: 15rem; }

.rmsc {
  --rmsc-main: var(--neptuneColor) !important;
  --rmsc-hover: var(--neptuneColor) !important;
  --rmsc-selected: var(--contrast) !important;
  --rmsc-h: 32px !important;
  --rmsc-border: black !important;
  --rmsc-bg: white !important;
  --rmsc-radius: 0px !important;
}
.rmsc,
.rmsc.multi-select {
  min-width: 15rem;
  max-width: 400px;
  margin: 0;
  text-align: initial;
  font-size: 1rem;
}

.rmsc .panel-content {
  min-width: fit-content;
}

.numberSet {
  min-height: var(--txx0);
  line-height: 1.1;
  font-family: 'VarelaLocal';
}
input.numberSet:focus, input.numberSet:active {
  border-color: var(--neptuneColor);
}
button.numberSet {
  font-size: var(--sm9);
  text-transform: none;
}

.fltrsInput {
  width: 100%;
  padding: 0 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fltrsInput input, .fltrsInput select {
  height: 1.25rem;
  min-width: 80%;
  font-size: var(--sm9);
  margin: 5px 5px;
}

.navIcon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.navIcon.middle {
  display: flex;
  align-items: center;
}
.icontext {
  display: block;
  white-space: nowrap;
  font-size: var(--sm9);
}

.tableAction {
  max-width: 10ch;
  min-width: 1.75rem;
  height: 1.5rem;
}
.tableTextarea {
  max-width: 30ch;
  min-width: 15ch;
  height: 1.5rem;
}
.tableAction.narrow {
  max-width: 5ch;
}

.tableInput {
  min-width: 10ch;
  max-width: min-content;
  height: 1.5rem;
}

.inlineRadio { height: 1.5rem; }
.minlineRadio { height: 1rem; }
.inlineCheckbox {
  height: 2rem;
  width: 1.5rem;
}
.checklistBox {
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.actionBox .flatpickr-input ~ .form-control {
  max-width: 100%;
  font-size: var(--tx0);
  text-indent: 0rem;
}

.timeInputs .flatpickr-input ~ .form-control {
  width: 9ch;
  font-size: var(--tx0);
  text-indent: 0.10rem;
}

.grid {
  display: table;
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
}

.nestedTable { table-layout: fixed; }

.nestedTable td {
  border-bottom: none;
  border-right: none;
  border-top: 1px solid rgba(0,0,0,0.2);
}
.nestedTable td:empty {
  border-top: none;
}
n-mock-table { display: table; }
n-mock-table-head { display: table-header-group; }
n-mock-table-group { display: table-row-group; }
n-mock-table-row { display: table-row; }
n-mock-table-row:last-child > n-mock-table-cell {
  border-bottom: none
}
n-mock-table-cell {
  display: table-cell;
  border-right: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  vertical-align: middle;
  padding: 1ch 0.5ch;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
n-mock-table-cell:last-child {
  border-right: none;
  margin: none;
}

n-col-table {
  display: grid;
  grid-template-columns: 150px repeat( auto-fit, minmax(200px, 300px) );
  grid-auto-flow: column;
  grid-gap: 10px; 
  overflow:auto;
  align-items: baseline;
}
n-col-table-head,
n-col-table-col {
  display: grid;
  grid-template-rows: repeat( auto-fit, minmax(1rem, auto) );
  align-items: baseline;
}
n-col-table-head > span,
n-col-table-col > span {
  border: 2px dotted pink;
}
n-col-table-head {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--clouds);
}
n-col-table-head > span {
  font-weight: bold;
  text-transform: capitalize;
}

.settingColumn {
  margin: 48px auto;
  min-width: 300px;
  width: 100%;
  max-width: 750px;
  
}
.settingColumn > div {
  margin: 0;
  width: 100%;
  border-bottom: 1px inset rgb(150,150,150);
  padding: 48px 24px;
}
.settingColumn > div:last-child {
  border-bottom: none
}

.max1200 { max-width: 1200px; }
.max1000 { max-width: 1000px; }
.max875 { max-width: 875px; }
.max750 { max-width: 750px; }
.max600 { max-width: 600px; }
.max500 { max-width: 500px; }
.max400 { max-width: 400px; }
.max300 { max-width: 300px; }
.max250 { max-width: 250px; }
.max100 { max-width: 100px; }
.min600 { min-width: 600px; }
.min400 { min-width: 400px; }
.min350 { min-width: 350px; }
.min300 { min-width: 300px; }
.min200 { min-width: 200px; }
.min8 { min-width: 8ch; }
.min6 { min-width: 6ch; }

.minWfit { 
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.maxW70 { max-width: 70vw; }
.maxW50 { max-width: 50vw; }
.maxW30 { max-width: 30vw; }

.block { display: block; }
.inline { display: inline-block; }
.flxGrow { flex-grow: 2; }

.minH60 { min-height: 60px; }

@media (orientation: portrait) {
  .navButtonText {
    font-size: 3vmin;
    padding: 0 1vmin;
  }
  #userRightPanel {
    width: 50vmin;
  }
}

.helpFloatTag {
  display: block;
  position: absolute;
  z-index: 1000;
  max-width: 225px;
  padding: 0 1rem;
  font-family: cursive;
  overflow: hidden;
  white-space: break-spaces;
  text-align: center;
  background-color: rgb(0,0,0);
  border: 10px solid rgb(0,0,0,0.5);
  border-radius: 25px;
  box-shadow: 0 0 25px 10px rgba(0,0,0);
}
.floatTR {
  top: 6%;
  right: 3%;
}
.helpFloatTag p,
.helpFloatTag button {
  color: white;
  font-size: 1.1em;
  text-shadow: 7px 8px 9px rgb(0 0 0);
}
.helpFloatTag p:has(big),
.helpFloatTag p:has(big) > big {
  font-size: 2.25em;
  margin: 0;
  padding: 0;
  line-height: 0.75;
  text-align: right;
}
.helpFloatTag button {
  font-family: monospace;
  background-color: transparent;
  padding: 2px 4px;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: white;
}


.tabsVert {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
}
.tabsVertMenu {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-rows: auto;
}
.tabsVertMenu > button {
  text-align: left;
  
}
.tabsVertMenu .tabOn,
.tabsVertMenu .tabOff:hover {
  border-right: none;
  background-color: var(--contrastlight);
  box-shadow: var(--dropShadowLeft00);
}
.tabsVertMenu .tabOff {
  background-color: hsl(204 8.2% 76.08%);
  background-color: var(--clouds);
}

.tabsVertContent {
  background-color: var(--contrastlight);
}