.windowPro, .containerPro {
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.windowPro {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: auto;
  grid-template-areas: 
    "tenHeader"
    "proContent";
}
.proContent {
  grid-area: proContent;
  height: 100%;
}

.containerPro {
  display: grid;
  grid-template-rows: 10vh calc(90vh - 65px) 70px;
  grid-template-areas: 
    "tenHeader tenHeader"
    "proPrime proInstruct"
    "proForm proForm";
}
.pro100 {
  grid-template-columns: 1vw 1fr;
}
.pro_20_80 {
  grid-template-columns: 20vmax 1fr;
}
.pro_40_60 {
  grid-template-columns: 40vmax 1fr;
}

.proSearch {
  grid-area: proSearch;
  z-index: 9;
  -webkit-box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  -moz-box-shadow:    0 0 15px 0.5px rgb(0,0,0);
  box-shadow:         0 0 15px 0.5px rgb(0,0,0);
}
.findForm {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(25,25,25);
  padding: 0;
  margin: 0;
}

.proPrime {
  grid-area: proPrime;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(35,35,35);
  transition: all 150ms ease-in-out;
  
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(19vmax, 1fr));
  align-items: stretch;
  justify-items: center;
}
.proPrimeSingle { 
  min-width: 15vmax;
  max-width: 20vmax;
}

.proInstruct {
  grid-area: proInstruct;
  height: 100%;
  background-color: var(--clouds);
  box-shadow: var(--dropShadow2);
}


.proActionForm {
  grid-area: proForm;
  background-color: rgb(25,25,25);
  box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  width: 100vw;
  min-width: 768px;
  height: 65px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: calc(1rem + 1vw);
  background-color: rbg(20,20,20);
}
.cardTitle > label {
  color: var(--silver);
}
.cardTitle > label:hover {
  color: var(--clouds);
}

.riverExpandToggle, 
.riverShrinkToggle {
  position: absolute;
  top: 50%;
  z-index: 2;
  opacity: 0.8;
  padding: 24px 4px;
  font-family: FontAwesome;
  background-color: var(--asbestos);
  color: var(--clouds);
}
.riverExpandToggle { left: 20vmax; }
.riverShrinkToggle { left: 40vmax; }

.riverExpandToggle:hover, 
.riverShrinkToggle:hover {
  opacity: 1;
}
/*
.exLeap {
  color: var(--silver);
  background-color: transparent;
  min-width: 40px;
  min-height: 40px;
  padding: 0 4px;
  font-size: 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.exLeap:hover {
  color: rgb(20,20,20);
  background-color: var(--silver);
}
*/
.miniHistory {
  width: 100%;
  border-collapse: collapse;
}
.miniHistory .mockTableCell {
  padding: 5px;
  text-align: center;
}

.actionForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.actionForm fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.footPick {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  
}
.footFill {
  flex-grow: 2;
}

.actionIconWrap {
  margin: 0 0.5rem;
}
.actionIconText {
  color: white;
  font-size: small;
  text-transform: capitalize;
  line-height: 1rem;
  display: block;
  white-space: nowrap;
  border-bottom-style: hidden;
  text-decoration: none;
}

.actionIconWrap:hover .actionIconText {
  text-decoration: underline;
}

.actionForm span,
.actionForm div {
  margin: 0 10px;
}
.actionForm input,
.actionForm select, 
.actionForm datalist {
  line-height: 1.5rem;
  font-size: 1rem;
  min-width: 125px;
  max-width: 250px;
  height: 1.75rem;
  letter-spacing: 1.5px;
}
.actionForm option {
  min-width: 125px;
  max-width: 250px;
}

.actionForm label {
  min-width: 125px;
  max-width: 200px;
  letter-spacing: 1.5px;
}

.actionForm > button {
  margin: 0 5px;
  height: 48px;
  font-size: medium;
  text-transform: capitalize; 
  word-break: keep-all;
  letter-spacing: 1px;
  overflow: hidden;
}







