.windowPro, .containerPro {
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.windowPro .followTask i, 
.containerPro .followTask i {
  font-size: calc(var(--vert_border) * 2.25);
}

.windowPro {
  display: grid;
  grid-template-rows: var(--vert_frame) var(--vert_main);
  grid-template-columns: auto;
  grid-template-areas: 
    "tenHeader"
    "proContent";
}
.proContent {
  grid-area: proContent;
  height: 100%;
}

.containerPro {
  display: grid;
  grid-template-rows: 
    var(--vert_frame) 
    calc(var(--vert_main) - 60px)
    60px;
  grid-template-areas: 
    "tenHeader tenHeader"
    "proPrime proInstruct"
    "proForm proForm";
}
.pro100 {
  grid-template-columns: 1vw 1fr;
}
.pro_20_80 {
  grid-template-columns: 14vmax 1fr;
}
.pro_40_60 {
  grid-template-columns: 28vmax 1fr;
}

.proSearch {
  grid-area: proSearch;
  z-index: 9;
  box-shadow: 0 0 15px 0.5px rgb(0,0,0);
}
.proPrime {
  grid-area: proPrime;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(35,35,35);
  transition: all 150ms ease-in-out;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(13vmax, 1fr));
  grid-template-rows: auto;
  align-items: stretch;
  justify-content: flex-start;
}
.proPrimeSingle { 
  min-width: 13vmax;
  width: 100%;
  max-width: 14vmax;
}

.proInstruct {
  grid-area: proInstruct;
  height: 100%;
  width: 100%;
  /*background-color: var(--black);*/
  box-shadow: var(--dropShadow2);
  z-index: 1;
}

.proActionForm {
  grid-area: proForm;
  --dark: rgb(25,25,25);
  box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  width: 100vw;
  height: 60px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.proActionForm::-webkit-scrollbar {
  height: 0.5vmax;
}

.riverExpandToggle, 
.riverShrinkToggle {
  position: absolute;
  top: 50%;
  z-index: 2;
  opacity: 0.8;
  padding: 24px 0;
  font-family: FontAwesome;
  background-color: var(--asbestos);
  color: var(--clouds);
  transition: 0s;
}
.riverExpandToggle { left: 14vmax; }
.riverShrinkToggle { left: 28vmax; }
.riverExpandToggle:hover, 
.riverShrinkToggle:hover {
  opacity: 1;
}

.darkCard {
  background-color: var(--dark);
  z-index: 1;
}
.miniHistory {
  margin: 1vh 0;
  min-width: 14vmax;
  max-width: 15vmax;
}

.actionForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  
}
.actionForm fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.actionForm button {
  border: 2px solid var(--pro_prob, var(--black));
}
.firstBadge {
  width: 100%;
  height: 100%;
  font-size: calc(var(--vert_border) * 2.5);
  z-index: 2;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .firstBadge { animation: pulse2 500ms ease-out 1; }
}
.firstBadge::after {
  content: "ùóôùó∂ùóøùòÄùòÅ\a" attr(data-steps);
  position: fixed;
  z-index: 10;
  top: var(--vert_border);
  left: calc(var(--vert_adapt) * 3.2);
  min-width: 75px;
  margin: 0.5dvh 0;
  background-color: var(--peterriver);
  color: black;
  white-space: pre-wrap;
  text-align: center;
  box-shadow: var(--dropShadow00);
}

#lookup {
  font-size: calc(var(--vert_border) * 4.25);
	color: white;
	background-color: transparent;
}

@media screen and (max-width: 885px){
  #lookup { 
    font-size: calc(var(--vert_border) * 3.75);
  }
}
@media screen and (max-width: 785px){
  #lookup {
    font-size: calc(var(--vert_border) * 3.25); 
  }
}
#lookup::selection {
	color: white;
	background-color: var(--black);
}
#lookup::-moz-selection {
	color: white;
	background-color: var(--black);
}
#lookup::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.9;
}
#lookup:-moz-placeholder { /* Firefox */
  color: white;
  opacity: 0.9;
}
#lookup:focus {
  outline-offset: -2px;
  outline-style: solid;
}