.containerEx {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 10vh auto;
  grid-template-areas: 
    'tenHeader tenHeader'
    'taskBar contentArea';
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.taskBarEx {
  grid-area: taskBar;
  height: 100%;
  background-color: rgb(25,25,25);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.contentAreaEx {
  grid-area: contentArea;
  overflow-y: auto;
}

.landingContainer, .traverseContainer,
.baseTraverseContainer {
  display: grid;
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}
.landingContainer, .traverseContainer {
  /*grid-template-columns: auto 192px;*/
  grid-template-columns: auto calc(15vmin + 5vw);
}
.baseContainer, .baseTraverseContainer {
  grid-template-columns: auto;
}
.landingContainer {
  grid-template-rows: calc(90vh - 40px) 40px;
}
.traverseContainer, .baseTraverseContainer {
  grid-template-rows: calc(90vh - 48px) 48px;
}
.landingContainer {
  grid-template-areas: 
    'traverseContent traverseList'
    'traverseContent actionBarEx';
} 
.traverseContainer {
  grid-template-areas: 
    'traverseContent traverseList'
    'actionBarEx actionBarEx';
}
.baseContainer {
  grid-template-areas: 
    'traverseContent'
    'traverseContent';
}
.baseTraverseContainer {
  grid-template-areas: 
    'traverseContent'
    'actionBarEx';
}

.traverseContent {
  grid-area: traverseContent;
}

.traverseList {
  grid-area: traverseList;
}

.actionBarEx {
  grid-area: actionBarEx;
  align-self: stretch;
  background-color: rgb(25,25,25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.actionBarEx > div {
  display: flex;
  flex-shrink: 0;
  /*flex-grow: 2;*/
}

/* ////////////////////////////////// */

.oneTwoThreeContainer, 
.aFrameContainer,
.vFrameContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-items: stretch;
}
.oneTwoThreeContainer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    'oneThird twoThirds twoThirds'
    'threeThirds threeThirds threeThirds';
}
.oneThirdContent { grid-area: oneThird; }
.twoThirdsContent { grid-area: twoThirds; }
.threeThirdsContent { grid-area: threeThirds; }

.aFrameContainer, .vFrameContainer {
  grid-template-columns: 1fr 1fr;
}
.aFrameContainer {
  grid-template-areas: 
    'avOne avOne'
    'avTwo avThree';
}
.vFrameContainer {
  grid-template-areas: 
    'avOne avTwo'
    'avThree avThree';
}
.avOneContent { grid-area: avOne; }
.avTwoContent { grid-area: avTwo; }
.avThreeContent { grid-area: avThree; }

.cookieRow {
  grid-area: frontCenter;
  background-color: rgb(25,25,25);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  max-width: calc(100vw - 20vh);
  height: 100%;
  padding: 0;
  overflow: hidden;
}
.cookieCrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 9vh;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
}

.cookie {
  background-color: transparent;
  color: var(--silver);
  max-width: 20vw;
  height: 5vh;
  font-size: 3vh;
  padding: 0 1vh;
  border-radius: 2.5vh;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.cookie:hover {
  color: rgb(30,30,30);
  background-color: var(--silver);
}
.crumb {
  color: var(--silverfade);
  overflow: hidden;
  width: 6vh;
}
.crumb::before {
	border-style: solid;
	border-width: 1vh 1vh 0 0;
	border-radius: 5%;
	content: '';
	display: inline-block;
	height: 12vh;
	position: relative;
	top: 0em;
	left: -8.5vh;
	transform: rotate(45deg);
	vertical-align: top;
	width: 12vh;
}

.taskColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.taskLink {
  background-color: rgb(25,25,25);
  color: var(--silver);
  margin: 8px 0;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  font-size: 3.5vh;
}
.taskLink:first-child {
  margin: 10px 0 5px 0;
}
.taskLink:disabled {
  color: black;
}
.taskLink:hover, .taskLink:active {
  color: rgb(25,25,25);
  background-color: var(--silver);
}
.onTL {
  color: rgb(25,25,25);
  background-color: var(--silver);
}

.smallResultsBox {
  width: 512px;
}
.smallResultsBox td:first-child {
  min-width: 96px;
}
.smallResultsBox td:last-child {
  font-weight: bold;
}
.smallResultsBox th {
  text-align: left;
  border-right: none;
}

.goodBox {
  background-color: var(--emeraldfade);
}
.badBox {
  background-color: var(--alizarinfade);
}

.indexCard {
  background-color: rgb(25,25,25);
}

