.kioskFrame {
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;

  display: grid;
  grid-template-rows: var(--vert_frame) calc(var(--vert_main) - var(--vert_border)) var(--vert_border);
  grid-template-columns: var(--vert_border) auto var(--vert_border);
  grid-template-areas: 
    "tenHeader tenHeader kR"
    "kL kioskContent kR"
    "kL oneFooter kR";
  background-color: var(--neptuneColor);
}
/*.oneFooter {*/
/*  grid-area: oneFooter;*/
/*}*/
.kioskContent {
  grid-area: kioskContent;
  height: 100%;
  display: grid;
  grid-template-rows: calc((var(--vert_main) - var(--vert_border)) * 0.6) auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    "kioskBatch kioskTask kioskItem"
    "kioskTime kioskProb kioskStat";
}

.kioskBatch,
.kioskItem,
.kioskTime,
.kioskProb,
.kioskStat {
  background-color: var(--dark);
  border: 1px solid var(--neptuneColor);
}
.kioskTime,
.kioskProb,
.kioskStat {
  padding: calc(var(--vert_border) * 2);
}
.kioskBatch {
  grid-area: kioskBatch;
}
.kioskTask {
  grid-area: kioskTask;
  background-color: var(--blackblack);
  display: flex;
  place-content: center;
  place-items: center;
}
.kioskItem {
  grid-area: kioskItem;
}
.kioskTime {
  grid-area: kioskTime;
}
.kioskProb {
  grid-area: kioskProb;
}
.kioskStat {
  grid-area: kioskStat;
}

.kioskFlash {
  grid-area: kioskBatch / kioskBatch / kioskStat / kioskStat;
  z-index: 10;
  display: grid;
  place-content: center;
  place-items: center;
  color: var(--blackfrost);
  background-color: var(--kflash_dark);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--kflash_light),
    var(--kflash_light) 2px,
    oklab(0 0 0 / 0) 5px,
    oklab(0 0 0 / 0) 5px
   ),
    repeating-linear-gradient(
    45deg,
    var(--kflash_light),
    var(--kflash_light) 2px,
    oklab(0 0 0 / 0) 2px,
    oklab(0 0 0 / 0) 3px
   );
}
.kioskFlash > n-faW,
.kioskFlash > n-faA,
.kioskFlash > n-faX {
  font-size: calc( (var(--vert_main) - var(--vert_border) ) * 0.7);
  display: flex;
}
.kioskFlash > span:nth-child(2) {
  font-size: calc( (var(--vert_main) - var(--vert_border) ) * 0.1);
}
.kioskFlash > span:nth-child(3) {
  text-transform: capitalize;
  font-size: calc( (var(--vert_main) - var(--vert_border) ) * 0.05);
}
.kioskFlash.wait {
  --kflash_light: var(--blackFade);
  --kflash_dark: var(--blackfrost);
  filter: blur(50px);
  animation: fadeSlow ease 2s;
  /*transition: all ease 2s;*/
}
.kioskFlash.good {
  --kflash_light: var(--emeraldfrost);
  --kflash_dark: var(--greenSea);
}
.kioskFlash.bad {
  --kflash_light: var(--alizarinfrost);
  --kflash_dark: var(--pomegranate);
}
.kioskFlash.clear {
  --kflash_light: transparent;
  --kflash_dark: transparent;
  pointer-events: none;
}

.kioskFrame .followTask i {
  font-size: calc(var(--vert_border) * 2.25);
}
#kioskSelect {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: calc(var(--vert_adapt) - 25%);
  border: none;
  padding: 0;
  line-height: 1.1;
  background-color: rgb(25, 25, 25);
  cursor: pointer;
  color-scheme: dark;
}
#kioskSelect:focus-visible {
  outline-color: var(--neptuneColor);
  outline-offset: -1px;
}
#kioskSelect > option {
  font-size: calc(var(--vert_adapt) - 50%);
}
#kioskSelect > option:enabled:not(:first-child) {
  color: white;
}

.fillstatic {
  color: var(--black);
  line-height: 1;
}
.kioskListen {
  height: 100%;
  width: 100%;
  min-width: min-content;
  display: inline-grid;
  place-content: center;
  background-color: transparent;
  overflow: clip;
  line-height: 1;
}
.kioskTask .fillstatic,
.kioskListen > :first-child {
  font-size: calc((var(--vert_main) - var(--vert_border)) * 0.4);
}
.kioskListen > :last-child {
  font-size: 7vmin;
}
.kioskItem .miniHistory {
  padding-block: 0 var(--vert_border);
  padding-inline: var(--vert_border);
  min-width: 100%;
}
.kioskTime .fillstatic,
.kioskStat .fillstatic {
  font-size: calc((var(--vert_main) - var(--vert_border)) * 0.2);
}

.skopegrid {
  display: flex;
  flex-flow: column;
  width: 80%;
  grid-gap: calc(var(--vert_border) * 2);
  align-self: flex-start;
  margin: calc(var(--vert_border) * 2) 0;
  height: calc(100% - (var(--vert_border) * 4));
  overflow-y: auto;
}
.skope {
  font-size: var(--tx2);
  padding: 8px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 2px solid;
  background-color: oklab(from var(--silver) 0.2 a b);
  border-color: oklab(from var(--silver) 0.25 a b);
}
.skope > :first-child {
  letter-spacing: 1px;
}
.skope:where(:focus-visible,:hover) {
  background-color: oklab(from var(--silver) 0.15 a b);
}
.skope:active {
  background-color: oklab(from var(--silver) 0.10 a b);
}

/*.firstBadge {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  font-size: calc(var(--vert_border) * 2.5);*/
/*  z-index: 2;*/
/*}*/
/*@media screen and (prefers-reduced-motion: no-preference) {*/
/*  .firstBadge { animation: pulse2 500ms ease-out 1; }*/
/*}*/
/*.firstBadge::after {*/
/*  content: "ğ—™ğ—¶ğ—¿ğ˜€ğ˜\a" attr(data-steps);*/
/*  position: fixed;*/
/*  z-index: 10;*/
/*  top: var(--vert_border);*/
/*  left: calc(var(--vert_adapt) * 3.2);*/
/*  min-width: 75px;*/
/*  margin: 0.5dvh 0;*/
/*  background-color: var(--peterriver);*/
/*  color: black;*/
/*  white-space: pre-wrap;*/
/*  text-align: center;*/
/*  box-shadow: var(--dropShadow00);*/
/*}*/
