.containerEx {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-areas: 
    'headerNav headerNav'
    'taskBar contentArea';
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.taskBarEx {
  grid-area: taskBar;
  height: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.contentAreaEx {
  grid-area: contentArea;
  overflow-y: auto;
}

.traverseContainer {
  display: grid;
  grid-template-columns: auto 176px;
  grid-template-rows: 32px calc(100vh - 128px) 48px;
  grid-template-areas: 
    'cookieNav traverseList'
    'traverseContent traverseList'
    'actionBarEx actionBarEx';
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.cookieNavEx {
  grid-area: cookieNav;
  background-color: var(--black);
}

.traverseContent {
  grid-area: traverseContent;
}

.traverseList {
  grid-area: traverseList;
}

.actionBarEx {
  grid-area: actionBarEx;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  align-items: center;
}
.actionBarEx > div {
  display: flex;
  flex-shrink: 0;
}

.oneTwoThreeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    'oneThird twoThirds twoThirds'
    'threeThirds threeThirds threeThirds';
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-items: stretch;
}
.oneThirdContent {
  grid-area: oneThird;
}
.twoThirdsContent {
  grid-area: twoThirds;
}
.threeThirdsContent {
  grid-area: threeThirds;
}

.cookieRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.cookieCrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 32px;
  overflow: hidden;
  background-color: var(--black);
  overflow: hidden;
}
.cookie {
  background-color: var(--black);
  color: var(--silver);
  min-width: 64px;
  max-width: 256px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 10px;
}
.crumb {
  color: var(--silverfade);
  font-size: 40px;
  overflow: hidden;
}
.cookieCrumb:hover > .cookie {
  color: var(--clouds);
}

.taskColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.taskLink {
  background-color: var(--black);
  color: var(--silver);
  margin: 5px 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.4rem;
}
.taskLink:first-child {
  margin: 10px 0 5px 0;
}
.taskLink:disabled {
  color: black;
}
.taskLink:hover, .taskLink:active {
  color: var(--black);
  background-color: var(--silver);
}
.onTL {
  color: var(--black);
  background-color: var(--silver);
}
.onTL:hover, .onTL:active {
  cursor: default;
}


