.containerPro, .proDefault, .proExpand {
  align-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.containerPro {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-areas: 
    "proSearch headerNav"
    "proContent proContent";
}

.proSearch {
  grid-area: proSearch;
  z-index: 9;
  -webkit-box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  -moz-box-shadow:    0 0 15px 0.5px rgb(0,0,0);
  box-shadow:         0 0 15px 0.5px rgb(0,0,0);
}

.proFull {
  grid-area: proContent;
}

.proDefault, .proExpand {
  grid-area: proContent;
  display: grid;
  grid-template-rows: calc(100vh - 108px) 60px;
  grid-template-areas: 
    'proRiver proInstruct'
    'formFooter formFooter';
  overflow-y: auto;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.proDefault {
  grid-template-columns: 20vw auto;
}
.proExpand {
  grid-template-columns: 40vw auto;
}

.proLeft {
  grid-area: proRiver;
  height: 100%;
  background-color: rgb(35,35,35);
}
.proRight {
  height: 100%;
  grid-area: proInstruct;
}

.proActionForm {
  grid-area: formFooter;
  background-color: rgb(25,25,25);
  -webkit-box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  -moz-box-shadow:    0 0 15px 0.5px rgb(0,0,0);
  box-shadow:         0 0 15px 0.5px rgb(0,0,0);
  width: 100%;
  min-width: 768px;
  height: 60px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: calc(1rem + 1vw);
  background-color: rbg(20,20,20);
}
.cardTitle > label {
  color: var(--silver);
}
.cardTitle > label:hover {
  color: var(--clouds);
}

.riverExpandToggle, .riverShrinkToggle {
  position: absolute;
  top: 50%;
  z-index: 7;
  opacity: 0.8;
  padding: 24px 4px;
  font-family: FontAwesome;
  background-color: var(--asbestos);
  color: var(--clouds);
}
.riverExpandToggle {
  left: 20vw;
}
.riverShrinkToggle {
  left: 40vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.riverExpandToggle:hover, .riverShrinkToggle:hover {
  opacity: 1;
}

.exLeap {
  color: var(--silver);
  background-color: transparent;
  min-width: 40px;
  min-height: 40px;
  padding: 0 4px;
  font-size: 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.exLeap:hover {
  color: rgb(20,20,20);
  background-color: var(--silver);
}

.onetwoSplit, .twooneSplit, .triSplit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 8px;
  justify-items: stretch;
}
.onetwoSplit {
  grid-template-areas: 
    'splitOne splitTwo splitTwo';
}
.twooneSplit {
  grid-template-areas: 
    'splitTwo splitTwo splitOne';
}
.triSplit {
  grid-template-areas: 
    'oneTri twoTri threeTri';
}
.onetwoSplitOne {
  grid-area: splitOne;
}
.onetwoSplitTwo {
  grid-area: splitTwo;
}
.triSplitOne { grid-area: oneTri; }
.triSplitTwo { grid-area: twoTri; }
.triSplitThree { grid-area: threeTri; }

.stonePlus {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    'stoneArea plusArea'
    'ncPlusArea ncPlusArea';
  justify-items: stretch;
}
.stonePlusLeft {
  grid-area: stoneArea;
}
.stonePlusRight {
  grid-area: plusArea;
}
.ncPlus {
  grid-area: ncPlusArea;
}

.miniHistory {
  width: 100%;
  border-collapse: collapse;
}
.miniHistory .mockTableCell {
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 1000px){
  .proExpand {
    grid-template-columns: 60vw auto;
  }
  .riverShrinkToggle {
    left: 60vw;
  }
}