.nesoMain {
	position: relative;
	display: grid;
  max-width: 100vw;
  grid-template-rows: auto 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'nesohead'
    'nesocenter';
  height: 100vh;
  height: 100dvh;
}

.nesoCenter {
	grid-area: nesocenter;
	display: grid;
  max-width: 100vw;
  grid-template-rows: 2fr auto;
  grid-template-columns: minmax(250px, 1fr) 2fr;
  grid-template-areas: 
    'nesoleft nesoright'
    'nesofoot nesofoot';
  height: 100%;
  overflow: hidden;
}

.nesoHead {
	grid-area: nesohead;
	width: 100%;
}
.nesoLeft {
	grid-area: nesoleft;
	overflow: hidden;
	margin: 0rem 2rem 1rem 2rem;
}
.nesoRight {
	grid-area: nesoright;
	overflow: hidden;
	margin: 0rem 2rem 1rem 2rem;
}
.nesoFloat {
	grid-area: nesoleft / nesoleft / nesoright / nesoright;
	align-self: self-start;
  justify-self: center;
}
.nesoFoot {
	grid-area: nesofoot;
	justify-content: flex-end;
}
	
.textbar {
	display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.texttitle {
  padding-inline: 1rem;
  margin: 0;
}

.textclick {
  padding-inline: 1rem;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headtext, .foottext, .subtext {
	font-weight: 600;
  color: var(--cloudstrans);
  white-space: nowrap;
}
.headtext {
	font-size: 5em;
	word-break: keep-all;
  word-wrap: normal;
  overflow-wrap: normal;
}
.subtext {
	font-size: 3em;
}
.foottext {
	font-size: 2em;
}

.nesoMain a:where(:hover,:focus-visible) {
  text-decoration: none !important;
}
.inboxFeed {
	overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  height: 100%;
  padding-block-end: 25%;
  padding-inline-end: 1%;
}

.nesoSend {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  height: 100%;
  padding-block-end: 25%;
  padding-inline-end: 1%;
}
.nesoSend form {
  margin-bottom: 1rem;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  background-color: rgb(40,40,40);
  border: 1px solid rgb(30,30,30);
  border-radius: 2px;
}
.nesoSend p {
	padding: 0;
	margin-block: 1rem;
}
.nesoSend label {
  margin-block: 0.5rem;
  font-size: 1rem;
}
.nesoSend input,
.nesoSend textarea,
.nesoSend button {
  font-size: 1.1rem;
  padding-block: 0.5rem;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  border: 1px solid rgb(0,0,0);
  background-color: #3B3B3B;
}
.nesoSend button {
  padding-inline: 1rem;
}
.nesoSend button:hover {
  background-color: var(--neptuneColor);
}

@media (orientation: landscape) {
	.nesoNav {
		display: none;
	}
}
@media (orientation: portrait) {
  .nesoMain {
	  width: auto;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'nesohead'
      'nesocenter'
      'nesonav';
  }
  
  .nesoCenter {
  	grid-area: nesocenter;
  	display: flex;
	  flex-direction: row;
    scroll-behavior: smooth;
	  overflow-y: hidden;
	  overflow-x: scroll;
	  overflow-x: overlay;
	  scroll-snap-type: inline mandatory;
  }
  
  .nesoNav {
  	grid-area: nesonav;
  	display: flex;
	  flex-wrap: nowrap;
	  justify-content: space-evenly;
	  background-color: rgb(40,40,40);
  }
  .nesoFoot.textbar {
    justify-content: flex-start;
  }
  .nesoFoot.textbar {
    flex-flow: column nowrap;
  }
	
	.nesoLeft, .nesoRight, .nesoFoot, .nesoFloat {
	  min-width: 100vw;
	  min-width: 100dvw;
	  max-width: 100vw;
	  max-width: 100dvw;
	  height: 100%;
	  scroll-snap-align: center;
	  margin: 0;
	}
	
	.nesoLeft, .nesoRight, .nesoFloat {
	  display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
	}
	.nesoLeft {
	  align-items: center;
	  border-inline-end: 1px solid var(--navIndicatorB);
	}
	.nesoSend {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}
	.nesoSend form, .inboxFeed, .nesoFloat form {
    margin: 5%;
    padding: 2rem;
  }
  .inboxFeed {
    margin: 0 5% 5% 5%;
    padding: 2rem 2rem;
  }
	.nesoRight {
	  align-items: stretch;
	  border-inline: 1px solid var(--navIndicatorB);
	}
	.nesoFoot {
	  border-inline-start: 1px solid var(--navIndicatorB);
	  padding: 2rem;
	}
	.nesoFoot > .textclick {
	  border-inline: 2px solid var(--neptuneColor);
	  margin-block: 1em;
	}
	.nesoFoot > i {
	  display: none;
	}
	
	.subtext {
	  display: none;
	}
	.navclick {
	  width: 100%;
	  text-align: center;
	}
	.navclick:nth-child(2) {
	  border-inline: 1px solid rgb(20,20,20);
	}
	.navclick:hover, .navclick.on {
	  background-color: var(--navIndicatorB);
	}
	.navclick:active {
    border: none;
	}
}