.overviewContainer,
.upstreamView,
.downstreamView {
  display: grid;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.overviewContainer {
  height: 100vh;
  grid-template-rows: 8vh 3vh 1fr;/*87vh*/
  grid-template-columns: 100%;
  grid-template-areas: 
    'tenHeader'
    'overviewNav'
    'overviewContent';
}
.upstreamView,
.downstreamView {
  grid-template-rows: 3vh 89vh;
}
.upstreamView {
  grid-template-areas: 
    'overviewNav'
    'overviewContent';
}
.downstreamView {
  grid-template-areas: 
    'downTools'
    'downContent';
}

.overviewToolbar,
.downstreamToolbar {
  background-color: var(--silverfade);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.overviewToolbar {
  grid-area: overviewNav;
}
.downstreamToolbar {
  grid-area: downTools;
}

.gridViewTools span,
.gridViewTools select,
.gridViewTools button,
.gridViewTools input { 
  font-size: 1.7vh;
}
.gridViewTools span { 
  padding: 0 1vw;
  max-height: 3vh;
  display: flex;
  align-items: center;
}
.gridViewTools select { 
  border-top-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer; 
}
.overlistSort {
  height: 3vh;
  font-size: 1rem;
  line-height: 1.1;
  width: 12ch;
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.overlistSort option {
  color: black;
}
.overToolSort {
  height: 3vh;
  text-indent: 0px;
  width: 15ch;
  /*min-width: min-content;*/
  margin: 0;
  padding: 0;
}

.overviewContent,
.downstreamContent {
  background-color: rgb(30,30,30);
  overflow-y: scroll;
}
.overviewContent {
  grid-area: overviewContent;
  min-height: 89vh;
}
.downstreamContent {
  grid-area: downContent;
  display: grid;
  grid-template-columns: minmax(min-content, 30vw) auto;
  grid-template-areas:
    'downFixed downScroll';
}

/*OverGrid */

.overGridFrame, .overGridWideFrame {
  display: grid;
  grid-template-areas: 
    'overFixedArea overScrollArea';
}
.overGridFrame {
  grid-template-columns: minmax(min-content, 30vw) auto;
}
.overGridWideFrame {
  grid-template-columns: minmax(min-content, max-content) auto;
}

.overGridFixed, .overGridScroll,
.downOrdersFixed, .downOrdersScroll {
  display: grid;
  grid-auto-rows: 10vh;
}

.overGridFixed {
  grid-area: overFixedArea;
  overflow-x: hidden;
}
.overGridRowFixedHeader {
  border-bottom: 1px outset rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overGridRowFixedHeader > span {
  color: var(--silver);
  padding: 1vh 2vw;
  text-transform: capitalize;
  font-size: 3vh;
  font-weight: 600;
}

.overGridRowFixed,
.downRowFixed {
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content) auto;
  place-items: stretch stretch;
}
.overGridRowFixed {
  border-right: 1px outset rgba(255,255,255,0.3);
  border-bottom: 1px outset rgba(255,255,255,0.4);
}
.downRowFixed {
  border-right: 0.3vw groove rgba(255,255,255,0.4);
}

.overGridRowFixed > div,
.downRowFixed > div {
  display: flex;
  align-items: center;
  /*white-space: nowrap;*/
  padding: 1vh 1vw;
  line-height: 1.3;
}
.downRowFixed > div {
  border-bottom: 1px outset rgba(255,255,255,0.4);
}

.overGridRowFixed > div:first-child,
.downRowFixed > div:first-child {
  font-size: 2vmin !important;
  justify-content: center;
  padding: 0;
  width: 4vmin;
  overflow: hidden;
}
.overGridRowFixed > div:first-child .big,
.downRowFixed > div:first-child .big {
  font-size: inherit;
}
.overGridRowFixed > div:nth-child(2),
.downRowFixed > div:nth-child(2) {
  border-right: 1px outset rgba(255,255,255,0.4);
  font-size: 2.5vh;
}
.overGridRowFixed > div:last-child,
.downRowFixed > div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.75vh;
}
.downRowFixed > div:last-child {
  border-right: 1px outset rgba(255,255,255,0.3);
}

.overGridScroll {
  grid-area: overScrollArea;
  overflow-x: scroll;
}

.overGridScroll:focus,
.downstreamScroll:focus-within {
  outline-color: var(--neptuneColor);
  outline-style: dotted;
  outline-width: thick;
  outline-offset: -0.2vmax;
}
.overGridRowScrollHeader {
  border-bottom: 1px outset rgba(255,255,255,0.4);
}
.overGridRowScroll {
  border-left: 0.25vw groove rgba(255,255,255,0.4);
  border-right: 0.3vw groove rgba(255,255,255,0.4);
}
.overGridRowScroll,
.downHeadScroll,
.downRowScroll {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 11vh;
  place-items: stretch stretch;
}
.downHeadScroll {
  grid-area: downHeaderS;
  line-height: 1;
  font-size: 1.2vh;
  text-align: center;
  align-items: center;
}

.overGridRowScroll > div,
.downRowScroll > div /*,
.statusBlock*/ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-right: 1vmin;
  padding-bottom: 1vh;
  padding-left: 1vmin;
  overflow: hidden;
  font-size: 1.5vh;
  line-height: 1.3;
  text-overflow: ellipsis;
  text-align: center;
}

.overGridRowScroll > div,
.downRowScroll > div {
  border-right: 1px outset rgba(255,255,255,0.3);
  border-bottom: 1px outset rgba(255,255,255,0.4);
}

.overGridRowScroll .big,
.downRowScroll .big {
  font-size: 2vh;
}
.overGridRowScroll .small,
.downRowScroll .small {
  font-size: 1vh;
}

.ovColhead { color: white; }

.overGridRowScroll > .yellowLeft,
.downRowScroll > .yellowLeft {
  border-left: 1vmin outset var(--orange); 
}
.overGridRowScroll > .yellowLeft {
  padding-left: 0;
}
.overGridRowScroll > .redRight,
.downRowScroll > .redRight {
  border-right: 1vmin outset var(--alizarin); 
}
.overGridRowScroll > .redRight {
  padding-right: 0;
}

/* downstream shipday grid */

.downstreamFixed {
  grid-area: downFixed;
}
.downstreamScroll {
  grid-area: downScroll;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
.downGridFrameFixed, .downGridFrameScroll {
  display: grid;
  grid-template-rows: 3vh auto;
  min-height: 30vh;
}
.downGridFrameFixed:last-child,
.downGridFrameScroll:last-child {
  margin-bottom: 1vmax;
}
.downGridFrameFixed {
  grid-template-columns: 4vmin auto;
  grid-template-areas: 
    'downWeek downHeaderF'
    'downWeek downOrdersF';
}
.downGridFrameScroll {
  grid-template-areas: 
    'downHeaderS'
    'downOrdersS';
}
.downWeek {
  grid-area: downWeek;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 3vmin;
  text-align: center;
  padding-bottom: 3vh;
}
.downGridFrameFixed:nth-child(odd) > .downWeek,
.downGridFrameFixed:nth-child(odd) > .downHeadFixed,
.downGridFrameScroll:nth-child(odd) > .downHeadScroll {
  background-color: rgba(41, 128, 185, 0.1);
}
.downGridFrameFixed:nth-child(even) > .downWeek,
.downGridFrameFixed:nth-child(even) > .downHeadFixed,
.downGridFrameScroll:nth-child(even) > .downHeadScroll {
  background-color: rgba(52, 152, 219, 0.1);
}
.downGridFrameFixed:first-child,
.downGridFrameScroll:first-child {
  min-height: 15vh;
}
.downGridFrameFixed:first-child > .downWeek {
  background-color: var(--alizarin);
  padding-bottom: 0;
}
.downHeadFixed {
  grid-area: downHeaderF;
  line-height: 1;
  font-size: 1.5vh;
  padding-left: 1vmin;
  display: flex;
  align-items: center;
}
.downOrdersFixed {
  grid-area: downOrdersF;
}
.downOrdersScroll {
  grid-area: downOrdersS;
}

.darkTheme .gridViewTools input[type=range] {
  filter: grayscale(1) invert(1) brightness(0.9);
  overflow: hidden;
}
.lightTheme .gridViewTools input[type=range] {
  filter: grayscale(0.95) brightness(1.4);
  overflow: hidden;
}

/* dense minifyed layout */

.overGridFrame.minifyed,
.downstreamContent.minifyed {
  grid-template-columns: minmax(min-content, 25vw) auto; }
  
.minifyed .label { display: none; }

.minifyed .overGridRowFixedHeader > span {
  font-size: 2vh;
}

.minifyed .overGridFixed,
.minifyed .overGridScroll,
.minifyed .downOrdersFixed, 
.minifyed .downOrdersScroll { 
  grid-auto-rows: 5vh; }
.minifyed .overGridRowScroll,
.minifyed .downRowScroll,
.minifyed .downHeadScroll { 
  grid-auto-columns: 8.25vh;
}


.minifyed .overGridRowScroll:first-child > div { 
  border-right: none; }
.minifyed .overGridRowScroll:first-child { 
  border: none; }
  
.minifyed .overGridRowFixedHeader:first-child { 
  border-right: none; }
.minifyed .overGridRowFixed > div:first-child > div,
.minifyed .downRowFixed > div:first-child > div {
  display: inline-flex;
  align-items: center; }
.minifyed .overGridRowFixed > div:first-child .big,
.minifyed .downRowFixed > div:first-child .big { 
  font-size: 1.5vmin; }
.minifyed .overGridRowFixed > div:nth-child(2),
.minifyed .downRowFixed > div:nth-child(2) { 
  font-size: 1.75vh; }
.minifyed .overGridRowFixed > div:last-child,
.minifyed .downRowFixed > div:last-child{ 
  font-size: 1.25vh; }

.minifyed .overGridRowScroll > div,
.minifyed .downRowScroll > div,
.minifyed .statusBlock {
  font-size: 1.2vh; }

.minifyed .overGridRowScroll .big,
.minifyed .downOrdersScroll .big { 
  font-size: 1.5vh; }

.darkTheme .overviewToolbar,
.darkTheme .downstreamToolbar {
  background-color: rgb(50,50,50);
}

.lightTheme .tenHeader,
.lightTheme .frontCenterTitle,
.lightTheme .auxRight,
.lightTheme .proRight {
  background-color: var(--clouds);
  color: var(--blackT); 
}
.lightTheme .overviewContent,
.lightTheme .overGridFrame,
.lightTheme .downstreamContent { 
  background-color: whitesmoke;
}
.lightTheme .overGridRowFixedHeader > span,
.lightTheme .ovColhead { 
  color: var(--blackT); 
}

.statusBlock {
  max-width: 11vh;
  min-width: 50%;
  min-height: 6vh;
  display: flex;
  align-items: center;
}
.statusBlock > div {
  width: 100%;
}

.infoSquareOuter {
  display: inline-block;
  text-align: center;
  margin: 5px;
}
.infoSquareLabel {
  font-size: smaller;
  vertical-align: top;
  text-transform: capitalize;
  word-break: keep-all;
  word-wrap: normal;
}

.ghostState {
  filter: saturate(0%) opacity(0.7);
  overflow-y: hidden;
  overflow-x: hidden;
}


@media (orientation: portrait) {
  .overviewContainer {
    grid-template-rows: 8vmin 3vh calc(97vh - 8vmin);
  }
  .overviewContainer .tenHeader {
    grid-template-rows: 1vmin 7vmin;
    grid-template-columns: 8vmin 1fr 8vmin 8vmin;
    grid-template-areas: 
      'topBorder topBorder topBorder topBorder'
      'homeIcon frontCenter auxRight proRight';
  }
  /*.overviewContainer .overviewToolbar {*/
  /*  align-items: stretch;*/
  /*}*/
  .overviewContent {
    min-height: calc( 100vh - 8vmin);
  }
  /*.overGridFrame {*/
  /*  grid-template-columns: minmax(30vw, 35vw) auto;*/
  /*}*/
  /*.overGridFrame.minifyed {*/
  /*  grid-template-columns: minmax(20vw, 30vw) auto;*/
  /*}*/
}
