/* OverLayout */

.overviewContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 8vh 3vh 1fr;/*87vh*/
  grid-template-columns: 100%;
  grid-template-areas: 
    'tenHeader'
    'overviewNav'
    'overviewContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.overviewToolbar {
  grid-area: overviewNav;
  background-color: rgb(50,50,50);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.gridViewTools span,
.gridViewTools select,
.gridViewTools button,
.gridViewTools input { 
  font-size: 1.7vh;
}
.gridViewTools span { 
  padding: 0 1vw;
  max-height: 3vh;
  display: flex;
  align-items: center;
}
.gridViewTools select { 
  border-top-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer; }

.overviewContent {
  grid-area: overviewContent;
  background-color: rgb(30,30,30);
  overflow-y: scroll;
  min-height: 89vh;
}

.overlistSort {
  height: 3vh;
  font-size: 1rem;
  line-height: 1.1;
  width: 12ch;
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.overToolSort {
  height: 3vh;
  text-indent: 0px;
  width: 12.5ch;
  min-width: min-content;
  margin: 0;
  padding: 0;
}

.overlistSort option {
  color: black;
}

/*OverGrid */

.overGridFrame, .overGridWideFrame {
  display: grid;
  grid-template-areas: 
    'overFixedArea overScrollArea';
}
.overGridFrame {
  grid-template-columns: minmax(min-content, 25vw) auto;
}
.overGridWideFrame {
  grid-template-columns: minmax(min-content, max-content) auto;
}

.overGridFixed {
  grid-area: overFixedArea;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 10vh;
  overflow-x: hidden;
}
.overGridRowFixedHeader {
  border-bottom: 1px outset rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overGridRowFixedHeader > span {
  color: var(--silver);
  padding: 1vh 2vw;
  text-transform: capitalize;
  font-size: 3vh;
  font-weight: 600;
}
.overGridRowFixed {
  border-right: 1px outset rgba(255,255,255,0.3);
  border-bottom: 1px outset rgba(255,255,255,0.4);
  display: grid;
  grid-template-columns: min-content auto;
  place-items: stretch start;
}
.overGridRowFixed > div {
  display: flex;
  align-items: center;
  /*white-space: nowrap;*/
  padding: 1vh 1vw;
}
.overGridRowFixed > div:first-child {
  border-right: 1px outset rgba(255,255,255,0.4);
  font-size: 2.5vh;
}
.overGridRowFixed > div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.75vh;
}

.overGridScroll {
  grid-area: overScrollArea;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 10vh;
  overflow-x: scroll;
}

.overGridScroll:focus {
  outline-color: var(--neptuneColor);
  outline-style: dotted;
  outline-width: thick;
  outline-offset: -0.25vmax;
  
}
.overGridRowScrollHeader {
  border-bottom: 1px outset rgba(255,255,255,0.4);
}
.overGridRowScroll {
  border-left: 0.25vw groove rgba(255,255,255,0.4);
  border-right: 0.3vw groove rgba(255,255,255,0.4);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 11vh;
  place-items: stretch stretch;
}

.overGridRowScroll > div, .statusBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh 1vw;
  overflow: hidden;
  font-size: 1.5vh;
  line-height: 1.3;
  text-overflow: ellipsis;
  text-align: center;
}
.overGridRowScroll > div {
  border-right: 1px outset rgba(255,255,255,0.3);
  border-bottom: 1px outset rgba(255,255,255,0.4);
}

.overGridRowScroll > div.redRight {
  border-right: 0.5vh outset var(--alizarin); 
}
.overGridRowScroll > div.yellowLeft {
  border-left: 0.5vh outset var(--orange); 
}
.overGridRowScroll .big {
  font-size: 2vh;
}
.overGridRowScroll .small {
  font-size: 1vh;
}

.ovColhead { color: white; }

/* dense minifyed layout */
.overGridFrame.minifyed {
  grid-template-columns: minmax(min-content, 20vw) auto; }
  
.minifyed .label { display: none; }

.minifyed .overGridRowFixedHeader > span {
  font-size: 2vh;
}

.minifyed .overGridFixed { grid-auto-rows: 5vh; }
.minifyed .overGridScroll { grid-auto-rows: 5vh; }
.minifyed .overGridRowScroll { 
  grid-auto-columns: 8.25vh; }


.minifyed .overGridRowScroll:first-child > div { 
  border-right: none; }
.minifyed .overGridRowScroll:first-child { 
  border: none; }
  
.minifyed .overGridRowFixedHeader:first-child { 
  border-right: none; }

.minifyed .overGridRowFixed > div:first-child { font-size: 1.75vh; }
.minifyed .overGridRowFixed > div:last-child { font-size: 1.25vh; }

.minifyed .overGridRowScroll > div, .minifyed .statusBlock {
  font-size: 1.2vh; }

.minifyed .overGridRowScroll .big { font-size: 1.5vh; }

.lightTheme .overviewToolbar {
  background-color: var(--silverfade);
}

.lightTheme .tenHeader,
.lightTheme .frontCenterTitle,
.lightTheme .auxRight,
.lightTheme .proRight {
  background-color: var(--clouds);
  color: var(--blackT); 
}
.lightTheme .overviewContent,
.lightTheme .overGridFrame { 
  background-color: whitesmoke;
}
.lightTheme .overGridRowFixedHeader > span,
.lightTheme .ovColhead { 
  color: var(--blackT); 
}

.statusBlock {
  max-width: 11vh;
  min-width: 50%;
}
.statusBlock > div {
  width: 100%;
}

.infoSquareOuter {
  display: inline-block;
  text-align: center;
  margin: 5px;
}
  
.infoSquareLabel {
  font-size: smaller;
  vertical-align: top;
  text-transform: capitalize;
  word-break: keep-all;
  word-wrap: normal;
}

.ghostState {
  filter: saturate(0%) opacity(0.7);
  overflow-y: hidden;
  overflow-x: hidden;
}


@media (orientation: portrait) {
  .overviewContainer {
    grid-template-rows: 8vmin 3vh calc(97vh - 8vmin);
  }
  .overviewContainer .tenHeader {
    grid-template-rows: 1vmin 7vmin;
    grid-template-columns: 8vmin 1fr 8vmin 8vmin;
    grid-template-areas: 
      'topBorder topBorder topBorder topBorder'
      'homeIcon frontCenter auxRight proRight';
  }
  /*.overviewContainer .overviewToolbar {*/
  /*  align-items: stretch;*/
  /*}*/
  .overviewContent {
    min-height: calc( 100vh - 8vmin);
  }
  /*.overGridFrame {*/
  /*  grid-template-columns: minmax(30vw, 35vw) auto;*/
  /*}*/
  /*.overGridFrame.minifyed {*/
  /*  grid-template-columns: minmax(20vw, 30vw) auto;*/
  /*}*/
}
