/* OverLayout */

.overviewContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 3vh 87vh;
  grid-template-columns: 100%;
  grid-template-areas: 
    'tenHeader'
    'overviewNav'
    'overviewContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.overviewToolbar {
  grid-area: overviewNav;
  background-color: rgb(50,50,50);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.overviewToolbar span,
.overviewToolbar select,
.overviewToolbar button { 
  font-size: 1.7vh;
}
.overviewToolbar span { padding: 0 1vw; }
.overviewToolbar select { cursor: pointer; }

.overviewContent {
  grid-area: overviewContent;
  background-color: rgb(30,30,30);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.overlistSort {
  min-height: calc(2vh);
  height: 3vh;
  font-size: 1rem;
  line-height: 1.1;
  width: 12ch;
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.overToolSort {
  min-height: 2vh;
  /*height: 3vh;*/
  /*line-height: 1.1;*/
  text-indent: 0px;
  width: 12.5ch;
  width: min-content;
  /*background-color: transparent;
  border-color: transparent;
  color: white;*/
}
.overlistSort option {
  color: black;
}

/*OverGrid */

.overGridFrame {
  display: grid;
  grid-template-columns: minmax(min-content, 25vw) auto;
  grid-template-areas: 
    'overFixedArea overScrollArea';
  /*background-color: var(--clouds);*/
}

.overGridFixed {
  grid-area: overFixedArea;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 10vh;
  overflow-x: hidden;
}
.overGridRowFixedHeader {
  border-bottom: 1px outset rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overGridRowFixedHeader > span {
  color: var(--silver);
  padding: 1vh 2vw;
  text-transform: capitalize;
  font-size: 3vh;
  font-weight: 600;
}
.overGridRowFixed {
  border-right: 1px outset rgba(255,255,255,0.2);
  border-bottom: 1px outset rgba(255,255,255,0.3);
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: stretch start;
}
.overGridRowFixed > div {
  display: flex;
  align-items: center;
  /*white-space: nowrap;*/
  padding: 1vh 1vw;
}
.overGridRowFixed > div:first-child {
  border-right: 1px outset rgba(255,255,255,0.3);
  font-size: 2.5vh;
}
.overGridRowFixed > div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 1.75vh;
}

.overGridScroll {
  grid-area: overScrollArea;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 10vh;
  overflow-x: scroll;
}
.overGridScroll:focus {
  background-color: rgb(35,35,35);
}
.overGridRowScrollHeader {
  border-bottom: 1px outset rgba(255,255,255,0.3);
}
.overGridRowScroll {
  border-left: 0.25vw groove rgba(255,255,255,0.3);
  border-right: 0.3vw groove rgba(255,255,255,0.3);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 11vh;
  place-items: stretch stretch;
}

.overGridRowScroll > div, .statusBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 1vw;
  overflow: hidden;
  font-size: 1.5vh;
  line-height: 1.3;
  text-overflow: ellipsis;
  text-align: center;
}
.overGridRowScroll > div {
  border-right: 1px outset rgba(255,255,255,0.2);
  border-bottom: 1px outset rgba(255,255,255,0.3);
}
.overGridRowScroll > div.redRight {
  border-right: 1vh outset var(--alizarin); 
}
.overGridRowScroll .big {
  font-size: 2vh;
}
.overGridRowScroll .small {
  font-size: 1vh;
}
.overGridRowScroll .watchWrap,
.overGridRowScroll .watchWrap label {
  height: 3vh;
  align-items: baseline;
}
.overGridRowScroll .watchWrap button {
  margin: 0;
  height: 3vh;
  font-size: 2vh;
}

.ovColhead { color: white; }

/* dense compact layout */
.overGridFrame.compact {
  grid-template-columns: minmax(min-content, 22.5vw) auto; }
 
.compact .overGridFixed { grid-auto-rows: 7.5vh; }
.compact .overGridScroll { grid-auto-rows: 7.5vh; }


/* dense minifyed layout */
.overGridFrame.minifyed {
  grid-template-columns: minmax(min-content, 20vw) auto; }
  
.minifyed .label { display: none; }

.minifyed .overGridRowFixedHeader > span {
  font-size: 2vh;
}

.minifyed .overGridFixed { grid-auto-rows: 5vh; }
.minifyed .overGridScroll { grid-auto-rows: 5vh; }
.minifyed .overGridRowScroll { 
  grid-auto-columns: 8.25vh; }


.minifyed .overGridRowScroll:first-child > div { 
  border-right: none; }
.minifyed .overGridRowScroll:first-child { 
  border: none; }
  
.minifyed .overGridRowFixedHeader:first-child { 
  border-right: none; }

.minifyed .overGridRowFixed > div:first-child { font-size: 1.75vh; }
.minifyed .overGridRowFixed > div:last-child { font-size: 1.25vh; }

.minifyed .overGridRowScroll > div, .minifyed .statusBlock {
  font-size: 1.2vh; }

.minifyed .overGridRowScroll .big { font-size: 1.5vh; }

.minifyed .overGridRowScroll .watchWrap,
.minifyed .overGridRowScroll .watchWrap label {
  height: 2vh; }
.minifyed .overGridRowScroll .watchWrap button {
  height: 2vh; font-size: 1.5vh; }
  

.lightTheme .overviewToolbar {
  background-color: var(--silverfade);
}
.lightTheme .tenHeader,
.lightTheme .frontCenterTitle,
.lightTheme .auxRight,
.lightTheme .proRight {
  background-color: var(--cloudstrans);
  color: var(--blackT); 
}
.lightTheme .overviewContent,
.lightTheme .overGridFrame { 
  background-color: var(--clouds);
}
.lightTheme .overGridScroll:focus { 
  background-color: var(--cloudstrans); 
}
.lightTheme .overGridRowFixedHeader > span,
.lightTheme .ovColhead { 
  color: var(--blackT); 
}