

.printLabel {
  width: 900px;
  height: 600px;
  margin: auto;
  border: 2px dashed black;
  padding: 30px 20px 0px 20px;
  background-color: white;
  color: black;
  font-weight: 900;
  font-stretch: semi-expanded;
}

.printLabel div {
  margin: 15px 5px;
  padding: 0 5px;
  align-items: center;
}

.printLabel i {
  margin: 5px 0;
  vertical-align: middle;
}

.printLabel input {
  width: 350px;
  border: none;
  line-height: 3rem;
  font-weight: 800;
  text-align: center;
}

.printLabel .bffr {
  width: 25px;
}
.printLabel .bffrbffr {
  width: 125px;
}

.pxxlg {
  font-size: 7rem;
  line-height: 6rem;
}

.pxlg {
  font-size: 4rem;
  line-height: 5rem;
}

.plg {
  font-size: 3rem;
}

.pmd {
  font-size: 2rem;
}

.psm {
  font-size: 1rem;
}

@media print {
  .printLabel {
     position: absolute;
     top: 0;
     left: 0;
     transform: rotate(180deg) scale(1.2);
     width: 100%;
     margin: 0;
     padding: 0;
     border: none;
   }
  .noPrint {
    display: none;
  }
  body {
    background-color: white;
  }
  header, h1, header nav, footer, img {
  display: none;
  }
}