
.printLabel {
  box-sizing: content-box;
  font-family: 'VarelaLocal';
  width: 900px;
  height: 600px;
  margin: auto;
  border: 2px dashed black;
  padding: 0;
  background-color: white;
  color: black;
  font-weight: 900;
  font-stretch: semi-expanded;
  vertical-align: middle;
}

.printLabel div {
  margin: 10px;
  padding: 0;
  align-items: center;
}
.printLabel > div:first-child {
  margin: 20px 10px 10px 10px;
}

.printLabel i {
  margin: 5px 0;
  vertical-align: middle;
}

.printLabel input {
  width: 300px;
  height: auto;
  border: none;
  font-weight: 800;
  text-align: center;
}

.pxlg, .plg, .pmd, .psm {
  text-align: center;
}
.pxlg {
  font-size: 9rem;
  line-height: 1.1;
}
.plg {
  font-size: 6rem;
  line-height: 1.2;
}
.pmd { font-size: 3rem; }
.psm { font-size: 2.5rem; }
.pxsm { font-size: 2rem; }

@media print {
  .printLabel {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     border: none;
     transform: rotate(180deg);
  }
  .noPrint {
    display: none;
  }
  body {
    background-color: white;
  }
  header, h1, header nav, footer, img {
  display: none;
  }
  .alwaysPrint {
    display: block !important;
    visibility: visible !important;
  }
  .errorReport {
    background-color: white;
    color: black;
  }
}

.userCard {
  width: 5.5cm;
  height: 8.5cm;
  /*border: 2px dotted;*/
}
.userCardContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 15px double var(--neptuneColor);
  border-radius: 25px;
  background-color: white;
}
.userCardContent > img {
  position: relative;
  top: 5px;
  height: 1.5cm; 
}
.userCardContent > n-username {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin: 5px;
  height: 3cm;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.userCardContent > span {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 5px;
  margin: 0 auto;
  height: 3cm;
}