
.printLabel {
  width: 900px;
  height: 600px;
  margin: auto;
  border: 2px dashed black;
  padding: 30px 30px 30px 30px;
  background-color: white;
  color: black;
  font-weight: 900;
  font-stretch: semi-expanded;
  vertical-align: middle;
}

.printLabel div {
  margin: 15px 5px;
  padding: 0 5px;
  align-items: center;
}

.printLabel i {
  margin: 5px 0;
  vertical-align: middle;
}

.printLabel input {
  width: 350px;
  border: none;
  line-height: 3rem;
  font-weight: 800;
  text-align: center;
}

.pxxlg {
  font-size: 8rem;
  line-height: 8rem;
}

.pxlg {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

.plg {
  font-size: 4rem;
}

.pmd {
  font-size: 2.5rem;
}

.psm {
  font-size: 1.5rem;
}

@media print {
  .printLabel {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     border: none;
     transform: rotate(180deg);
  }
  .noPrint {
    display: none;
  }
  body {
    background-color: white;
  }
  header, h1, header nav, footer, img {
  display: none;
  }
}