/* River */

.stone {
	 position: relative;
	 margin: 0.5em;
  width: 13rem;
  height: 13rem;
  font-size: 2rem;
	 text-transform: uppercase;
	 text-shadow: 0 0 10px #000;
  color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 110%;
  border-radius: 50%;
  border: 10px solid transparent;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 1;
  /*
  box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
              0 0 .2em .2em rgba(43,43,43,0);
              */
  cursor: pointer;
}

.stone:focus {
	outline: 1px dotted;
}

.stone:disabled {
 opacity: 0.5;
}

.crackedTop {
 height: 6.5rem;
 z-index: 2;
 border-radius: 6.5rem 6.5rem 0 0;
 margin: 0.5em 0.5em 0 0.5em;
 /*
 box-shadow: 0 -.4em .2em .2em rgba(43,43,43,0.3),
             0 -.4em .2em .2em rgba(43,43,43,0);
             */
}

.crackedBot {
 height: 6.5rem;
 border-radius: 0 0 6.5rem 6.5rem;
 margin: 0 0.5em 0.5em 0.5em;
 background-image: url(test.svg);
 background-color: var(--pomegranate);
}

.crackedBot:hover, .crackedBot:active {
 background-color: var(--alizarin);
 z-index: 2;
 /*
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--alizarinfade);
             */
}

.nowUp {
 font-weight: bolder;
}

.iFirst {
 background-image: url(first.svg);
 background-color: var(--belizeHole);
}
.iFirst:hover, .iFirst:active {
 background-color: var(--peterriver);
 /*
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--peterriver);
             */
}

.iCheck {
 background-image: url(inspect.svg);
 background-color: var(--nephritis);
}
.iCheck:hover, .iCheck:active {
 background-color: var(--emerald);
 /*
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--emeraldfade);
             */
}

.iTest {
 background-image: url(test.svg);
 background-color: var(--greenSea);
}
.iTest:hover, .iTest:active {
 background-color: var(--turquoise);
 /*
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--turquoisefade);
             */
}

.iBuild {
 background-image: url(build.svg);
 background-color: transparent;
 border-color: var(--belizeHole);
 /*
 box-shadow: inset 0 0 .1em .1em rgba(43,43,43,0.3),
             inset 0 0 .1em .1em rgba(43,43,43,0);
             */
}
.iBuild:hover, .iBuild:active {
 border-color: var(--peterriver);
 /*
  box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
              0 0 .2em .2em var(--peterriver),
        inset 0 0 .2em .2em rgba(43,43,43,0.3),
        inset 0 0 .2em .2em var(--peterriver);
        */
}

.iFinish {
 background-image: url(inspect.svg);
 background-color: var(--wisteria);
}
.iFinish:hover, .iCheck:active {
 background-color: var(--amethyst);
 /*
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--amethystfade);
             */
}


.pebble {
 line-height: 2em;
 font-size: 1em;
 min-width: 100%;
	min-height: 2.5rem;
	padding: 0 3px;
	text-transform: uppercase;
	vertical-align: middle;
 -moz-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 -webkit-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 transition: all 200ms ease-out;
}

.pebbleSVG {
 backface-visibility: hidden;
 width: 3rem;
 height: auto;
 -webkit-transform: translate(0%, 20%);
 -moz-transform: translate(0%, 20%);
 transform: translate(0%, 20%);
}

.stoneForm {
 display: flex;
 width: 100%;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

.stoneForm input[type='text'],
.stoneForm select,
.stoneForm label,
.stoneForm details {
 color: black;
 min-width: 225px;
 max-width: 250px;
 text-align: center;
}

.stoneForm textarea {
 min-width: 225px;
 max-width: 225px;
 min-height: 1rem;
 border-color: black;
}

.stoneForm details {
 box-shadow: none;
}

.stoneForm input[type='checkbox']:focus + label,
.stoneForm input:focus + label,
.stoneForm select:focus + label,
.stoneForm textarea:focus + label{
 color: black;
 border-bottom-color: black;
 outline-color: black;
}

@media screen and (max-width: 1000px) {
 .stoneForm input[type='text'],
 .stoneForm textarea,
 .stoneForm select,
 .stoneForm label,
 .stoneForm details {
  color: black;
  min-width: 200px;
  max-width: 200px;
 }
 .space {
  padding: 10px;
 }
 
 
}