/* River */

.stone {
	 position: relative;
	 margin: 0.5em;
  width: 13rem;
  height: 13rem;
  font-size: 2rem;
	 text-transform: uppercase;
	 text-shadow: 0 0 10px #000;
  color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 110%;
  border-radius: 50%;
  border: 10px solid transparent;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
 	opacity: 0.9;
  box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
              0 0 .2em .2em rgba(43,43,43,0);
  cursor: pointer;
}

.stone:focus {
	outline: 1px dotted;
}

.stone:disabled {
 opacity: 0.5;
}

.nowUp {
 font-weight: bolder;
}

.iFirst {
 background-image: url(first.svg);
 background-color: var(--peterriver);
}
.iFirst:hover, .iFirst:active {
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--peterriverfade);
}

.iCheck {
 background-image: url(inspect.svg);
 background-color: var(--emerald);
}
.iCheck:hover, .iCheck:active {
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--emeraldfade);
}

.iTest {
 background-image: url(test.svg);
 background-color: var(--turquoise);
}
.iTest:hover, .iTest:active {
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--turquoisefade);
}

.iBuild {
 background-image: url(build.svg);
 background-color: transparent;
 border-color: var(--peterriver);
 box-shadow: inset 0 0 .1em .1em rgba(43,43,43,0.3),
             inset 0 0 .1em .1em rgba(43,43,43,0);
}
.iBuild:hover, .iBuild:active {
  box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
              0 0 .2em .2em var(--peterriverfade),
        inset 0 0 .2em .2em rgba(43,43,43,0.3),
        inset 0 0 .2em .2em var(--peterriverfade);
}

.iFinish {
 background-image: url(inspect.svg);
 background-color: var(--amethyst);
}
.iFinish:hover, .iCheck:active {
 box-shadow: 0 0 .2em .2em rgba(43,43,43,0.3),
             0 0 .2em .2em var(--amethystfade);
}


.pebble {
 line-height: 2em;
 font-size: 1em;
 min-width: 100%;
	min-height: 2.5rem;
	padding: 0 3px;
	text-transform: uppercase;
	vertical-align: middle;
 -moz-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 -webkit-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
 transition: all 200ms ease-out;
}

.pebbleSVG {
 backface-visibility: hidden;
 width: 3rem;
 height: auto;
 -webkit-transform: translate(0%, 20%);
 -moz-transform: translate(0%, 20%);
 transform: translate(0%, 20%);
}

.stoneForm {
 display: flex;
 width: 100%;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

.stoneForm input[type='text'],
.stoneForm select,
.stoneForm label,
.stoneForm details {
 color: black;
 min-width: 225px;
 max-width: 250px;
 text-align: center;
}

.stoneForm textarea {
 min-width: 225px;
 max-width: 225px;
 min-height: 1rem;
 border-color: black;
}

.stoneForm details {
 box-shadow: none;
}

.stoneForm input[type='checkbox']:focus + label,
.stoneForm input:focus + label,
.stoneForm select:focus + label,
.stoneForm textarea:focus + label{
 color: black;
 border-bottom-color: black;
 outline-color: black;
}