
.action {
  line-height: 2em;
  /*font-size: 1em;*/
  font-size: medium;
  min-width: 2.5rem;
	min-height: 2.5em;
	padding: 0 10px;
	text-transform: uppercase;
	vertical-align: bottom;
}

.smallAction {
  line-height: 1rem;
  font-size: medium;
  min-width: 2rem;
	height: 2rem;
	padding: 0 10px;
}

.miniAction {
  min-width: 1rem;
  min-height: 1rem;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  background-color: transparent;
}
.miniAction:hover {
  opacity: 1;
  border-bottom-color: inherit;
}
.miniAction:focus {
  outline: 1px dotted;
}

.mini15x {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.mini2x {
  min-width: 2rem;
  min-height: 2rem;
}

.inlineLink {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.inlineLink:hover {
  text-decoration: underline;
}

.jump {
  font-size: 2rem;
  min-width: 1rem;
	min-height: 1rem;
	margin: 0 5px;
	text-transform: uppercase;
	background-color: transparent;
  border: 1px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
  transition: border 250ms ease;
  word-break: break-all;
}
.jump:hover, .jump:focus, .jump:active {
  border-bottom-color: #3498db;
}

.jumpBar {
  width: 100%;
  min-height: 32px;
  font-size: 1rem;
  letter-spacing: 1px;
	margin: 5px 0;
	padding: 2px;
	background-color: transparent;
  border-bottom: 1px groove rgba(255,255,255,0.3);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: white;
  transition: border 250ms ease;
  word-break: keep-all;
  word-wrap: normal;
}
.jumpBar:hover, .jumpBar:focus, .jumpBar:active {
  border-bottom-color: #3498db;
}

.roundActionIcon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
}

.dbblRound {
  width: 5rem;
  height: 5rem;
}
.trpplRound {
  width: 7.5rem;
  height: 7.5rem;
}

.moveLR {
  color: white;
}
.moveLR:hover, .moveLR:active {
  color: black;
  background-color: white;
}

.activeMark {
  border-left-color: var(--belizeHole);
}

.gMark {
  border-left-color: var(--nephritis);
}

.ngMark {
  border-left-color: var(--pomegranate);
}

.tabOn {
	background-color: var(--midnightblue);
  border-bottom: 3px solid var(--silver);
}

.tabOff {
	background-color: var(--wetasphalt);
	border-bottom: 3px groove transparent;
}
.tabOff:hover {
	background-color: var(--midnightblue);
}

.tabBody {
  overflow-x: auto;
}

.open {
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0);
  border: none;
  box-shadow: none;
}

.actionBox {
  -moz-box-shadow:    0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
  box-shadow:         0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
}

.pop {
  -moz-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  -webkit-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
}

.popBlue {
  -moz-box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
  -webkit-box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
  box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
}

.fade {
  opacity: 0.4;
}

.transparent {
  background-color: transparent;
}

.green {
	background-color: var(--emerald);
}
.greenT {
	color: var(--emerald);
}
.greenBorder {
  background-color: transparent;
	border: 3px solid var(--emerald);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.blue {
	background-color: var(--peterriver);
}
.blueT {
	color: var(--peterriver);
}
.blueHover {
	color: var(--peterriver);
	background-color: var(--clouds);
}
.blueHover:hover {
  color: var(--clouds);
	background-color: var(--peterriver);
}
.blueHover:disabled:hover {
  color: var(--peterriver);
	background-color: var(--clouds);
	cursor: default;
}
.onblueHover {
  color: var(--clouds);
	background-color: var(--peterriver);
}
.onblueHover:hover {
  color: var(--peterriver);
	background-color: var(--clouds);
}
.blueBorder {
  background-color: transparent;
	border: 3px solid var(--peterriver);;
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.logoBlue {
  background-color: var(--neptuneColor);
}
.red {
  background-color: var(--alizarin);
}
.darkRed {
  background-color: var(--pomegranate);
}
.redT {
  color:  var(--alizarin);
}

.redHover {
	color: var(--alizarin);
	background-color: var(--clouds);
}
.redHover:hover {
  color: var(--clouds);
	background-color: var(--alizarin);
}
.redHover:disabled:hover {
  color: var(--alizarin);
	background-color: var(--clouds);
	cursor: default;
}

.orange {
  background-color: var(--carrot);
}
.orangeT {
  color: var(--carrot);
}
.darkOrange {
  background-color:  var(--pumpkin);
}
.darkOrangeT {
  color:  var(--pumpkin);
}

.yellow {
  background-color: var(--orange);
}
.fadeYellow {
  background-color: var(--orangefade);
}
.yellowT {
  color: var(--orange);
}
.yellowBox {
  color: var(--orange);
}
.yellowBox > p {
  color: white;
}

.teal {
	background-color: rgb(26,188,156);
}
.tealT {
	color: rgb(26,188,156);
}

.purple {
	background-color: rgb(155,89,182);
}
.purpleT {
  color: var(--amethyst);
}
.purpleBorder {
  background-color: transparent;
	border: 3px solid var(--amethyst);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.wetasphalt {
	background-color: var(--wetasphalt);
}

.black {
	background-color: var(--black);
}
.blackT {
	color: var(--blackT);
}
.blackFade {
  background-color: var(--blackFade);
}

.white {
  background-color: var(--clouds);
}
.whiteT {
  color: white;
}

.clear {
  border: 0.01em solid;
  background-color: transparent;
}
.clear:hover {
  background-color: rgba(255,255,255,0.1);
}

/* DRY this later */

.clearWhite {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: medium;
}
.clearWhite:hover {
  background-color: white;
  color: black;
}

.clearGreen {
  background-color: transparent;
  color: var(--emerald);
  border: 1px solid var(--emerald);
  font-size: medium;
}
.clearGreen:hover {
  background-color: var(--emerald);
  color: black;
}

.clearRed {
  background-color: transparent;
  color: var(--alizarin);
  border: 1px solid var(--alizarin);
  font-size: medium;
}
.clearRed:hover {
  background-color: var(--alizarin);
  color: black;
}

.invert .clearGreen:hover,
.invert .clearRed:hover {
  color: white;
}

.wisper {
  font-size: 0.5em;
  color: transparent;
}

.fade {
  opacity: 0.2;
}

.clean {
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.low {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.capFL:first-letter {
  text-transform: capitalize;
}

.smCap {
  font-variant: small-caps;
}

.up {
  text-transform: uppercase;
}

.small {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.med {
  font-size: 1rem;
}

.medBig {
  font-size: 1.2rem;
}

.big {
  font-size: 1.5rem;
}

.bigger {
  font-size: 1.75rem;
}

.biggest {
  font-size: 2rem;
}

.letterSpaced {
  letter-spacing: 2px;
}

.wordBr {
  word-break: break-all;
  word-wrap: break-word;
}

.noCopy {
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}
.textSelect {
 -webkit-user-select: text;
 -khtml-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
 -o-user-select: text;
 user-select: text;
 cursor: text;
}

.dashLine {
  border-bottom: 1px dashed;
}

.inlineForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 5px;
}
.inlineForm > input[type='text'] {
  width: 10rem;
  min-width: 150px;
}

.fullForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.fullForm > input[type='text'],
.fullForm > select, 
.fullForm > datalist,
.fullForm > button {
  width: 50%;
}

.miniNumIn {
  width: 60px;
  border-left: 1px solid black;
}

.hiddenInput > textarea:disabled {
  opacity: 1;
  border: none;
  background-color: transparent;
  color: white;
  resize: none;
  cursor: default;
}

.hiddenInput > button:disabled {
  display: none;
}

.grid {
  display: table;
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
}

.gridRow {
	display: table-row;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.gridCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0;
  word-break: break-word;/*weird no standerd thing but it works*/
  word-wrap: break-word;
}

.openGridCell {
	display: table-cell;
  border-bottom: 0.1em solid rgba(255,255,255,0.3);
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.confirm {
  position: relative;
  background-color: orange;
}

.cold {
  background-color: transparent;
  font-size: 1rem;
  opacity: 0.9;
}

.cold:hover {
  color: white;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.stoneMapItem {
  width: 10%;
  margin: 0 auto;
  background-color: rgba(59,206,74,0.3);
  text-transform: uppercase;
}

.infoBox {
  background-color: rgba(48,48,48,0.1);
  margin: 5px 0;
  padding: 3px;
  border: 1px solid rgba(255,255,255,0.5);
}

.titleBar {
  background-color: rgba(48,48,48,0.3);
  padding: 3px 3px 0px 3px;
  border-bottom: 2px solid rgba(255,255,255,0.7);
}

.footerBar {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
}

.alertCount:before { 
  content: '\f071';
  font-family: FontAwesome;
  color: var(--orange);
}

.proGood::-webkit-progress-value {
  background-color: #27ae60;
}

.proBad {
  background: transparent;
}
.proBad::-webkit-progress-bar {
  background: transparent;
}
.proBad::-webkit-progress-value {
  background-color: #c0392b;
}

.proGood::-moz-progress-bar {
  background-color: #27ae60;
}

.proBad::-moz-progress-bar {
  background-color: #c0392b;
}

.stepList {
  display: table;
  width: 100%;
  text-align: center;
  background-color: var(--silver);
  color: black;
}

.stepList > div {
  display: table-row;
  border-bottom: 1px solid var(--blackFade);
}
.stepList > div:last-child {
  border-bottom: none
}
.stepList > div > div {
  display: table-cell;
  border-right: 1px solid var(--blackFade);
  vertical-align: middle;
  padding: 0px 3px;
}
.stepList > div > div:last-child {
  border-right: none;
  margin: 0px;
  padding: 0px 0px;
  width: 96px;
  white-space: nowrap;
  text-indent: 0px;
  background-color: var(--clouds);
}


.tagFlag {
  margin: 3px 4px;
  padding: 2px 2px 2px 5px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: var(--belizeHole);
  font-size: 0.9rem;
  color: white;
  cursor: default;
}
.tagFlag > button {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0px 0px 0px 5px;
  padding: 1px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0.8rem;
  vertical-align: auto;
}
.tagFlag > button:after {
  content: "\f00d";
  font-family: FontAwesome;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tagFlag > button:hover {
  background-color: white;
  color: var(--belizeHole);
}
.tagFlag > button:disabled {
  margin: 0px 0px 0px -10px;
}
.tagFlag > button:disabled:after {
  display: none;
}

.tagAddButton {
  display: inline-block;
  margin: 0px 5px;
  padding: 2px;
  vertical-align: middle;
  color: var(--belizeHole);
  background-color: transparent;
  height: 20px;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.tagAddButton:hover {
  color: black;
  background-color: var(--belizeHole);
}

.tempTag {
  margin: 0 7px 0 0;
}

/* Filter Tools */

.fltrs summary {
  opacity: 0.7;
  cursor: pointer;
}
.fltrs summary:hover {
  opacity: 1;
}
.fltrs summary::-webkit-details-marker {
  display: none
}

.fltrs input[type='checkbox'], .fltrs input[type='radio'] {
  margin: 0;
  width: 17px;
  min-height: 1rem;
}

.fltrsInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fltrsInput input, .fltrsInput select {
  height: 1.25rem;
  min-width: 128px;
  max-width: 160px;
  font-size: 0.9rem;
  margin: 5px 5px;
}

.radioLabelPair {
  margin: 0 3px;
  vertical-align: middle;
  white-space: nowrap;
}

.radioIcon {
  display: none;
}

.rangeTools {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--blackFade);
  font-size: 1rem;
}

.rangeTools select, .rangeTools button {
  width: 110px;
  min-height: 1.5rem;
  line-height: 1.25rem;
  font-size: 1rem;
  background-color: var(--black);
  border-bottom: none;
  color: white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.uniSelect:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: small;
  color: white;
  position: relative;
  right: 18px;
  top: -2px;
  pointer-events: none;
}

.rangeTools option {
  background-color: var(--clouds);
  color: black;
}

.numBoxRadio input[type='radio'] + label {
  border-bottom: 1px solid transparent;
}
.numBoxRadio input[type='radio']:checked + label {
  background-color: black;
  border-bottom: 1px solid white;
}
.numBoxRadio input[type='radio']:focus + label {
  color: white;
}
.numBoxRadio input[type='radio']:disabled + label {
  cursor: default;
}
.numBoxRadio input {
  display: none;
}

.workIcon {
  animation: spinAround 3s infinite linear;
}
.workIcon:after {
  content: '\f1ce';
  font-family: FontAwesome;
  font-size: 2em;
}

.searchResult {
  max-width: 500px;
  text-align: center;
}
.searchResult td {
  padding: 20px;
}
.searchResult tr:nth-child(1) td {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
}
.searchResult .mockTableCell {
  padding: 5px 10px;
  width: 1%;
  border-color: black;
  border-color: rgba(0,0,0,0.2);
}
.searchResult .mockTableRow {
  border-color: black;
  border-color: rgba(0,0,0,0.2);
}

/* custom Bert alerts */
.bert-alert {
  color: #ecf0f1;
}

.bert-alert.peterRiver {
  /*blue*/
  background: #3498db;
}

.bert-alert.emerald {
  /*green*/
  background: #2ecc71;
}

.bert-alert.alizarin {
  /*red*/
  background: #e74c3c;
}

.bert-alert.carrot {
  /*orange*/
  background: #e67e22;
}

.bert-alert.sunFlower {
  /*yellow*/
  background: var(--sunflower);
}

.bert-alert.tuquoise {
  /*teal*/
  background: #1abc9c;
}

.bert-alert.amethyst {
  /*purple*/
  background: #9b59b6;
}

.bert-alert.wetAsphalt {
  /*dark*/
  background: #34495e;
}

.bert-alert.clouds {
  /*light*/
  background: var(--clouds);
  color: black;
}

.starfishColour {
  color: #00bde0;
}
.starfishAccents #pnFindButton {
  color: #00bde0;
  background-color: white;
  border-color: #00bde0;
}
.starfishAccents #pnFindButton:hover {
  color: white;
  background-color: #00bde0;
  border-color: #00bde0;
}
/*
.starfishAccents #pnFind::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
*/
.starfishAccents #pnFind {
  border-color: black;
  border-right-color: transparent;
  letter-spacing: 1px;
}
.starfishAccents #pnFind:focus {
  border-color: #00bde0;
  border-right-color: transparent;
}
.starfishAccents input[type='checkbox'] + label,
.starfishAccents input[type='radio'] + label {
  color: black;
  border-bottom: none;
}
.starfishAccents input[type='checkbox']:hover + label,
.starfishAccents input[type='checkbox']:active + label,
.starfishAccents input[type='checkbox']:checked + label {
  color: #00bde0;
}
.starfishAccents input[type='checkbox']:focus + label {
  color: black;
}
.starfishAccents input[type='checkbox']:focus:hover + label {
  color: #00bde0;
}
.starfishAccents input[type='checkbox']:checked:focus + label {
  color: #00bde0;
}
