.monoFont {
  font-family: monospace;  
}
.numFont, n-num {
  font-family: var(--styled-font);
}

.logoSVG {
  width: 2.5rem;
}
.logoSVG:where(:hover,:active) {
  animation: spinAround 1s infinite linear;
}
@media screen and (prefers-reduced-motion: reduce) { 
  .logoSVG:hover, .logoSVG:active {
    animation: fadeIn 3s 1 linear;
  }
}
.logoSVG:where(:hover,:active) svg {
  fill: var(--neptuneColor);
}

.moveLR {
  color: black;
}
.moveLR:where(:hover,:active) {
  color: white;
  background-color: black;
}

.activeMark { border-left-color: var(--peterriver); }
.gMark { border-left-color: var(--nephritis); }
.ngMark { border-left-color: var(--pomegranate); }
.exMark { border-left-color: var(--pumpkinfrost); }

.open {
  color: black;
  font-size: 1.5rem;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0);
  border: none;
  box-shadow: none;
}

.pop { box-shadow: var(--dropShadow1); }
.popSm { box-shadow: var(--dropShadow000); }
.chip { 
  margin: 4px;
  padding: 2px 4px;
  box-shadow: var(--dropShadow000);
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}
.border3 { border: 3px solid; }

.nT { color: var(--neptuneColor); }
.nBg { background-color: var(--neptuneColor); }
.intrBlueSq { border: 3px solid var(--neptuneColor); }
.nLineHover:hover {
  border-color: var(--neptuneColor);
}

.green { background-color: var(--nephritis); }
.greenT { color: var(--nephritis); }
.greenB { border: 3px solid var(--nephritis); }
.greenBorder {
  background-color: transparent;
	border: 3px solid var(--nephritis);
}
.greenList:nth-child(odd) {
  background-color: rgb(39, 174, 96);
}
.greenList:nth-child(even) {
  background-color: rgba(39, 174, 96, 0.8);
}
.greenList:nth-child(odd):hover,
.greenList:nth-child(odd):active,
.greenList:nth-child(even):hover,
.greenList:nth-child(even):active {
  background-color: var(--nephritis);
}

.blue { background-color: var(--peterriver); }
.blueT { color: var(--peterriver); }
.onblueHover {
  color: var(--clouds);
	background-color: var(--peterriver);
}
.onblueHover:hover {
  color: var(--peterriver);
	background-color: var(--clouds);
}
.blueBorder {
  background-color: transparent;
	border: 3px solid var(--peterriver);
}

.red { background-color: var(--pomegranate); }
.redT { color: var(--pomegranate); }
.warnRed { background-color: var(--pomegranatefrost); }

.orange { background-color: var(--carrot); }
.orangeT { color: var(--carrot); }
.orangeBorder { 
  background-color: transparent;
	border: 3px solid var(--carrot);
}

.darkOrange { background-color:  var(--pumpkin); }
.darkOrangeI { background-color:  var(--pumpkin) !important; }
.darkOrangeT { color:  var(--pumpkin); }
.orangeList:nth-child(odd) {
  background-color: rgb(230, 126, 34);
}
.orangeList:nth-child(even) {
  background-color: rgba(230, 126, 34, 0.8);
}
.orangeList:nth-child(odd):hover,
.orangeList:nth-child(odd):active,
.orangeList:nth-child(even):hover,
.orangeList:nth-child(even):active {
  background-color: var(--pumpkin);
}

.yellow { background-color: var(--orange); }
.yellowT { color: var(--orange); }
.yellowBox { color: var(--orange); }
.yellowBox > p { color: white; }
.yellowList:nth-child(odd) {
  background-color: rgb(243, 156, 18, 0.9);
}
.yellowList:nth-child(even) {
  background-color: rgba(243, 156, 18, 0.8);
}
.yellowList:nth-child(odd):hover,
.yellowList:nth-child(odd):active,
.yellowList:nth-child(even):hover,
.yellowList:nth-child(even):active {
  background-color: var(--orange);
}

.trueyellow { background-color: var(--sunflower); }
.trueyellowT { color: var(--sunflower); }

.teal { background-color: var(--greenSea); }
.tealT { color: var(--greenSea); }

.purple { background-color: rgb(155,89,182); }
.purpleT { color: var(--wisteria); }
.purpleBorder { 
  background-color: transparent;
	border: 3px solid var(--wisteria);
}

.wetasphalt { background-color: var(--wetasphalt); }
.wetasphaltI { background-color:  var(--wetasphalt) !important; }
.wetasphaltT { color: var(--wetasphalt); }
.wetasphaltBorder { 
  background-color: transparent;
	border: 3px solid var(--wetasphalt);
}
.midnightblue { background-color: var(--midnightblue); }
.midnightblueT { color: var(--midnightblue); }
.concrete { background-color: var(--concrete); }

.grayT { color: var(--black); }
.grayFade { background-color: var(--silverfader); }
.darkgray { background-color: var(--asbestos); }
.darkgrayT { color: var(--asbestos); }
.darkT { color: var(--dark); }

.black { background-color: var(--black); }
.blackblack { background-color: rgb(0,0,0); }
.blackblackT { color: rgb(0,0,0); }
.blackT { color: var(--blackT); }
.blackFade { background-color: var(--blackFade); }
.blackList:nth-child(odd) {
  background-color: rgb(45, 45, 45);
}
.blackList:nth-child(even) {
  background-color: rgb(40, 40, 40);
}
.blackList:nth-child(odd):where(:hover,:active),
.blackList:nth-child(even):where(:hover,:active) {
  background-color: rgb(50,50,50);
}

.white { background-color: var(--clouds); }
.whiteT { color: white; }
.cloudsT { color: var(--clouds); }
.paleT { color: rgba(255,255,255,0.1); }

.borderWhite { border-color: var(--clouds); }
.borderBlack { border-color: var(--black); }
.borderGray { border-color: var(--asbestos); }
.borderLightGray { border-color: var(--asbestosfade); }
.borderGreen { border-color: var(--nephritis); }
.borderBlue { border-color: var(--belizeHole); }
.borderRed { border-color: var(--alizarin); }
/*.borderTrueyellow { border-color: var(--sunflower); }*/
.borderOrange { border-color: var(--orange); }
.borderTeal { border-color: var(--greenSea); }
.borderPurple { border-color: var(--wisteria); }

.proGray::-webkit-progress-value { background-color: var(--concrete); }
.proGray::-moz-progress-bar { background-color: var(--concrete); }

.proGreen::-webkit-progress-value { background-color: var(--nephritis); }
.proGreen::-moz-progress-bar { background-color: var(--nephritis); }

.proBlue::-webkit-progress-value { background-color: var(--belizeHole); }
.proBlue::-moz-progress-bar { background-color: var(--belizeHole); }

.proTeal::-webkit-progress-value { background-color: var(--greenSea); }
.proTeal::-moz-progress-bar { background-color: var(--greenSea); }

.proPurple::-webkit-progress-value { background-color: var(--wisteria); }
.proPurple::-moz-progress-bar { background-color: var(--wisteria); }

.noBorder { 
  border: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.noRightBorder { border-right: none; }

.clean, n-n {
  font-family: inherit;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
}

.cap, n-c { text-transform: capitalize; }
.capFL:first-letter { text-transform: capitalize; }

.smCap { 
  font-variant: small-caps;
  font-family: var(--styled-font);
}

.up, n-u { text-transform: uppercase; }
.low { text-transform: lowercase; }

.bold { font-weight: 600; }
.em { font-style: italic; }
.nsty { font-style: normal; }
.lnht { line-height: normal; }

.letterSpaced { 
  letter-spacing: 2px;
  line-height: 1.1;
}

.strike { text-decoration: line-through; }
.underline { text-decoration: underline; }
.underdotline { text-decoration: underline dotted; }
.fullline { border-bottom: 1px solid #000; }

.fade { opacity: 0.6; }
.fadeMore { opacity: 0.4; }
.noFade, .noFade button:disabled { 
  opacity: 1 !important;
  color: inherit;
}

.wordBr {
  word-break: break-word;
  word-wrap: break-word;
  /*overflow-wrap: break-word;*/
}
.letterBr {
  word-break: break-all;
  word-wrap: break-word;
}
.stringFit { 
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.blk { display: block; }

.noCopy {
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}

.inlineForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 5px;
}
.inlineForm > input[type='text'] {
  width: 10rem;
  min-width: 150px;
}

.contrast {
  background-color: whitesmoke; 
}
.contrastList:nth-child(odd) {
  background-color: rgba(50,50,50,0.3);
}

.blockerList {
  width: 100%;
  margin: 10px 0;
}
.blockerCard {
  margin: 0.5ch 0;
  border-top: 1px dotted;
  border-right: none;
  border-left: none;
  padding: 8px 0px;
}
.blockerCard > div {
  padding-bottom: 10px;
}
.blockerCard legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--sm7);
}

.titleBar {
  background-color: rgba(48,48,48,0.3);
  padding: 3px 3px 0px 3px;
  border-bottom: 1px solid rgb(0,0,0,0.1);
}

.footerBar {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
}

.meterprogStack { 
  padding: 5px;
  width: 100%;
}
.meterprogStack p { margin: 0; }
.meterprogStack progress { width: 100%; }

.proGood::-webkit-progress-value {
  background-color: #27ae60;
}
.proGood::-moz-progress-bar {
  background-color: #27ae60;
}

.progMockMeter {
  display: inline-block;
  min-width: 8ch;
  width: 8ch;
  min-height: 16px;
  height: 16px;
}

.progBlue { 
  background: var(--silver); 
}
.progBlue::-webkit-progress-bar {
  background: var(--silver);
}
.progBlue::-webkit-progress-value {
  background-color: var(--peterriver);
}
.progBlue::-moz-progress-bar {
  background-color: var(--peterriver);
}

@keyframes scaleUp {
  0% { height: 0; }
  100% { height: 100%; }
}
@keyframes scaleUpDelay {
  0% { height: 0; }
  50% { height: 0; }
  100% { height: 100%; }
}

n-piece-bar-wrap {
  display: block;
}
n-piece-bar {
  display: flex;
  justify-content: stretch;
  flex-flow: row nowrap;
  margin: 0;
  width: 100%;
  height: 6px;
  
}
n-pc-off, n-pc-on {
  flex: 2;
  border-right: 1px solid var(--clouds);
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
n-pc-off:last-child,
n-pc-on:last-child {
  display: block;
  border-right: none;
}
n-pc-on { 
  background-color: var(--peterriver);
  animation-name: scaleUpDelay;
}
n-pc-on:nth-child(odd) { 
  animation-duration: 300ms;
}
n-pc-on:nth-child(even) { 
  animation-duration: 600ms;
}
n-pc-off { 
  background-color: var(--silverfade);
  animation-name: scaleUp;
}
n-pc-off:nth-child(even) { 
  animation-duration: 150ms;
}
n-pc-off:nth-child(even) { 
  animation-duration: 250ms;
}
n-prog-bar progress {
  margin: 0.5vh 0 3vh 0;
  width: 100%;
  height: 3px;
}

.eventList {
  list-style-type: square;
}
.eventList li {
  margin: 8px 0;
}

.tempTag { margin: 0 7px 0 0; }

.listSort {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.listSortInput input,
.listSortInput select {
  background-color: transparent;
  text-align: center;
}
.listSortInput option {
  color: black;
}

.radioIcon { display: none; }

.searchResult {
  max-width: 800px;
}
.searchResult td {
  padding: 20px;
  letter-spacing: 1px;
}
.searchResult td:nth-child(1) {
  text-align: left;
}
.searchResult td:nth-child(2) {
  font-family: VarelaLocal;
}
.searchResult div {
  padding: 5px;
  border-bottom: 1px solid;
  border-color: black;
  border-color: rgba(0,0,0,0.2);
}

.uiCheck label { cursor: pointer; }
.uiCheck input[type='checkbox']:hover,
.uiCheck input[type='checkbox']:active {
  text-decoration: underline solid var(--navIndicatorA);
}
.uiCheck input[type='checkbox']:focus + label {
  outline-color: var(--navIndicatorB);
  outline-style: dotted;
  outline-width: thin;
}

.chartTableAction {
  padding: 5px;
  height: 2rem;
  font-size: medium;
  color: black;
  letter-spacing: 1px;
	text-transform: capitalize;
	overflow: hidden;
	border: 0.5px solid rgba(0,0,0,0.3);
	background-color: var(--asbestosfade);
}
.chartTableAction:hover,
.chartTableAction:active {
	background-color: var(--asbestos);
}