.monoFont {
  font-family: monospace;  
}

.action {
  line-height: 2em;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 1px;
  /*min-width: 2.5rem;*/
	min-height: 2.5rem;
	padding: 0 10px;
	text-transform: uppercase;
	overflow: hidden;
}

.smallAction {
  line-height: 1rem;
  font-size: medium;
  letter-spacing: 1px;
  min-width: 2rem;
	height: 2rem;
	padding: 0 10px;
}

.blendAction {
  letter-spacing: 1px;
	font-size: 1.5vw;
  width: 2.5vw;
  height: 2.5vw;
	padding: 0;
}
.blendAction:focus, .blendAction:active {
  outline: dotted;
}

.miniAction {
  min-width: 1rem;
  min-height: 1rem;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  background-color: transparent;
}
.miniAction:hover {
  opacity: 1;
  border-bottom-color: inherit;
}
.miniAction:focus {
  outline: 1px dotted;
}

.mini15x {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.mini2x {
  min-width: 2rem;
  min-height: 2rem;
}

.textAction {
  margin: 0px;
  border: none;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
}
.textAction:hover {
  text-decoration: underline; 
}

.textLinkButton {
  color: var(--belizeHole);
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  border: none;
  padding: 0px;
  background-color: transparent;
}

.inlineLink {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.inlineLink:hover {
  text-decoration: underline;
}

.leapText {
  font-size: 1rem;
  min-width: 1rem;
	min-height: 1rem;
	margin: 0 5px;
	text-transform: uppercase;
	background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: white;
  word-break: break-all;
}
.leapText:hover, .leapText:focus, .leapText:active {
  color: var(--peterriver);
  border-bottom-color: var(--peterriver);
}

.leapBar, .leapRow {
  width: 100%;
  min-height: 32px;
  font-size: 1rem;
  font-size: calc(1.1rem - 0.1vw);
  font-weight: 400;
	padding: 12px 6px;
	padding: calc(1em - 0.1vw) calc(1em - 0.1vw);
  cursor: pointer;
}

.leapBar {
	border-top: 1px inset transparent;
	border-bottom-width: 1px;
  border-bottom-style: outset;
  border-bottom-color: var(--silverfade);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: white;
  background-color: rgb(25,25,25);
	color: var(--clouds);
  word-break: keep-all;
  word-wrap: normal;
}

.leapRow {
  display: grid;
  grid-template-columns: 15vw repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 0px 16px;
	align-items: center;
	border: none;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: white;
  background-color: white;
	color: var(--black);
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: none;
}
.leapRow > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.25rem;
}
.leapRow > span:first-child {
 font-size: 1.75rem;
 justify-self: center;
}
.leapRow.centreText > span {
  justify-self: center;
}

.leapBar:hover, .leapBar:focus, .leapBar:active {
  background-color: var(--clouds);
  color: var(--black);
}
.leapRow:hover, .leapRow:focus, .leapRow:active {
  box-shadow: var(--dropShadow00);
}

.roundActionIcon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
}

.dbblRound {
  width: 5rem;
  height: 5rem;
}
label.dbblRound {
  width: 6rem;
  height: 6rem;
}
.trpplRound {
  width: 7.5rem;
  height: 7.5rem;
}
label.trpplRound {
  width: 8.5rem;
  height: 8.5rem;
}
.qdpplRound {
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
}
label.qdpplRound {
  width: 11rem;
  height: 11rem;
  font-size: 2rem;
}

.buttonLayerCorrect { height: 1em; }

.moveLR {
  color: white;
}
.moveLR:hover, .moveLR:active {
  color: black;
  background-color: white;
}

.activeMark { border-left-color: var(--belizeHole); }
.gMark { border-left-color: var(--nephritis); }
.ngMark { border-left-color: var(--pomegranate); }

.open {
  color: black;
  font-size: 1.5rem;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0);
  border: none;
  box-shadow: none;
}

.actionBox {
  box-shadow: 0 0.75em 1em -0.5em rgba(0,0,0,0.2),
              0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
}

.pop {
  box-shadow: var(--dropShadow1);
}

.popBlue {
  box-shadow: 0 10px 30px rgba(52, 152, 219, 0.30), 
              0 0 10px rgba(52, 152, 219, 0.22);
}

.transparent {
  background-color: transparent;
}

.green { background-color: var(--emerald); }
.greenT { color: var(--emerald); }
.greenB { border: 3px solid var(--emerald); }
.greenBorder {
  background-color: transparent;
	border: 3px solid var(--emerald);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}
.greenHover,
.invert .greenHover {
	color: var(--black);
	background-color: var(--clouds);
}
.greenHover:hover,
.invert .greenHover:hover {
  color: var(--black);
	background-color: var(--emerald);
}
.greenHover:disabled:hover,
.invert .greenHover:disabled:hover {
  color: var(--emerald);
	background-color: var(--clouds);
}
.greenList:nth-child(odd) {
  background-color: rgb(39, 174, 96);
}
.greenList:nth-child(even) {
  background-color: rgba(39, 174, 96, 0.8);
}
.greenList:nth-child(odd):hover,
.greenList:nth-child(odd):active,
.greenList:nth-child(even):hover,
.greenList:nth-child(even):active {
  background-color: var(--emerald);
}

.blue { background-color: var(--peterriver); }
.blueT { color: var(--peterriver); }
.blueHover ,
.invert .blueHover {
	color: var(--peterriver);
	background-color: var(--clouds);
}
.blueHover:hover,
.invert .blueHover:hover {
  color: var(--clouds);
	background-color: var(--peterriver);
}
.blueHover:disabled:hover,
.invert .blueHover:disabled:hover {
  color: var(--peterriver);
	background-color: var(--clouds);
}
.onblueHover,
.invert .onblueHover {
  color: var(--clouds);
	background-color: var(--peterriver);
}
.onblueHover:hover,
.invert .onblueHover:hover {
  color: var(--peterriver);
	background-color: var(--clouds);
}
.blueBorder {
  background-color: transparent;
	border: 3px solid var(--peterriver);;
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.logoBlue { background-color: var(--neptuneColor); }

.red { background-color: var(--alizarin); }
.darkRed { background-color: var(--pomegranate); }
.redT { color: var(--alizarin); }
.redHover,
.invert .redHover {
	color: var(--alizarin);
	background-color: var(--clouds);
}
.redHover:hover,
.invert .redHover:hover {
  color: var(--clouds);
	background-color: var(--alizarin);
}
.redHover:disabled:hover,
.invert .redHover:disabled:hover {
  color: var(--alizarin);
	background-color: var(--clouds);
}

.orange { background-color: var(--carrot); }
.orangeT { color: var(--carrot); }
.orangeHover,
.invert .orangeHover {
	color: var(--orange);
	background-color: var(--clouds);
}
.orangeHover:hover,
.invert .orangeHover:hover {
  color: var(--clouds);
	background-color: var(--orange);
}
.orangeHover:disabled:hover,
.invert .orangeHover:disabled:hover {
  color: var(--orange);
	background-color: var(--clouds);
}
.orangeBorder { 
  background-color: transparent;
	border: 3px solid var(--carrot);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.darkOrange { background-color:  var(--pumpkin); }
.darkOrangeT { color:  var(--pumpkin); }
.orangeList:nth-child(odd) {
  background-color: rgb(230, 126, 34);
}
.orangeList:nth-child(even) {
  background-color: rgba(230, 126, 34, 0.8);
}
.orangeList:nth-child(odd):hover,
.orangeList:nth-child(odd):active,
.orangeList:nth-child(even):hover,
.orangeList:nth-child(even):active {
  background-color: var(--pumpkin);
}

.yellow { background-color: var(--orange); }
.fadeYellow { background-color: var(--orangefade); }
.yellowT { color: var(--orange); }
.yellowBox { color: var(--orange); }
.yellowBox > p { color: white; }
.yellowList:nth-child(odd) {
  background-color: rgb(243, 156, 18, 0.9);
}
.yellowList:nth-child(even) {
  background-color: rgba(243, 156, 18, 0.8);
}
.yellowList:nth-child(odd):hover,
.yellowList:nth-child(odd):active,
.yellowList:nth-child(even):hover,
.yellowList:nth-child(even):active {
  background-color: var(--orange);
}

.teal { background-color: rgb(26,188,156); }
.tealT { color: rgb(26,188,156); }

.purple { background-color: rgb(155,89,182); }
.purpleT { color: var(--amethyst); }
.purpleBorder { 
  background-color: transparent;
	border: 3px solid var(--amethyst);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.wetasphalt { background-color: var(--wetasphalt); }

.grayT { color: var(--concrete); }

.black { background-color: var(--black); }
.blackT { color: var(--blackT); }
.blackFade { background-color: var(--blackFade); }
.blackList:nth-child(odd) {
  background-color: rgb(45, 45, 45);
}
.blackList:nth-child(even) {
  background-color: rgb(40, 40, 40);
}
.blackList:nth-child(odd):hover,
.blackList:nth-child(odd):active,
.blackList:nth-child(even):hover,
.blackList:nth-child(even):active {
  background-color: rgb(50,50,50);
}

.white { background-color: var(--clouds); }
.whiteT { color: white; }
.cloudsT { color: var(--clouds); }

.clear {
  border: 0.01em solid;
  background-color: transparent;
}
.clear:hover {
  background-color: rgba(255,255,255,0.1);
}

.clearWhite,
.clearGreen,
.clearBlue,
.clearRed,
.clearOrange,
.clearTeal,
.clearPurple {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  font-size: medium;
}
.clearWhite:hover,
.clearGreen:hover,
.clearBlue:hover,
.clearRed:hover,
.clearOrange:hover,
.clearPurple:hover {
  color: black;
}
  
.clearWhite {
  color: white;
  border-color: white;
}
.clearWhite:hover {
  background-color: white;
}
.clearBlack {
  color: var(--blackT);
  border-color: var(--blackT);
  background-color: transparent;
}
.clearBlack:hover {
  color: var(--clouds);
  background-color: var(--blackT);
}
.clearBlack:disabled {
  color: var(--concrete);
  border-color: var(--concrete);
}

.clearGreen,
.invert .clearGreen{
  color: var(--emerald);
  border-color: var(--emerald);
}
.clearGreen:hover,
.invert .clearGreen:hover {
  background-color: var(--emerald);
}

.clearBlue,
.invert .clearBlue {
  color: var(--peterriver);
	border-color: var(--peterriver);
}
.clearBlue:hover,
.invert .clearBlue:hover {
	background-color: var(--peterriver);
}

.clearRed,
.invert .clearRed {
  color: var(--alizarin);
  border-color: var(--alizarin);
}
.clearRed:hover,
.invert .clearRed:hover {
  background-color: var(--alizarin);
}

.clearOrange,
.invert .clearOrange {
  color: var(--orange);
  border-color: var(--orange);
}
.clearOrange:hover,
.invert .clearOrange:hover {
  background-color: var(--orange);
}

.clearTeal,
.invert .clearTeal {
  color: var(--turquoise);
  border-color: var(--turquoise);
}
.clearTeal:hover,
.invert .clearTeal:hover {
  background-color: var(--turquoise);
}

.clearPurple,
.invert .clearPurple {
  color: var(--amethyst);
  border-color: var(--amethyst);
}
.clearPurple:hover,
.invert .clearPurple:hover {
  background-color: var(--amethyst);
}

.moreEphasis {
  border: 0.5vh #720300 dashed !important;
}
.activeIndicator:focus, .activeIndicator:active {
  outline: dotted;  
}

.borderWhite { border-color: var(--clouds); }
.borderGreen { border-color: var(--nephritis); }
.borderBlue { border-color: var(--belizeHole); }
.borderRed { border-color: var(--alizarin); }
.borderOrange { border-color: var(--orange); }
.borderTeal { border-color: var(--greenSea); }
.borderPurple { border-color: var(--wisteria); }

.proWhite::-webkit-progress-value { background-color: var(--clouds); }
.proWhite::-moz-progress-bar { background-color: var(--clouds); }

.proGreen::-webkit-progress-value { background-color: var(--nephritis); }
.proGreen::-moz-progress-bar { background-color: var(--nephritis); }

.proBlue::-webkit-progress-value { background-color: var(--belizeHole); }
.proBlue::-moz-progress-bar { background-color: var(--belizeHole); }

.proRed::-webkit-progress-value { background-color: var(--alizarin); }
.proRed::-moz-progress-bar { background-color: var(--alizarin); }

.proOrange::-webkit-progress-value { background-color: var(--orange); }
.proOrange::-moz-progress-bar { background-color: var(--orange); }

.proTeal::-webkit-progress-value { background-color: var(--greenSea); }
.proTeal::-moz-progress-bar { background-color: var(--greenSea); }

.proPurple::-webkit-progress-value { background-color: var(--wisteria); }
.proPurple::-moz-progress-bar { background-color: var(--wisteria); }

.pScale1 { background-color: var(--pomegranate); }
.pScale2 { background-color: var(--carrot); }
.pScale3 { background-color: var(--sunflower); }
.pScale4 { background-color: var(--peterriver); }

.clean {
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.noBorder { border: none; }
.noRightBorder { border-right: none; }

.numFont {
  font-family: 'VarelaLocal';
}

.low { text-transform: lowercase; }

.cap { text-transform: capitalize; }
.capFL:first-letter { text-transform: capitalize; }

.smCap { font-variant: small-caps; }

.up { text-transform: uppercase; }

.bold { font-weight: 600; }

.letterSpaced { letter-spacing: 2px; }

.fade { opacity: 0.6; }
.fadeMore { opacity: 0.3; }

.popText { text-shadow: rgb(20,20,20) 1px 1px;}

.wordBr {
  word-break: break-all;
  word-wrap: break-word;
}

.noCopy {
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}
.textSelect {
 -webkit-user-select: text;
 -khtml-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
 -o-user-select: text;
 user-select: text;
 cursor: text;
}

.dashLine { border-bottom: 1px dashed; }

.inlineForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 5px;
}
.inlineForm > input[type='text'] {
  width: 10rem;
  min-width: 150px;
}

.fullForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.fullForm > input[type='text'],
.fullForm > select, 
.fullForm > datalist,
.fullForm > button {
  width: 50%;
}

.miniNumIn {
  width: 60px;
  border-left: 1px solid black;
}

.hiddenInput > textarea:disabled {
  opacity: 1;
  border: none;
  background-color: transparent;
  color: white;
  resize: none;
}
.hiddenInput > button:disabled {
  display: none;
}

.bigCheck { 
  width: 1.5rem;
  vertical-align: middle;
}

.grid {
  display: table;
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
}
.gridRow {
	display: table-row;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.gridCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0;
  word-break: break-word;/*weird no standerd thing but it works*/
  word-wrap: break-word;
}
.openGridCell {
	display: table-cell;
  border-bottom: 0.1em solid rgba(255,255,255,0.3);
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.contrastList:nth-child(odd) {
  background-color: rgba(50,50,50,0.3);
}

.confirm {
  position: relative;
  background-color: orange;
}

.cold {
  background-color: transparent;
  font-size: 1rem;
  opacity: 0.9;
}
.cold:hover {
  color: white;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.stoneMapItem {
  width: 10%;
  margin: 0 auto;
  background-color: rgba(59,206,74,0.3);
  text-transform: uppercase;
}

.blockerList {
  width: 100%;
  margin: 10px 0;
}
.blockerCard {
  margin-top: 8px;
  margin-bottom: 16px;
  border-top: 1px dotted var(--sunflower);
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 8px 0px;
}
.blockerCard > div {
  padding-bottom: 10px;
}
.blockerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blockerHead > span:last-child {
  min-width:  90px;
}
.blockerSolve { font-weight: bold; }

.infoBox {
  background-color: rgba(48,48,48,0.1);
  margin: 5px 0;
  padding: 3px;
  border: 1px solid rgba(255,255,255,0.5);
}

.titleBar {
  background-color: rgba(48,48,48,0.3);
  padding: 3px 3px 0px 3px;
  border-bottom: 2px solid rgba(255,255,255,0.7);
}

.footerBar {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
}

.alertCount.nSpace { min-width: 40px }
.alertCount.exSpace { min-width: 81px }
.alertCount:before { 
  content: '\f071';
  font-family: FontAwesome;
  color: var(--orange);
  width: 40px;
  padding: 0 4px;
  font-size: 1.5rem;
}

.meterprogStack { 
  padding: 5px;
  width: 100%;
}
.meterprogStack p { margin: 0; }
.meterprogStack progress { width: 100%; }

.proGood::-webkit-progress-value {
  background-color: #27ae60;
}
.proGood::-moz-progress-bar {
  background-color: #27ae60;
}

.proBad { background: transparent; }
.proBad::-webkit-progress-bar {
  background: transparent;
}
.proBad::-webkit-progress-value {
  background-color: #c0392b;
}
.proBad::-moz-progress-bar {
  background-color: #c0392b;
}

.progMockMeter {
  display: inline-block;
  min-width: 80.62px;
  width: 80.62px;
  min-height: 16px;
  height: 16px;
}

.stepList,
.gateList {
  display: table;
  text-align: center;
  background-color: var(--silver);
  color: black;
}
.stepList > div, 
.gateList > div {
  display: table-row;
  border-bottom: 1px solid var(--blackFade);
}
.stepList > div:last-child,
.gateList > div:last-child {
  border-bottom: none
}
.stepList > div > div,
.gateList > div > div {
  display: table-cell;
  border-right: 1px solid var(--blackFade);
  vertical-align: middle;
  padding: 0px 3px;
}
.stepList > div > div:last-child,
.gateList > div > div:last-child {
  border-right: none;
  margin: 0px;
  padding: 0px 0px;
  white-space: nowrap;
  text-indent: 0px;
  background-color: var(--clouds);
}

.stepList {
  width: 100%;  
}
.stepList > div > div:last-child {
  width: 96px;
}

.gateList {
  width: 50%;
  margin: 0 auto;
}
.gateList > div > div:last-child {
  width: 32px;
}

.eventList {
  list-style-type: square;
}
.eventList li {
  margin: 8px 0;
}
.eventListNew {
  background-color: var(--emeraldfade);
}

.tagFlag {
  margin: 4px 4px;
  padding: 2px 5px 2px 5px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: var(--belizeHole);
  font-size: 0.9rem;
  color: white;
  word-break: keep-all;
  word-wrap: normal;
  
}
.tagFlag > button {
  vertical-align: top;
  height: 1rem;
  width: 1rem;
  margin: 0px 0px 0px 5px;
  padding: 1px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
}
.tagFlag > button:hover {
  background-color: white;
  color: var(--belizeHole);
}
.tagFlag > button:disabled {
  margin: 0px 0px 0px -10px;
}

.tagAddButton {
  display: inline-block;
  margin: 0px 5px;
  padding: 2px;
  vertical-align: middle;
  color: var(--belizeHole);
  background-color: transparent;
  height: 20px;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.tagAddButton:hover {
  color: black;
  background-color: var(--belizeHole);
}

.tempTag { margin: 0 7px 0 0; }

/* Filter Tools */
.fltrs summary {
  height: 32px;
  padding: 0 5px;
}
.fltrs summary::-webkit-details-marker {
  display: none;
  -moz-display: block;/*maybe*/
}

.fltrs input[type='checkbox'], .fltrs input[type='radio'] {
  margin: 0;
  width: 100%;
  min-height: 1rem;
}

.fltrsInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fltrsInput input, .fltrsInput select {
  height: 1.25rem;
  min-width: 128px;
  max-width: 160px;
  font-size: 0.9rem;
  margin: 5px 5px;
}

.listSort {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.listSortInput input,
.listSortInput select {
  background-color: transparent;
  color: white;
  text-align: center;
}
.listSortInput option {
  color: black;
}

.radioLabelPair {
  margin: 0 3px;
  vertical-align: middle;
  white-space: nowrap;
}

.radioIcon { display: none; }

.rangeTools {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-color: rgba(5,5,5,0.8);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
}

.rangeTools button, .rangeTools select {
  width: 110px;
  min-height: 1.5rem;
  line-height: 1.25rem;
  font-size: inherit;
  background-color: transparent;
  color: white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.rangeTools button {
  border: 1px solid white;
}
.rangeTools button:hover {
  background-color: white;
  color: var(--black);
}
.rangeTools option {
  background-color: var(--clouds);
  color: black;
}
.uniSelect:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: small;
  color: white;
  position: relative;
  right: 18px;
  top: -2px;
  pointer-events: none;
}

.miniDateRange {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.miniDateRange span {
  margin: 3px;
}
/*
.miniDateRange select,
.miniDateRange input[type='date'],
.miniDateRange button {
  font-size: 1.1rem;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: transparent;
  color: white;
}
*/
.miniDateRange select,
.miniDateRange input[type='date'] {
  /*min-height: 24px;*/
  line-height: 1.2rem;
  text-indent: 3px;
}
/*
.miniDateRange select,
.miniDateRange button{
  height: 24px;
}
.miniDateRange select {
  width: 248px;
}
.miniDateRange option {
  color: black;
}
.miniDateRange input[type='date'] {
  width: 136px;
}
*/
.miniDateRange input[type='date']::-webkit-clear-button {
  display: none;
}
.miniDateRange button {
  width: 36px;
}

.numBoxRadio input[type='radio'] + label {
  border-bottom: 1px solid transparent;
}
.numBoxRadio input[type='radio']:checked + label {
  background-color: black;
  border-bottom: 1px solid white;
}
.numBoxRadio input[type='radio']:focus + label {
  color: white;
}
.numBoxRadio input { display: none; }

.workIcon {
  animation: spinAround 3s infinite linear;
}
.workIcon:after {
  content: '\f1ce';
  font-family: FontAwesome;
  font-size: 2em;
}

.searchResult {
  max-width: 500px;
  text-align: center;
}
.searchResult td {
  padding: 20px;
}
.searchResult tr:nth-child(1) td {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
}
.searchResult .mockTableCell {
  padding: 5px 10px;
  width: 1%;
  border-color: black;
  border-color: rgba(0,0,0,0.2);
}
.searchResult .mockTableRow {
  border-color: black;
  border-color: rgba(0,0,0,0.2);
}

/* timeline */
.timelineList {
  margin: 10px;
  width: 90%;
  display: grid;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: 125px;
  align-items: stretch;
}
.timelineWrap {
  display: flex;
}
.timelineItem {
  margin: 5px;
  min-width: 15ch;
  max-width: 75ch;
  min-height: 40px;
}
.timelineWrap:nth-child(odd) {
  grid-column: 1;
  justify-self: end;
  border-right: 3px solid var(--peterriver);
}
.timelineWrap:nth-child(even) {
  grid-column: 2;
  justify-self: start;
  border-left: 3px solid var(--peterriver);
}
.timelineWrap:nth-child(odd) .timelineItem {
  align-self:  flex-start;
}
.timelineWrap:nth-child(even) .timelineItem {
  align-self: flex-end;
}
.timelineWrap:nth-child(odd):after {
  content: "";
  display: inline-block;
  position: relative;
  top: 30px;
  left: 0px;
  height: 5px;
  width: 20px;
  border-bottom: 5px solid var(--peterriver);
}
.timelineWrap:nth-child(even):before {
  content: "";
  display: inline-block;
  position: relative;
  top: 80px;
  left: 0px;
  height: 5px;
  width: 20px;
  border-bottom: 5px solid var(--peterriver);
}
.timelineItemTitle {
  padding: 5px 10px 5px 10px;
}
.timelineItemBody {
  margin-left: 10px;
  padding: 5px 10px 10px 10px;
}

.timelineItem.good .timelineItemTitle { 
  background-color: var(--nephritis) }
.timelineItem.fine .timelineItemTitle { 
  background-color: var(--orange) }
.timelineItem.bad .timelineItemTitle { 
  background-color: var(--pomegranate) }
.timelineItem.good { background-color: var(--nephritisfade) }
.timelineItem.fine { background-color: var(--orangefade) }
.timelineItem.bad { background-color: var(--pomegranatefade) }

.timelineListFooter {
  height: 10px;
  width: 100%;
}

.waterfallHistory {
  margin: 2vh 0;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 1vh;
}
.waterfallHistory summary {
  display: flex;
  align-items: center;
}
.waterfallHistory summary .meterprogStack {
  display: inline-block;
}
.waterfallHistory summary::-webkit-details-marker {
  display: none;
}

.waterfallTimeline dd {
  margin: 0 3vw;
  padding: 0.5em 0;
  letter-spacing: 1px;
  vertical-align: middle;
}
.waterfallTimeline dd:nth-child(odd) {
  background-color: rgba(50,50,50,0.3);
}
.waterfallTimeline b {
  font-size: 1.75em;
  padding: 0 20px;
}
.waterfallTimeline b.small {
  font-size: 1em;
  line-height: 1.75em;
}

.chartTableAction {
  padding: 5px;
  height: 2rem;
  font-size: medium;
  color: black;
  letter-spacing: 1px;
	text-transform: capitalize;
	overflow: hidden;
	border: 0.5px solid rgba(0,0,0,0.3);
	background-color: var(--asbestosfade);
}
.chartTableAction:hover,
.chartTableAction:active {
	background-color: var(--asbestos);
}

.starfishColour { color: #00bde0; }
.starfishAccents #pnFindButton {
  color: #00bde0;
  background-color: white;
  border-color: #00bde0;
}
.starfishAccents #pnFindButton:hover {
  color: white;
  background-color: #00bde0;
  border-color: #00bde0;
}
/*
.starfishAccents #pnFind::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
*/
.starfishAccents #pnFind {
  border-color: black;
  border-right-color: transparent;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.starfishAccents #pnFind:focus {
  border-color: #00bde0;
  border-right-color: transparent;
}
.starfishAccents input[type='checkbox'] + label,
.starfishAccents input[type='radio'] + label {
  color: black;
  border-bottom: none;
}
.starfishAccents input[type='checkbox']:hover + label,
.starfishAccents input[type='checkbox']:active + label,
.starfishAccents input[type='checkbox']:checked + label {
  color: #00bde0;
}
.starfishAccents input[type='checkbox']:focus + label {
  color: black;
}
.starfishAccents input[type='checkbox']:focus:hover + label {
  color: #00bde0;
}
.starfishAccents input[type='checkbox']:checked:focus + label {
  color: #00bde0;
}
