/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
meteor seems to be handling this */

.action {
  line-height: 2em;
  font-size: 1em;
  min-width: 2.5rem;
	min-height: 2.5em;
	padding: 0 10px;
	text-transform: uppercase;
	vertical-align: bottom;
  -moz-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  -webkit-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
}

.smallAction {
  line-height: 1rem;
  min-width: 2rem;
	height: 2rem;
	padding: 0 10px;
}

.miniAction {
  min-width: 1rem;
  min-height: 1rem;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  background-color: transparent;
}
.miniAction:hover {
  opacity: 1;
  border-bottom-color: inherit;
}
.miniAction:focus {
  outline: 1px dotted;
}

.mini15x {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.mini2x {
  min-width: 2rem;
  min-height: 2rem;
}

.jump {
  font-size: 2rem;
  min-width: 1rem;
	min-height: 1rem;
	margin: 0 5px;
	text-transform: uppercase;
	background-color: transparent;
  border: 1px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
  transition: border 250ms ease;
  word-break: keep-all;
}
.jump:hover, .jump:focus, .jump:active {
  border-bottom-color: #3498db;
}

.jumpBar {
  line-height: 1.5em;
  font-size: 1.25rem;
  letter-spacing: 1px;
  width: 100%;
	min-height: 1rem;
	margin: 5px 0;
	padding: 2px;
	background-color: transparent;
  border-bottom: 1px groove rgba(255,255,255,0.3);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: white;
  transition: border 250ms ease;
  word-break: keep-all;
}
.jumpBar:hover, .jumpBar:focus, .jumpBar:active {
  border-bottom-color: #3498db;
}

.activeMark {
  border-left-color: var(--belizeHole);
}

.gMark {
  border-left-color: var(--nephritis);
}

.ngMark {
  border-left-color: var(--pomegranate);
}

.tabOn {
	background-color: var(--midnightblue);
  border-bottom: 3px solid var(--silver);
}

.tabOff {
	background-color: var(--wetasphalt);
	border-bottom: 3px groove transparent;
}
.tabOff:hover {
	background-color: var(--midnightblue);
}

.tabBody {
  overflow-x: auto;
}

.open {
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0);
  border: none;
  box-shadow: none;
}

.actionBox {
  -moz-box-shadow:    0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
  box-shadow:         0 0.75em 1em -0.5em rgba(0,0,0,0.2),
                      0 -0.75em 1em -0.5em rgba(0,0,0,0.2);
}

.pop {
  -moz-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  -webkit-box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
  box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2);
}

.popBlue {
  -moz-box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
  -webkit-box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
  box-shadow: 0 3px 10px 5px rgba(52, 152, 219, 0.3);
}

.fade {
  opacity: 0.4;
}

.transparent {
  background-color: transparent;
}

.green {
	background-color: rgb(46,204,113);
}
.greenT {
	color: rgb(46,204,113);
}
.greenBorder {
  background-color: transparent;
	border: 3px solid rgb(46,204,113);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.blue {
	background-color: var(--peterriver);
}
.blueT {
	color: var(--peterriver);
}
.blueBorder {
  background-color: transparent;
	border: 3px solid var(--peterriver);;
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.logoBlue {
  background-color: var(--neptuneColor);
}
.red {
  background-color: var(--alizarin);
}
.darkRed {
  background-color:  var(--pomegranate);
}
.redT {
  color:  var(--alizarin);
}

.orange {
  background-color: var(--carrot);
}
.orangeT {
  color: var(--carrot);
}
.darkOrange {
  background-color:  var(--pumpkin);
}
.darkOrangeT {
  color:  var(--pumpkin);
}

.yellow {
  background-color: var(--orange);
}
.fadeYellow {
  background-color: var(--orangefade);
}
.yellowT {
  color: var(--orange);
}
.yellowBox {
  color: var(--orange);
}
.yellowBox > p {
  color: white;
}

.teal {
	background-color: rgb(26,188,156);
}
.tealT {
	color: rgb(26,188,156);
}

.purple {
	background-color: rgb(155,89,182);
}
.purpleT {
  color: var(--amethyst);
}
.purpleBorder {
  background-color: transparent;
	border: 3px solid var(--amethyst);
	box-shadow: 0 0 .1em .1em rgba(43,43,43,0.2),
	      inset 0 0 .1em .1em rgba(43,43,43,0.2);
}

.black {
	background-color: var(--black);
}
.blackT {
	color: var(--blackT);
}
.blackFade {
  background-color: var(--blackFade);
}

.white {
  color: var(--clouds);
}
.whiteT {
  color: white;
}

.clear {
  border: 0.01em solid;
  background-color: transparent;
}
.clear:hover {
  background-color: rgba(255,255,255,0.1);
}

.wisper {
  font-size: 0.5em;
  color: transparent;
}

.fade {
  opacity: 0.2;
}

.clean {
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.low {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.capFL:first-letter {
  text-transform: capitalize;
}

.smCap {
  font-variant: small-caps;
}

.up {
  text-transform: uppercase;
}

.small {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
}

.med {
  font-size: 1rem;
}

.big {
  font-size: 1.5rem;
}

.bigger {
  font-size: 1.75rem;
}

.biggest {
  font-size: 2rem;
}

.noCopy {
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}

.dashLine {
  border-bottom: 1px dashed;
}

.inlineForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 5px;
}
.inlineForm > input[type='text'] {
  width: 10rem;
}

.fullForm {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.fullForm > input[type='text'],
.fullForm > select, 
.fullForm > datalist,
.fullForm > button {
  width: 50%;
}

.hiddenInput > textarea:disabled {
  opacity: 1;
  border: none;
  background-color: transparent;
  color: white;
  resize: none;
  cursor: default;
}

.hiddenInput > button:disabled {
  display: none;
}

.grid {
  display: table;
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
}

.gridRow {
	display: table-row;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.gridCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0;
  word-break: break-word;/*weird no standerd thing but it works*/
  word-wrap: break-word;
}

.openGridCell {
	display: table-cell;
  border-bottom: 0.1em solid rgba(255,255,255,0.3);
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.confirm {
  position: relative;
  background-color: orange;
}

.cold {
  background-color: transparent;
  font-size: 1rem;
  opacity: 0.9;
}

.cold:hover {
  color: white;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.stepList {
  margin: auto;
  padding-right: 3em;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  background-color: rgb(48,48,48);
}

.stoneMapItem {
  width: 10%;
  margin: 0 auto;
  background-color: rgba(59,206,74,0.3);
  text-transform: uppercase;
}

.infoBox {
  background-color: rgba(48,48,48,0.1);
  margin: 5px 0;
  padding: 3px;
  border: 1px solid rgba(255,255,255,0.5);
}

.titleBar {
  background-color: rgba(48,48,48,0.3);
  padding: 3px 3px 0px 3px;
  border-bottom: 2px solid rgba(255,255,255,0.7);
}

.footerBar {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
}

.alertCount:before { 
  content: '\f071';
  font-family: FontAwesome;
  color: var(--orange);
}

.proGood::-webkit-progress-value {
  background-color: #27ae60;
}

.proBad {
  background: transparent;
}
.proBad::-webkit-progress-bar {
  background: transparent;
}
.proBad::-webkit-progress-value {
  background-color: #c0392b;
}

.proGood::-moz-progress-bar {
  background-color: #27ae60;
}

.proBad::-moz-progress-bar {
  background-color: #c0392b;
}

/* Filter Tools */

.fltrs summary {
  opacity: 0.7;
  cursor: pointer;
}
.fltrs summary:hover {
  opacity: 1;
}
.fltrs summary::-webkit-details-marker {
  display: none
}

.fltrs input[type='checkbox'], .fltrs input[type='radio'] {
  margin: 0;
  width: 17px;
}

.fltrs label {
  position: relative;
  top: 5px;
  left: -10px;
}

.rangeTools {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--blackFade);
  font-size: 1rem;
}

.rangeTools select, .rangeTools button {
  width: 110px;
  min-height: 1.5rem;
  line-height: 1.25rem;
  font-size: 1rem;
  background-color: var(--black);
  border-bottom: none;
  color: white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.uniSelect:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: small;
  color: white;
  position: relative;
  right: 18px;
  top: -2px;
  pointer-events: none;
}

.rangeTools option {
  background-color: var(--clouds);
  color: black;
}

.numBoxRadio input[type='radio'] + label {
  border-bottom: 1px solid transparent;
}
.numBoxRadio input[type='radio']:checked + label {
  background-color: black;
  border-bottom: 1px solid white;
}
.numBoxRadio input[type='radio']:focus + label {
  color: white;
}
.numBoxRadio input[type='radio']:disabled + label {
  cursor: default;
}
.numBoxRadio input {
  display: none;
}

/* custom Bert alerts */
.bert-alert {
  color: #ecf0f1;
}

.bert-alert.peterRiver {
  /*blue*/
  background: #3498db;
}

.bert-alert.emerald {
  /*green*/
  background: #2ecc71;
}

.bert-alert.alizarin {
  /*red*/
  background: #e74c3c;
}

.bert-alert.carrot {
  /*orange*/
  background: #e67e22;
}

.bert-alert.sunFlower {
  /*yellow*/
  background: var(--sunflower);
}

.bert-alert.tuquoise {
  /*teal*/
  background: #1abc9c;
}

.bert-alert.amethyst {
  /*purple*/
  background: #9b59b6;
}

.bert-alert.wetAsphalt {
  /*dark*/
  background: #34495e;
}

.bert-alert.clouds {
  /*light*/
  background: var(--clouds);
  color: black;
}


@media screen and (max-width: 1000px) {
  .jumpBar {
    line-height: 1.5em;
    font-size: 1rem;
  	min-height: 0.5rem;
  }
}