
.infoBlock {
  width: 100%;
  margin: 2vh 0;
}

.blockTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.blockTitle > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blockTitle > div > div {
  padding: 1vh 2vw;
}
.leftAnchor {
  width: 75px;
  border-right: 1px groove rgba(255,255,255,0.2);
}
.rightAnchor {
  width: 75px;
  min-height: 40.5px;
  border-left: 1px groove rgba(255,255,255,0.2);
}

.create {
  background-color: rgba(46, 204, 113, 0.1);
}

.history {
  background-color: rgba(52, 152, 219, 0.1);
}

.noncon {
  background-color: rgba(231, 76, 60, 0.1);
}

.short {
  background-color: rgba(241, 196, 15, 0.1);
}
.finish {
  background-color: rgba(155, 89, 182, 0.1);
}

.moreInfoList {
  margin: 0 0 0 75px;
  list-style: circle;
}
.moreInfoList li {
  padding: 0.25rem 0;
}
.moreInfoList li:last-child {
  padding: 0.25rem 0 0.5rem 0;
}

.endComment {
  margin: 0 0 0 75px;
  padding: 0.25rem 0 0.5rem 40px;
}