.lightTheme {
  background-color: var(--clouds);
  color: black;
  --overBG: var(--clouds);
}

.darkTheme {
  background-color: var(--dark);
  color: white;
  --actionText: var(--blackT);
  color-scheme: dark;
  --blackT: white;
}
.darkTheme .grayT {
  color: var(--cloudstrans);
}

.darkTheme .tabOn, 
.darkTheme .tabOff {
  color: white;
}

.darkTheme .liteToolOn,
.darkTheme .liteToolOff { 
	border-right-color: rgb(0,0,0);
	border-left-color: rgb(0,0,0);
}
.darkTheme td,
.darkTheme tr:last-child td {
  border-color: white;
  border-color: rgba(0,0,0,0.4);
}

.darkTheme .fltrs {
	color: var(--black);
  background-color: transparent;
}
.darkTheme .itmFltrBlock {
  background-color: rgb(30,30,30);
}

.darkTheme .jump:hover, 
.darkTheme .jump:focus, 
.darkTheme .jump:active {
  border-bottom-color: #3498db;
}
.darkTheme .jumpBar {
  border-left-color: white;
}
.darkTheme .jumpBar:hover,
.darkTheme .jumpBar:focus,
.darkTheme .jumpBar:active {
  border-bottom-color: #3498db;
}
.darkTheme .leapText:hover,
.darkTheme .leapText:focus,
.darkTheme .leapText:active {
  color: var(--peterriver);
  border-bottom-color: var(--peterriver);
}
.darkTheme .leapBar {
	color: var(--white);
	border-top-color: var(--silverfade);
  border-bottom-color: var(--silverfade);
}
.darkTheme .leapBar:hover, 
.darkTheme .leapBar:focus,
.darkTheme .leapBar:active {
  background-color: var(--silverfade);
}

.darkTheme .flatpickr-input ~ .form-control {
  color: white;
}

