:root {
  --sm7: 0.7rem;
  --sm8: 0.8rem;
  --sm9: 0.9rem;
  --tx0: 1rem;
  --tx2: 1.2rem;
  --tx5: 1.5rem;
  --tx6: 1.65rem;
  --tx7: 1.75rem;
  --txx0: 2rem;
  --txx5: 2.5rem;
  
  --neptuneColor: #007fff;
  --turquoise: oklab(0.71 -0.13 0.01);
  --turquoisetrans: oklab(0.71 -0.13 0.01 / 0.5);
  --turquoisefade: oklab(0.71 -0.13 0.01 / 0.2);
  
  --greenSea: oklab(0.63 -0.12 0.01);
  
  --emerald: oklab(0.75 -0.16 0.08); /* light green */
  --emeraldfrost: oklab(0.75 -0.16 0.08 / 0.8);
  --emeraldtrans: oklab(0.75 -0.16 0.08 / 0.4);
  
  --nephritis: oklab(0.66 -0.14 0.07); /* dark green */
  
  --peterriver: oklab(0.65 -0.06 -0.12);/* light blue */
  --peterriverfrost: oklab(0.65 -0.06 -0.12 / 0.8);
  --peterriverfade: oklab(0.65 -0.06 -0.12 / 0.5);
  
  --belizeHole: oklab(0.58 -0.06 -0.11); /* dark blue */
  --belizeHolefade: oklab(0.58 -0.06 -0.11 / 0.2); /* dark blue fade */
  
  --amethyst: oklab(0.58 0.11 -0.11); /* light purple */
  --amethystfade: oklab(0.58 0.11 -0.11 / 0.5);
  
  --wisteria: oklab(0.53 0.12 -0.12); /* dark purple */
  
  --sunflower: oklab(0.84 -0.01 0.17);
  --sunflowerfade: oklab(0.84 -0.01 0.17 / 0.5);
  
  --orange: oklab(0.76 0.06 0.15);
  --orangefrost: oklab(0.76 0.06 0.15 / 0.8);
  --orangefade: oklab(0.76 0.06 0.15 / 0.1);
  
  --carrot: oklab(0.7 0.09 0.13);
  
  --pumpkin: oklab(0.6 0.13 0.12);
  --pumpkinfrost: oklab(0.6 0.13 0.12 / 0.8);
  --pumpkinfade: oklab(0.6 0.13 0.12 / 0.2);
  
  --alizarin: oklab(0.63 0.17 0.1);
  --alizarinfrost: oklab(0.63 0.17 0.1 / 0.8);
  --alizarintrans: oklab(0.63 0.17 0.1 / 0.5);
  
  --pomegranate: oklab(0.54 0.15 0.09); /* dark red */
  --pomegranatefrost: oklab(0.54 0.15 0.09 / 0.8);
  --pomegranatetrans: oklab(0.54 0.15 0.09 / 0.5);
  
  --silver: oklab(0.81 0 -0.01); /* hsl(204deg 8.2% 76.08%); */
  --silverfade: oklab(0.81 0 -0.01 / 0.5);
  --silverfader: oklab(0.81 0 -0.01 / 0.2);
  
  --clouds: oklab(0.95 0 0); /*off white */
  --cloudstrans: oklab(0.95 0 0 / 0.5);
  
  --concrete: oklab(0.71 -0.02 -0.01);
  --concretefade: oklab(0.71 -0.02 -0.01 / 0.2);
  
  --wetasphalt: oklab(0.4 -0.02 -0.04); /* lighter grey-blue */
  --wetasphalttrans: oklab(0.4 -0.02 -0.04 / 0.5);
  
  --midnightblue: oklab(0.36 -0.01 -0.04); /* darker grey-blue */
  --midnightbluefade: oklab(0.36 -0.01 -0.04 / 0.3); /* darker grey-blue */
  
  --asbestos: oklab(0.63 -0.01 -0.01); /* gray */
  --asbestosfade: oklab(0.63 -0.01 -0.01 / 0.2);
  
  --whiteT: white;
  --black: rgb(48,48,48);
  --blackT: rgb(24,24,24);
  --blackfrost: rgba(5,5,5,0.7);
  --blackFade: rgba(5,5,5,0.5);
  --dark: rgb(35,35,35);
  
  --contrast: rgba(150,150,150,0.1);
  --contrastlight: hsl(192 15% 91%);

  /*--navIndicatorA: rgba(127, 140, 141, 0.2);*/
  /*--navIndicatorB: rgba(127, 140, 141, 0.5);*/
  --navIndicatorA: hsl(184.29deg 5.79% 62.55% / 0.2);
  --navIndicatorB: hsl(184.29deg 5.79% 62.55% / 0.5);
  
  --navIndicatorIn: inset 0 0 3px rgba(0,0,0,0.2);
  --navIndicatorOut: 0 0 3px rgba(0,0,0,0.1);
  
  /* animation */
  --scottsCurve: cubic-bezier(0.165, 0.84, 0.44, 1);
  
  /* shaddow */
  --dropShadow0000: 0 2px 3px rgba(0,0,0,0.12);
  --dropShadow000: 0 2px 4px rgba(0,0,0,0.16);
  --dropShadow00: 0 3px 6px rgba(0,0,0,0.16),
                  0 3px 6px rgba(0,0,0,0.23);
                
  --dropShadow0: 0 10px 20px rgba(0,0,0,0.19), 
                 0 6px 6px rgba(0,0,0,0.23);
                     
  --dropShadow1: 0 10px 30px rgba(0, 0, 0, 0.30), 
                 0 0 10px rgba(0, 0, 0, 0.22);
  
  --dropShadow2: 0 14px 28px rgba(0,0,0,0.25), 
                 0 10px 10px rgba(0,0,0,0.22);

  --dropShadowLeft00: -5px 0 6px 0px rgba(0,0,0,0.11);
  /*--dropShadowLeft0: -10px 0 15px 0px rgba(0,0,0,0.22);*/
  --dropShadowLeft1: -15px 0 20px 0px rgba(0,0,0,0.22);
}