:root {
  --commutron: #1c75bc;/*commutron brand blue*/
  --neptuneColor: #007fff;
  --turquoise: rgb(26, 188, 156);
  --turquoisefade: rgba(26, 188, 156, 0.5);
  --emerald: rgb(46, 204, 113);
  --emeraldfade: rgba(46, 204, 113, 0.5);
  --peterriver: rgb(52, 152, 219);/* light blue */
  --peterriverfade: rgba(52, 152, 219, 0.5);
  --amethyst: rgb(155, 89, 182); /* light purple */
  --amethystfade: rgba(155, 89, 182, 0.5);
  --sunflower: rgb(241, 196, 15);
  --sunflowerfade: rgba(241, 196, 15, 0.5);
  --orange: rgb(243, 156, 18);
  --orangefade: rgba(243, 156, 18, 0.5);
  --silver: rgb(189, 195, 199);
  --silverfade: rgba(189, 195, 199, 0.5);
  --clouds: rgb(236, 240, 241); /*off white */
  --cloudsfade: rgba(236, 240, 241, 0.5);
  --asbestos: rgb(127, 140, 141);
  --asbestosfade: rgb(127, 140, 141, 0.5);
}