.upstreamView {
  display: grid;
  grid-template-rows: 3vh 89vh;
  grid-template-areas: 
    'overviewNav'
    'overviewContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.downstreamView {
  display: grid;
  grid-template-rows: 3vh 89vh;
  grid-template-areas: 
    'downTools'
    'downContent';
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.downstreamToolbar {
  grid-area: downTools;
  background-color: rgb(50,50,50);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.lightTheme .downstreamToolbar {
  background-color: var(--silverfade);
}

.downstreamContent {
  grid-area: downContent;
  background-color: rgb(30,30,30);
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  display: grid;
  grid-template-columns: minmax(min-content, 30vw) auto;
  grid-template-areas:
    'downFixed downScroll';
}
.downstreamFixed {
  grid-area: downFixed;
}

.downstreamScroll {
  grid-area: downScroll;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.downGridFrameFixed, .downGridFrameScroll {
  display: grid;
  grid-template-rows: 3vh auto;
  min-height: 30vh;
}
.downGridFrameFixed {
  grid-template-columns: 4vmin auto;
  grid-template-areas: 
    'downWeek downHeaderF'
    'downWeek downOrdersF';
}
.downGridFrameScroll {
  grid-template-areas: 
    'downHeaderS'
    'downOrdersS';
}



.downWeek {
  grid-area: downWeek;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 3vmin;
  text-align: center;
  padding-bottom: 3vh;
}
.downGridFrameFixed:nth-child(odd) > .downWeek,
.downGridFrameFixed:nth-child(odd) > .downHeadFixed,
.downGridFrameScroll:nth-child(odd) > .downHeadScroll {
  background-color: rgba(41, 128, 185, 0.1);
}
.downGridFrameFixed:nth-child(even) > .downWeek,
.downGridFrameFixed:nth-child(even) > .downHeadFixed,
.downGridFrameScroll:nth-child(even) > .downHeadScroll {
  background-color: rgba(52, 152, 219, 0.1);
}
.downGridFrameFixed:first-child,
.downGridFrameScroll:first-child {
  min-height: 15vh;
}
.downGridFrameFixed:first-child > .downWeek {
  background-color: var(--alizarin);
}

.downHeadFixed {
  grid-area: downHeaderF;
  line-height: 1;
  font-size: 1.5vh;
  padding-left: 1vmin;
  display: flex;
  align-items: center;
}
.downHeadScroll {
  grid-area: downHeaderS;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 11vh;
  line-height: 1;
  font-size: 1.2vh;
  text-align: center;
  align-items: center;
}
.minifyed .downHeadScroll {
  grid-auto-columns: 8.25vh;
}
.downOrdersFixed, .downOrdersScroll {
  display: grid;
  grid-auto-rows: 10vh;
}
.downOrdersFixed {
  grid-area: downOrdersF;
}
.downOrdersScroll {
  grid-area: downOrdersS;
}

.downRowFixed {
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content) auto;
  place-items: stretch stretch;
  border-right: 0.3vw groove rgba(255,255,255,0.4);
}
.downRowFixed > div {
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  line-height: 1.3;
  border-bottom: 1px outset rgba(255,255,255,0.4);
}
.downRowFixed > div:first-child {
  font-size: 2vmin !important;
  justify-content: center;
  padding: 0;
  width: 4vmin;
  overflow: hidden;
}
.downRowFixed > div:first-child .big {
  font-size: inherit;
}
.downRowFixed > div:nth-child(2) {
  border-right: 1px outset rgba(255,255,255,0.4);
  font-size: 2.5vh;
}
.downRowFixed > div:last-child {
  border-right: 1px outset rgba(255,255,255,0.3);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.75vh;
}

.downRowScroll {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 11vh;
  place-items: stretch stretch;
}
.downRowScroll > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-right: 1vmin;
  padding-bottom: 1vh;
  padding-left: 1vmin;
  overflow: hidden;
  font-size: 1.5vh;
  line-height: 1.3;
  text-overflow: ellipsis;
  text-align: center;
  border-right: 1px outset rgba(255,255,255,0.3);
  border-bottom: 1px outset rgba(255,255,255,0.4);
}

.downstreamContent.minifyed {
  grid-template-columns: minmax(min-content, 25vw) auto; }
  
.lightTheme .downstreamContent { 
  background-color: whitesmoke;
}

.gridViewTools input[type=range] {
  filter: grayscale(1) invert(1);
  overflow: hidden;
}

.invert .gridViewTools input[type=range] {
  filter: grayscale(0.95) brightness(1.4);
  overflow: hidden;
}
