.waterfallSelector details {
  height: 5vw;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 20vw;
}

.waterfallWrap {
  width: 20vw;
}

.waterfallTitle {
  height: 5vw;
  text-align: center;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 600;
  background-color: var(--silver);
  color: black;
  border-top: 5px solid var(--asbestos);
}

.waterfallGrid {
  display: grid;
  width: 100%;
  height: 15vw;
  grid-template-columns: 5vw auto;
  grid-template-rows: 1fr 1fr 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'plusN plusOne'
    'recKeys plusOne';
  justify-content: stretch;
  align-content: stretch;
}

.countMinus,
.countN,
.countRec,
.countPlus {
  width: 100%;
  height: 100%;
  border-width: 10px;
}

.countMinus {
  grid-area: minusOne;
  font-size: calc(0.5rem + 1vw);
}
.countN {
  grid-area: plusN;
  font-size: calc(0.5rem + 1vw);
}
.countRec {
  grid-area: recKeys;
  font-size: calc(0.5rem + 1vw);
}
.countPlus {
  grid-area: plusOne;
  font-size: calc(0.5rem + 1.5vw);
}
