.waterfallSelector details {
  height: 5vw;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 20vw;
}

.waterfallWrap {
  width: 20vw;
}

.waterfallTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 600;
  background-color: var(--silver);
  color: black;
  border-top: 5px solid var(--clouds);
}

.waterfallGrid {
  display: grid;
  width: 100%;
  height: 15vw;
  grid-template-columns: 5vw auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'plusN plusOne'
    'recKeys plusOne';
  justify-content: stretch;
  align-content: stretch;
}

.countMinus,
.countN,
.countRec,
.countPlus {
  width: 100%;
  height: 100%;
}
.countPlus:disabled { opacity: 1; }
.countPlus:disabled:hover { opacity: 1; }

.countPlus:active,
.countPlus:disabled,
.countMinus:active,
.countMinus:disabled {
  filter: blur(5px);
}
.countPlus.countStop:disabled,
.countMinus.countStop:disabled {
  filter: none;
  border: none;
}

.countMinus {
  grid-area: minusOne;
  font-size: calc(0.5rem + 1vw);
  background-color: var(--alizarin);
}
.countMinus:hover,
.countMinus:active {
  background-color: --pomegranate;
}

.countN {
  grid-area: plusN;
  font-size: calc(0.5rem + 1vw);
}
.countRec {
  grid-area: recKeys;
  font-size: calc(0.5rem + 1vw);
}
.countPlus {
  grid-area: plusOne;
  font-size: calc(0.5rem + 1.25vw);
  background-color: transparent;
  border-width: 10px;
  border-style: solid;
  
  border-radius: 0;
}

.countPlusTop {
  font-size: calc(2rem + 2vw);
}  

