.waterfallSelector details {
  height: 4vw;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 20vw;
}

.waterfallWrap {
  width: 22vw;
}

.waterfallTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vw;
  font-size: calc(0.5rem + 1vw);
  font-weight: 600;
  color: black;
  border-top: 5px solid var(--silverfade);
}

.waterfallGrid {
  display: grid;
  width: 100%;
  height: 16vw;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'plusN plusOne'
    'recKey plusOne';
  justify-content: stretch;
  align-content: stretch;
}

.countMinus,
.countN,
.countRec,
.countPlus {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
}
.countPlus:disabled { opacity: 1; }
.countPlus:disabled:hover { opacity: 1; }

.countPlus:active,
.countPlus:disabled,
.countMinus:active,
.countMinus:disabled,
.countOn:active,
.countOn:disabled,
.countOff:active,
.countOff:disabled {
  filter: blur(5px);
}
.countPlus.countStop:disabled,
.countMinus.countStop:disabled {
  filter: none;
  border: none;
}

.countMinus {
  grid-area: minusOne;
  font-size: calc(0.5rem + 1vw);
  background-color: var(--alizarin);
}
.countMinus:hover,
.countMinus:active {
  background-color: var(--pomegranate);
}

.countN {
  grid-area: plusN;
  font-size: calc(0.5rem + 1vw);
}

.countRec {
  grid-area: recKey;
  font-size: calc(0.5rem + 1vw);
}

/*
.countOnOff {
  grid-area: onoffKey;
  font-size: calc(0.5rem + 1vw);
}
.countOff {
  background-color: var(--alizarin);
}
.countOff:hover {
  background-color: var(--pomegranate);
}
*/

.countPlus {
  grid-area: plusOne;
  font-size: calc(0.5rem + 1.25vw);
  background-color: transparent;
  border-width: 10px;
  border-style: solid;
  
  border-radius: 0;
}

.countPlusTop {
  font-size: calc(2rem + 2vw);
}  

