.actionBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  z-index: 8;
}

.footCent {
  flex-grow: 2;
}
.footLeft, .footRight {
  display: flex;
  align-items: center;
}
.footLeft {
  justify-content: flex-start;
  padding: 0 0 0 5px;
  min-height: 32px;
}
.footRight {
  justify-content: flex-end;
  padding: 0 5px 0 0;
}

.actionForm .redIn option,
.actionForm .redIn optgroup {
  color: black;
  background-color: white;
}

.redIn, .orangeIn {
  color: white;
}
.redIn + label,
.orangeIn + label {
  font-size: small;
  line-height: 1rem;
}

input.redIn, input.orangeIn {
  background-color: transparent;
  border-bottom-color: var(--clouds);
}
select.redIn, select.orangeIn {
  background-color: transparent;
  border-color: var(--clouds);
}

select.redIn > option,
select.orangeIn > option {
  color: black;
}

input.redIn:focus {
  border-bottom-color: var(--alizarin);
}
input.redIn:invalid {
  text-decoration: overline wavy var(--pomegranate);
}
select.redIn:focus, 
textarea.redIn:focus {
  border-color: var(--alizarin);
}
.redIn:focus + label {
  color: var(--alizarin);
}

input.orangeIn:focus {
  border-bottom-color: var(--orange);
}
input.orangeIn:invalid {
  text-decoration: overline wavy var(--pomegranate);
}
.orangeIn:focus + label {
  color: var(--orange);
}

.formBarToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px !important;
  transition: all 150ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  .actionForm input,
  .actionForm select, 
  .actionForm datalist
  .actionForm label {
    min-width: 100px;
    max-width: 175px;
  }
}