.actionBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  z-index: 8;
}

.footCent {
  flex-grow: 2;
}
.footLeft, .footRight {
  display: flex;
  align-items: center;
}
.footLeft {
  justify-content: flex-start;
  padding: 0 0 0 5px;
  min-height: 32px;
}
.footRight {
  justify-content: flex-end;
  padding: 0 5px 0 0;
}
.footPick {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footFill {
  flex-grow: 2;
}

.actionForm .redIn option,
.actionForm .redIn optgroup {
  color: black;
  background-color: white;
}

.redIn, .orangeIn {
  color: white;
}
.redIn + label,
.orangeIn + label {
  font-size: small;
  line-height: 1rem;
}

input.redIn, input.orangeIn {
  background-color: transparent;
  border-bottom-color: var(--clouds);
}
select.redIn, select.orangeIn {
  background-color: transparent;
  border-color: var(--clouds);
}

select.redIn > option,
select.orangeIn > option {
  color: black;
}

input.redIn:focus {
  border-bottom-color: var(--alizarin);
}
input.redIn:invalid {
  text-decoration: overline wavy var(--pomegranate);
}
select.redIn:focus, 
textarea.redIn:focus {
  border-color: var(--alizarin);
}
.redIn:focus + label {
  color: var(--alizarin);
}

input.orangeIn:focus {
  border-bottom-color: var(--orange);
}
input.orangeIn:invalid {
  text-decoration: overline wavy var(--pomegranate);
}
.orangeIn:focus + label {
  color: var(--orange);
}

.formBarToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
  margin: 0 1vmin !important;
  font-size: 30px !important;
  width: 45px !important;
  height: 45px !important;
}

.actionForm span,
.actionForm div {
  margin: 0 10px;
}
.actionForm label {
  min-width: 100px;
  max-width: 225px;
  letter-spacing: 1.5px;
}
.actionForm input,
.actionForm select, 
.actionForm datalist {
  line-height: 1.5rem;
  font-size: 1rem;
  min-width: 100px;
  max-width: 225px;
  height: 1.75rem;
  letter-spacing: 1.5px;
}
.actionForm input[type='number'],
.actionForm input[type='number'] ~ label {
  min-width: 8ch;
  max-width: 8ch
}
.actionForm option {
  min-width: 125px;
  max-width: 250px;
}

.actionForm > button {
  margin: 0 0.5vmin;
  padding: 0 1vmin;
  height: 44px;
  font-size: medium;
  text-transform: capitalize; 
  word-break: keep-all;
  letter-spacing: 1px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .actionForm input,
  .actionForm select, 
  .actionForm datalist
  .actionForm label {
    min-width: 50px;
    max-width: 150px;
  }
  .actionForm input[type='number'],
  .actionForm input[type='number'] ~ label {
    min-width: 6ch;
    max-width: 6ch;
  }
}