.tideIn, .tideOut, .tideFlip, .tideLock {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.5vh;
  background-color: rgb(25,25,25);
  color: var(--asbestos);
  padding-top: 0.25vmax;
  letter-spacing: 0.2ch;
}

.tideIcon {
  font-size: 2.5vh;
  border-radius: 50%;
}

.tideIn .tideIndicate { color: var(--pomegranate); }
.tideIn:hover {
  background-color: var(--emerald);
  color: rgb(25,25,25);
}

.tideOut .tideIndicate { color: var(--emerald); }
.tideOut:hover {
  background-color: var(--alizarin);
  color: rgb(25,25,25);
}

.tideFlip .tideIndicate { color: var(--turquoise); }
.tideFlip:hover {
  background-color: var(--turquoise);
  color: rgb(25,25,25);
}

.tideIn:hover .tideIndicate,
.tideOut:hover .tideIndicate,
.tideFlip:hover .tideIndicate { 
  color: rgb(25,25,25);
}

.tideIn:active .tideIndicate,
.tideOut:active .tideIndicate,
.tideFlip:active .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.tideIn:disabled .tideIndicate,
.tideOut:disabled .tideIndicate,
.tideFlip:disabled .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}