n-big-tide-container, 
n-med-tide-container,
n-tide-task {
  display: block;
  border-style: solid;
  border-top-color: var(--black);
  border-right-color: var(--blackFade);
  border-bottom-color: var(--black);
  border-left-color: var(--blackFade);
}
n-big-tide-container {
  min-height: 14vmax;
  margin: 0;
  border-top-width: 2vh;
  border-bottom-width: 0;
}
n-big-tide-container,
n-big-tide-container + n-tide-task {
  border-right-width: 2vh;
  border-left-width: 2vh;
}
n-big-tide-container + n-tide-task {
  margin: 0 0 2vmax 0;
  border-bottom-width: 2vh;
}
n-big-tide-container button {
  min-height: 14vmax;
  font-size: 2.25vmax;
  font-weight: bold;
  line-height: 1.1;
}
n-big-tide-container .tideIcon {
  font-size: 5vmax;
  font-weight: 800;
}

n-med-tide-container,
n-med-tide-container button {
  min-height: 2.5vmax;
}
n-med-tide-container {
  border-top-width: 1vh;
  border-bottom-width: 0;
}
n-med-tide-container, 
n-med-tide-container + n-tide-task {
  margin: 0;
  border-right-width: 1vh;
  border-left-width: 1vh;
}
n-med-tide-container + n-tide-task {
  border-bottom-width: 1vh;
}
n-med-tide-container button {
  border: 0.4vmax solid var(--emerald);
  padding: 0.2vmax 0;
}
n-med-tide-container .tideIcon {
  font-size: 2.5vmax;
}

n-tide-task {
  width: 100%;
  border-top-width: 0;
}
n-tide-task select {
  height: 2.5vmax;
  width: inherit;
}
n-tide-task label {
  padding: 0;
  max-width: inherit;
  font-size: 1.3vmax;
  text-align: center;
  background-color: rgb(25,25,25);
}

.tideIn, .tideOut, .tideFlip, .tideLock {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(25,25,25);
  color: var(--asbestos);
  letter-spacing: 0.2ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auxLeft > .tideIn, 
.auxLeft > .tideOut, 
.auxLeft > .tideLock {
  width: calc(7 * var(--vh));
  height: calc(7 * var(--vh));
}
.tideIcon {
  font-size: 2.5vh;
  font-size: calc(2.5 * var(--vh));
  border-radius: 50%;
}
.tideIcon svg {
  width: 100%;
  height: 100%;
}

.tideIn .tideIndicate { color: var(--pomegranate); }
.startWork, .tideIn:hover {
  background-color: var(--emerald);
  color: rgb(25,25,25);
}

.tideOut .tideIndicate { color: var(--emerald); }
.tideOut:hover {
  background-color: var(--alizarin);
  color: rgb(25,25,25);
}

.tideFlip .tideIndicate { color: var(--emerald); }
.flipWork, .tideFlip:hover {
  background-color: var(--emerald);
  color: rgb(25,25,25);
}

.startWork .tideIndicate,
.tideIn:hover .tideIndicate,
.tideOut:hover .tideIndicate,
.flipWork .tideIndicate,
.tideFlip:hover .tideIndicate { 
  color: rgb(25,25,25);
}

.tideIn:active .tideIndicate,
.tideOut:active .tideIndicate,
.tideFlip:active .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.tideIn:disabled .tideIndicate,
.tideOut:disabled .tideIndicate,
.tideFlip:disabled .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@media screen and (prefers-reduced-motion: reduce) { 
  .tideIn:active .tideIndicate,
  .tideOut:active .tideIndicate,
  .tideFlip:active .tideIndicate {
    animation-name: hvr-buzz-out;
    animation-duration: 3s;
  }
  .tideIn:disabled .tideIndicate,
  .tideOut:disabled .tideIndicate,
  .tideFlip:disabled .tideIndicate {
    animation-name: hvr-buzz-out;
    animation-duration: 6s;
  }
}

.tideOut::before, 
.tideFollowTip::before {
  position: absolute;
  top: calc(2 * var(--vh));
  border-radius: 25px;
  text-transform: capitalize;
  width: auto;
  z-index: 11;
}
.tideOut::before {
  content: "STOP";
  left: 15vh;
  background-color: var(--alizarin);
  color: rgb(25,25,25);
  margin: calc(0.5 * var(--vh));
  box-shadow: var(--dropShadow00);
}
.tideFollowTip::before {
  content: attr(aria-label);
  right: 7vh;
  background-color: rgb(0,0,0);
  color: var(--silver);
  margin: calc(0.5 * var(--vh)) 0;
}

@media (orientation: portrait) {
  .tideFollowTip::before {
    top: 2vmin;
    margin: 0.5vmin 0;
    right: 7.5vmin;
  }
  .containerPro .tideFollowTip::before {
    top: calc(2 * var(--vh));
    margin: calc(0.5 * var(--vh)) 0;
    right: calc(6 * var(--vh));
  }
}