n-big-tide-container, 
n-med-tide-container,
n-tide-task {
  display: block;
  border-style: solid;
  border-top-color: var(--black);
  border-right-color: var(--blackFade);
  border-bottom-color: var(--black);
  border-left-color: var(--blackFade);
}
n-big-tide-container {
  min-height: 14vmax;
  margin: 0;
  border-top-width: 2vh;
  border-bottom-width: 0;
}
n-big-tide-container,
n-big-tide-container + n-tide-task {
  border-right-width: 2vh;
  border-left-width: 2vh;
}
n-big-tide-container + n-tide-task,
n-big-tide-container > n-tide-task {
  border-bottom-width: 2vh;
}
n-big-tide-container button {
  min-height: 14vmax;
  font-family: var(--styled-font);
  font-size: 2.25vmax;
  font-weight: bold;
  line-height: 1.1;
}
n-big-tide-container .tideIcon {
  font-size: 5vmax;
  font-weight: 800;
}

n-med-tide-container,
n-med-tide-container button {
  min-height: 2.5vmax;
}
n-med-tide-container {
  border-top-width: 1vh;
  border-bottom-width: 0;
}
n-med-tide-container, 
n-med-tide-container + n-tide-task {
  margin: 0;
  border-right-width: 1vh;
  border-left-width: 1vh;
}
n-med-tide-container + n-tide-task {
  border-bottom-width: 1vh;
}
n-med-tide-container button {
  border: 0.4vmax solid var(--emerald);
  padding: 0.2vmax 0;
}
n-med-tide-container .tideIcon {
  font-size: 2.5vmax;
}

n-tide-task {
  width: 100%;
  border-top-width: 0;
}
n-tide-task select {
  height: 2.5vmax;
  max-width: 25vmax !important;
  width: 100%;
  border-color: white;
}
n-tide-task label {
  display: block;
  width: 100%;
  padding: 0;
  max-width: 25vmax !important;
  font-size: min(1.3vmax, 1rem) !important;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(25,25,25);
}

.tideIn, .tideOut, .tideFlip, .tideMulti, .tideFix, .tideLock {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(25,25,25);
  color: var(--asbestos);
  letter-spacing: 0.2ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tideFix {
  height: max-content;
  font-size: var(--tx0);
  text-transform: capitalize;
  flex-direction: row;
}
.auxLeft > .tideIn, 
.auxLeft > .tideOut, 
.auxLeft > .tideLock {
  width: var(--vert_adapt);
  height: var(--vert_adapt);
}
.tideIcon {
  font-size: calc(var(--vert_border) * 2.5);
  border-radius: 50%;
}
.tideIcon svg {
  width: 100%;
  height: 100%;
}

.tideLock {
  opacity: .5;
  cursor: not-allowed;
}

.tideIn .tideIndicate { color: var(--pomegranate); }
.startWork, .tideIn:hover {
  background-color: var(--emerald);
}

.tideOut .tideIndicate { color: var(--emerald); }
.tideOut:hover {
  background-color: var(--alizarin);
}

.tideFlip .tideIndicate { color: var(--emerald); }
.tideFlip:hover {
  background-color: var(--emerald);
}

.tideMulti .tideIndicate { color: var(--turquoise); }
.tideMulti:hover {
  background-color: var(--turquoise);
}

.tideFix .tideIndicate { color: var(--midnightblue); }
.tideFix:hover {
  background-color: var(--midnightblue);
}

.startWork, .startWork .tideIndicate,
.tideIn:hover, .tideIn:hover .tideIndicate,
.tideOut:hover, .tideOut:hover .tideIndicate,
.tideFlip:hover, .tideFlip:hover .tideIndicate,
.tideMulti:hover, .tideMulti:hover .tideIndicate,
.tideFix:hover , .tideFix:hover .tideIndicate { 
  color: rgb(25,25,25);
}

.tideIn:active .tideIndicate,
.tideOut:active .tideIndicate,
.tideFlip:active .tideIndicate,
.tideMulti:active .tideIndicate,
.tideFix:active .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.tideIn:disabled .tideIndicate,
.tideOut:disabled .tideIndicate,
.tideFlip:disabled .tideIndicate,
.tideMulti:disabled .tideIndicate, 
.tideFix:disabled .tideIndicate {
  animation-name: hvr-buzz-out;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@media screen and (prefers-reduced-motion: reduce) { 
  .tideIn:active .tideIndicate,
  .tideOut:active .tideIndicate,
  .tideFlip:active .tideIndicate,
  .tideMulti:active .tideIndicate,
  .tideFix:active .tideIndicate {
    animation-name: hvr-buzz-out;
    animation-duration: 3s;
  }
  .tideIn:disabled .tideIndicate,
  .tideOut:disabled .tideIndicate,
  .tideFlip:disabled .tideIndicate,
  .tideMulti:disabled .tideIndicate,
  .tideFix:disabled .tideIndicate {
    animation-name: hvr-buzz-out;
    animation-duration: 6s;
  }
}

.tideOutTip::before, 
.tideFollowTip::before {
  position: absolute;
  top: calc(var(--vert_border) * 2);
  border-radius: 25px;
  text-transform: capitalize;
  width: auto;
  z-index: 11;
}
.tideOutTip::before {
  content: "STOP";
  left: 15vh;
  background-color: var(--alizarin);
  color: rgb(25,25,25);
  margin: 0.5dvh;
  box-shadow: var(--dropShadow00);
}
.tideFollowTip::before {
  content: attr(aria-label);
  right: var(--vert_adapt);
  background-color: rgb(0,0,0);
  color: var(--silver);
  margin: 0.5dvh 0;
}
.kioskFrame .tideFollowTip::before {
  top: calc(var(--vert_border) * 1.5);
  right: calc(var(--vert_adapt) * 1.1);
}