.tabBody { overflow-x: auto; }
.tabOn, .tabOff {
  padding: 0 10px;
  min-height: 2.5rem;
  line-height: 2em;
  font-size: medium;
  color: white;
  letter-spacing: 1px;
	text-transform: capitalize;
	overflow: hidden;
}
.invert .tabOn, .invert .tabOff {
  color: black;
}
/*
.tabOn {
	background-color: var(--wetasphalt);
  border-bottom-color: var(--silver);
}
.invert .tabOn {
	background-color: var(--concretefade);
  border-bottom-color: var(--asbestos);
}

.tabOff {
	background-color: var(--midnightblue);
	border-bottom-color: transparent;
}
.invert .tabOff {
	background-color: var(--asbestosfade);
	border-bottom-color: transparent;
}
.tabOff:hover {
	background-color: var(--wetasphalt);
}
.invert .tabOff:hover {
	background-color: var(--concretefade);
}
*/

.tabOn {
	background-color: var(--navIndicatorB);
  /*border-bottom-color: var(--silver);*/
  box-shadow: var(--navIndicatorOut);
}


.tabOff {
	background-color: var(--navIndicatorA);
	/*border-bottom-color: transparent;*/
	box-shadow: var(--navIndicatorIn);
}

.tabOff:hover {
	background-color: var(--navIndicatorB);
}
