.infoFeed {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 4vw;
}

.feedInfoHeader { padding: 1vh 2vw; }
.feedInfoHeader button {  color: white; }

n-feed-info-block {
  display: grid;
  width: 100%;
  margin: 2vh 0;
  grid-auto-columns: 75px auto 75px;
  grid-auto-flow: column;
}

n-feed-left-anchor, n-feed-right-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}
n-feed-left-anchor {
  border-right: 1px inset rgba(0,0,0,0.1);
  color: var(--blackfrost);
}
n-feed-right-anchor {
  min-height: 40.5px;
  border-left: 1px inset rgba(0,0,0,0.1);
}
n-feed-right-anchor > button { 
  color: var(--blackT); 
}

n-feed-info-center {
  padding: 1vh 2vw;
}

n-feed-info-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
n-feed-info-title > span {
  margin: 0.5ch 1ch;
}

.create, 
.genericEvent { background-color: var(--concretefade); }

.inspect { background-color: var(--emeraldtrans); }
.history { background-color: var(--peterriverfade); }
.altflow { background-color: var(--turquoisetrans); }
.rapid { background-color: var(--pumpkinfrost); }
.noncon { background-color: var(--alizarinfrost); }
.short { background-color: var(--orangefrost); }

.finish { background-color: var(--amethystfade); }

.evEvent { background-color: var(--belizeHolefade); }
.relEvent { background-color: var(--emeraldtrans); }
.ctnEvent { background-color: var(--sunflowerfade); }
.alterEvent { background-color: var(--midnightbluefade); }
.quoteEvent { background-color: var(--wetasphalttrans); }

n-feed-info-block > dl {
  margin: 0 0 0 75px;
  list-style: circle;
}
n-feed-info-block > dl dd {
  padding: 0.25rem 0;
}
n-feed-info-block > dl dd:last-child {
  padding: 0.25rem 0 0.5rem 0;
}

.endComment {
  margin: 0;
  padding: 0.25rem 0 0.5rem 40px;
}

.editStandout {
  border: 1px solid rgba(255,255,255,0.5);
  min-height: 40.5px;
}
.inlineInput, .inlineSelect { 
  width: 12vw;
  min-height: 40.5px;
}
.inlineButton { 
  min-width: 15px;
  margin: 0 5px;
  font-size: 1rem;
  min-height: 40.5px;
}

.trashStyle {
  filter: grayscale(0.5);
}