.scrollWrap {
  overflow-x: auto;
}
.infoFeed {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: fit-content;
  margin: 0 4vw;
}
.feedInfoBlock {
  width: 100%;
  margin: 2vh 0;
}

.feedInfoHeader { padding: 1vh 2vw; }
.feedInfoHeader button {  color: white; }

.feedInfoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.feedInfoTitle > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.feedInfoTitle > div > div {
  padding: 1vh 2vw;
  white-space: pre-wrap;
}

.leftAnchor, .rightAnchor {
  width: 75px;
  display: flex;
  justify-content: center;
}
.leftAnchor {border-right: 1px inset rgba(0,0,0,0.1); }
.leftAnchor .iPlain { color: var(--clouds); }
.leftAnchor .iG { color: var(--emerald); }
.leftAnchor .iWarn { color: var(--pumpkin); }
.leftAnchor .iNG { color: var(--pomegranate); }

.rightAnchor {
  min-height: 40.5px;
  border-left: 1px inset rgba(0,0,0,0.1);
}
.rightAnchor button { color: var(--blackT); }

.create { background-color: var(--concretefade); }

.inspect { background-color: rgba(46, 204, 113, 0.2); }
.inspect { background-color: var(--emeraldtrans); }

.history { background-color: var(--peterriverfade); }
.noncon { background-color: var(--alizarinfrost); }

.short { background-color: rgba(243, 156, 18, 0.2); }
.short { background-color: var(--orangefrost); }

.finish { background-color: var(--amethystfade); }

.genericEvent { background-color: var(--midnightbluefade); }
.alterEvent { background-color: var(--wetasphaltfade); }

.feedInfoBlock > ul {
  margin: 0 0 0 75px;
  list-style: circle;
}
.feedInfoBlock > ul li,
.feedInfoBlock > ul dd {
  padding: 0.25rem 0;
}
.feedInfoBlock > ul li:last-child,
.feedInfoBlock > ul dd:last-child {
  padding: 0.25rem 0 0.5rem 0;
}

.endComment {
  margin: 0 0 0 75px;
  padding: 0.25rem 0 0.5rem 40px;
}

.editStandout {
  border: 1px solid rgba(255,255,255,0.5);
  min-height: 40.5px;
}
.inlineInput, .inlineSelect { 
  width: 12vw;
  min-height: 40.5px;
}
.inlineButton { 
  min-width: 15px;
  margin: 0 5px;
  font-size: 1rem;
  min-height: 40.5px;
}

.trashStyle {
  filter: grayscale(0.5);
}