.proXcontainer {
  display: grid;
  grid-template-rows: 5px calc(100vh - 5px);
  grid-template-columns: 100%;
  grid-template-areas:
    'proStatus'
    'proContent';
}
.proXstatus {
  grid-area: proStatus;
  background-color: var(--neptuneColor);
}
.proXicon {
  grid-area: proIcon;
  background-color: var(--neptuneColor);
}
.proXicon {
  grid-area: proTop;
  background-color: var(--neptuneColor);
}

.proXcontent, .proXcontentExpand {
  grid-area: proContent;
  display: grid;
  grid-template-rows: 50px calc(100vh - 55px);
  grid-template-columns: repeat(5, 1fr);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.proXcontent {
  grid-template-areas:
    'proTop proTop proTop proTop proTop'
    'proFlow proDocs proDocs proDocs proDocs';
}
.proXcontentExpand {
  grid-template-areas:
    'proTop proTop proTop proTop proTop'
    'proFlow proData proDocs proDocs proDocs';
}
.proXtop {
  grid-area: proTop;
  display: flex;
  justify-content: space-between;
}
.proXflow {
  grid-area: proFlow;
  overflow-y: auto;
}
.proXdata {
  grid-area: proData;
  overflow-y: auto;
}
.proXdocs {
  grid-area: proDocs;
  overflow-y: auto;
}



/*
.proNightDefault, .proNightExpand {
  display: grid;
  grid-template-rows: calc(100vh - 108px) 60px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.proNightLeftMinor, .proNightLeftMajor {
  background-color: rgb(35,35,35);
}
.proNightLeftMinor, .proNightLeftMajor, .proNightRightMajor, .proNightRightMinor {
  height: 100%;
}

.proNightDefault {
  grid-template-columns: 20vw auto;
  grid-template-areas: 
    'proRiverMinor proInstructMajor'
    'formFooter formFooter';
}
.proNightLeftMinor {
  grid-area: proRiverMinor;
}
.proNightRightMajor {
  grid-area: proInstructMajor;
}

.proNightExpand {
  grid-template-columns: 40vw auto;
  grid-template-areas: 
    'proRiverMajor proInstructMinor'
    'formFooter formFooter';
}
.proNightLeftMajor {
  grid-area: proRiverMajor;
}
.proNightRightMinor {
  grid-area: proInstructMinor;
}

.proNightActionForm {
  grid-area: formFooter;
  background-color: rgb(25,25,25);
  -webkit-box-shadow: 0 0 15px 0.5px rgb(0,0,0);
  -moz-box-shadow:    0 0 15px 0.5px rgb(0,0,0);
  box-shadow:         0 0 15px 0.5px rgb(0,0,0);
  width: 100%;
  min-width: 768px;
  height: 60px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
}
*/



.navFloatIcon {
  width: 50px;
  height: 50px;
  background-color: var(--neptuneColor);
}