.tabNav { display: flex; }
.tabBody { overflow-x: auto; }
.tabOn, .tabOff {
  padding: 0.75vmax 1vmin;
  min-height: 2.5vmax;
  line-height: 1.25;
  font-size: 1.25vmax;
  color: black;
  letter-spacing: 1px;
	text-transform: capitalize;
	overflow: hidden;
	border-radius: 0;
}
.darkTheme .tabOn, .darkTheme .tabOff {
  color: white;
}

.tabOn {
	background-color: var(--navIndicatorB);
  box-shadow: var(--navIndicatorOut);
}

.tabOff {
	background-color: var(--navIndicatorA);
	box-shadow: var(--navIndicatorIn);
}

.tabOff:hover {
	background-color: var(--navIndicatorB);
}
