.tabOn, .tabOff {
  padding: 0.5vmax 1vmin;
  line-height: 1.5;
  font-size: 1rem;
  color: black;
  letter-spacing: 1px;
	text-transform: capitalize;
	overflow: hidden;
	border-radius: 0;
}
.tabOn {
	background-color: var(--navIndicatorB);
  box-shadow: var(--navIndicatorOut);
}
.tabOff {
	background-color: var(--navIndicatorA);
	box-shadow: var(--navIndicatorIn);
}
.tabOff:hover {
	background-color: var(--navIndicatorB);
}