.navButtonWrap, .navBarWrap {
  background-color: rgb(25,25,25);
  color: var(--neptuneColor);
}
.navButtonWrap:hover, .navBarWrap:hover {
  background-color: var(--neptuneColor);
  color: rgb(25,25,25);
}

.navButtonWrap a,
.navButtonWrap button,
.navBarWrap a {
  box-shadow: var(--dropShadow00);
}
.navButtonWrap a,
.navButtonWrap button,
.navBarWrap a,
/*.navBarPlaceholer*/
.navButtonPlaceHolder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.navButtonWrap a,
.navButtonWrap button,
/*.navBarPlaceholer*/
.navButtonPlaceHolder {
  flex-direction: column;
}
.navButtonWrap button,
.navBarWrap a {
  cursor: pointer;
}

.navBarflex2 { grid-column-end: span 2; }
.navBarflex4 { grid-column-end: span 4; }

/*.navBarPlaceholer*/
.navBarWrap a {
  flex-direction: row;
  align-items: center;
}

.navButtonWrap:focus-within,
.navBarWrap:focus-within {
  outline-color: var(--neptuneColor);
  outline-style: double;
  outline-width: thick;
}
.navButtonIcon,
.navBarIcon {
  color: var(--neptuneColor);
}
.navButtonIcon {
  margin: 1vh 0 0 0;
  font-size: 6vmax;
}
.navButtonText,
.navBarText {
  padding: 0 1vh;
  font-size: 3vh;
  text-align: center;
  line-height: 1;
  color: var(--neptuneColor);
  text-transform: capitalize;
  word-break: break-word;
  white-space: break-spaces;
  overflow-wrap: break-word;
}
.navButtonText {
  margin: 1vh 0 0 0;
}
.navBarIcon {
  font-size: 2.5vmax;
}
.navBarText {
  margin: 0;
}
.navButtonWrap:hover .navButtonIcon,
.navBarWrap:hover .navBarIcon,
.navButtonWrap:hover .navButtonText,
.navBarWrap:hover .navBarText {
  color: rgb(30,30,30);
}
/*.navBarPlaceholer*/
.navButtonPlaceHolder {
  background-color: rgb(30,30,30);
  cursor: default;
}
/*.navBarPlaceholer .navBarIcon,*/
/*.navBarPlaceholer .navBarText*/
.navButtonPlaceHolder .navButtonIcon,
.navButtonPlaceHolder .navButtonText {
  color: rgb(50,50,50);
}
.navButtonLayerCorrect {
  height: 1em;
}