.reportReceipt {
  font-family: 'VarelaLocal';
  max-width: 500px;
  background-color: white;
}
.reportReceipt td:last-child {
  text-align: right;
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: hidden;
}
.reportReceipt td {
  padding-right: 50px;
  padding-left: 50px;
}
.reportReceipt .indent {
  padding-right: 50px;
  padding-left: 100px;
}

.reportTable {
  font-family: 'VarelaLocal';
  background-color: white;
}
.reportTable th {
  height: 4rem;
}
.reportTable th,
.reportTable td {
  font-size: 0.9rem;
  text-align: center;
  padding-right: 1ch;
  padding-left: 1ch;
}

.overviewTable th { text-align: left; }
.overviewTable tr:nth-child(even) { 
  background-color: var(--contrast); 
}
.overviewTable.subrows tr:nth-child(even) { 
  background-color: transparent; 
}
.overviewTable.subrows tbody:nth-child(odd) { 
  background-color: var(--contrast);
}