.reportReceipt {
  font-family: 'VarelaLocal';
  background-color: white;
}
.reportReceipt th {
  line-height: 2;
  border-right: none;
  text-transform: capitalize;
}
.reportReceipt td {
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: hidden;
}
.reportReceipt th,
.reportReceipt td {
  text-align: right;
  padding-right: 2ch;
  padding-left: 2ch;
}
.reportReceipt th:first-child,
.reportReceipt td:first-child {
  text-transform: capitalize;
  text-align: left;
}
.reportReceipt .indent {
  padding-left: 4ch;
}

.reportTable {
  font-family: 'VarelaLocal';
  background-color: white;
}
.reportTable th {
  height: 4rem;
}
.reportTable th,
.reportTable td {
  font-size: 0.9rem;
  text-align: center;
  padding-right: 1ch;
  padding-left: 1ch;
}

.overviewTable th { text-align: left; }
.overviewTable tr:nth-child(even) { 
  background-color: var(--contrast); 
}
.overviewTable.subrows tr:nth-child(even) { 
  background-color: transparent; 
}
.overviewTable.subrows tbody:nth-child(odd) { 
  background-color: var(--contrast);
}

.monthsTable {
  font-family: VarelaLocal;
}
.monthsTable th {
  text-align: center;
  white-space: nowrap;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}
.monthsTable th.big {
  font-size: 1.2rem;
  background-color: var(--contrast);
}
.monthsTable td {
  text-align: center;
  white-space: nowrap;
  font-size: 0.8rem;
  border-bottom: none;
}
.monthsTable td:nth-child(even) {
  border-right: none;
}
.monthsTable td:last-child:empty {
  background-color: var(--contrast);
}
.monthsTable .miniThead th {
  font-size: 0.6rem;
  font-weight: 400;
}
.monthsTable .leftThead {
  font-size: 0.6rem;
  border-bottom: none;
}
.monthsTable .botThead td {
  font-size: 1rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}