.scanInIndicator {
  min-height: 225px;
  margin: 30px;
  color: var(--neptuneColor);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanIn { 
  width: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  .scanIn {
    min-height: 250px;
    background-image: url(neptune-logo-color.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 75%;
    animation: spinAround 90s infinite linear;
  }
}