.loginoutButton,
.createButton {
  outline: 3px solid;
  outline-offset: -3px;
  box-shadow: var(--navIndicatorOut);
}
.loginoutButton {
  background-color: var(--neptuneColor);
  outline-color: var(--neptuneColor);
}
.createButton {
  background-color: var(--nephritis);
  outline-color: var(--nephritis);
}
.loginoutButton:hover, 
.loginoutButton:focus, 
.loginoutButton:active,
.createButton:hover, 
.createButton:focus, 
.createButton:active {
  outline-offset: 3px;
}

.scanInIndicator {
  min-height: 225px;
  margin: 30px;
  color: var(--neptuneColor);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanIn { 
  width: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  .scanIn {
    min-height: 250px;
    background-image: url(neptune-logo-color.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 75%;
    animation: spinAround 90s infinite linear;
  }
}