.loginCard {
  min-height: 300px;
  width: 300px;
  margin: 5vh 0 0 0;
}
.loginCard input {
  width: 100%;
}
.loginCard .tabBody {
  padding: 0 25px;
}

.userFormButtons {
  height: 32px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  margin-top: 0.75rem;
  font-size: medium;
  font-weight: 600;
  color: rgb(35,35,35);
  text-align: center;
  letter-spacing: 1.5px;
  box-shadow: var(--navIndicatorOut);
  cursor: pointer;
}
.loginoutButton {
  background-color: var(--neptuneColor);
}
.loginoutButton:hover, 
.loginoutButton:focus, 
.loginoutButton:active {
  outline-style: hidden;
  outline-color: transparent;
  box-shadow: 
    0 0 0 3px rgb(35,35,35),
    0 0 0 5px var(--belizeHole);
}

.createButton {
  background-color: var(--nephritis);
}
.createButton:hover, 
.createButton:focus, 
.createButton:active {
  outline-style: hidden;
  outline-color: transparent;
  box-shadow: 
    0 0 0 3px rgb(35,35,35),
    0 0 0 5px var(--emerald);
}

.scanInIndicator {
  margin: 30px;
  color: var(--neptuneColor);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@supports (-webkit-touch-callout: none) {
  .scanIn {
    min-height: 250px;
    background-image: url(neptune-logo-color.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 75%;
    animation: spinAround 90s infinite linear;
  }
}