.waterfallSelector details {
  height: 4vmax;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 16vmax;
}

.waterfallWrap {
  min-width: 13vmax;
  max-width: 14vmax;
}

.waterfallTitle {
  display: flex;
  align-items: center;
  height: 4vmax;
  font-size: calc(0.25rem + 0.75vmax);
  font-weight: 600;
  color: black;
  border-top: 5px solid var(--silverfade);
}

.waterfallGridClick, .waterfallGridSlide {
  display: grid;
  width: 100%;
  height: 10vmax;
  justify-content: stretch;
  align-content: stretch;
}
.waterfallGridClick {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'minusOne plusOne'
    'setN plusOne';
}

.waterfallGridClick button:active {
  filter: blur(3px);
}
.waterfallGridClick button:disabled {
  filter: brightness(0.75);
}
.waterfallGridClick button.countStop:disabled {
  filter: none;
  border: none;
}

.countMinus,
.countPlus {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  transition-duration: 0s;
  line-height: 1;
}
.countPlus:disabled { opacity: 1; }
.countPlus:disabled:hover { opacity: 1; }

.countMinus {
  grid-area: minusOne;
  background-color: var(--alizarin);
  font-size: 1.25vmax;
  font-weight: 600;
}
.countMinus:where(:hover,:active) {
  background-color: var(--pomegranate);
}
.countN {
  grid-area: setN;
  background-color: var(--asbestosfade);
  font-size: 1.25vmax;
  font-weight: 600;
}

.waterfallNnum {
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--asbestosfade);
}
.waterfallNnum > input {
  width: 100%;
  height: 100%;
  font-size: 2vmax;
  font-weight: 600;
  text-align: center;
}
.waterfallNdo {
  grid-area: setN / setN / plusOne / plusOne;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 2px;
}
.waterfallNdo > button {
  font-size: 1.5vmax;
  font-weight: 600;
  background-color: var(--asbestosfade);
}

.countPlus {
  grid-area: plusOne;
  font-size: 1.5vmax;
  background-color: transparent;
  border-width: 1vmax;
  border-style: solid;
  border-radius: 0;
}
.countPlusTop {
  font-size: 3vmax;
}  

.waterfallGridSlide {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'PerCount PerCount'
    'PerCount PerCount'
    'minusOne plusOne';
  grid-gap: 0 2px;
}

.slideCount {
  grid-area: PerCount;
  font-size: 3vmax;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideMinus, .slidePlus {
  font-size: 1.5vmax;
  transition-duration: 0s;
  color: white;
  background-color: var(--asbestosfade);
}
.slideMinus { grid-area: minusOne; }
.slidePlus { grid-area: plusOne; }


.waterfallNnum > input, .slideCount {
  border-radius: 0;
  border-width: 0 1vmax 1vmax 1vmax;
  border-style: solid;
}
.countN:where(:hover,:active),
.waterfallNdo > button:where(:hover,:active),
.slideMinus:where(:hover,:active),
.slidePlus:where(:hover,:active) {
  background-color: var(--asbestos);
}

.waterfallHistory {
  margin: 2vh 0;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 1vh;
}
.waterfallHistory summary {
  display: flex;
  align-items: center;
}
.waterfallHistory summary .meterprogStack {
  display: inline-block;
}
.waterfallHistory summary::marker {
  display: none;
}

.waterfallTimeline {
  width: 100%;
}
.waterfallTimeline tr {
  margin: 0 3vw;
  padding: 0.5em 0;
  letter-spacing: 1px;
  vertical-align: middle;
}
.waterfallTimeline tr:nth-child(odd) {
  background-color: var(--contrast);
}
.waterfallTimeline tr:nth-child(even) {
  background-color: var(--asbestosfade);
}
.waterfallTimeline tr > td {
  line-height: 1.25em;
}
.waterfallTimeline tr > td:nth-child(1) {
  text-align: center;
}
.waterfallTimeline b {
  font-size: 1.25em;
  padding: 0;
}
.waterfallTimeline b.small {
  font-size: 1em;
  line-height: 1.75em;
}