.waterfallSelector details {
  height: 4vmax;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 16vmax;
}

.waterfallWrap {
  min-width: 13vmax;
  max-width: 14vmax;
}

.waterfallTitle {
  height: 4vmax;
  font-size: calc(0.25rem + 0.75vmax);
  font-weight: 600;
  color: black;
  border-top: 5px solid var(--silverfade);
}


.waterfallGridClick, .waterfallGridSlide {
  display: grid;
  width: 100%;
  height: 10vmax;
  justify-content: stretch;
  align-content: stretch;
}
.waterfallGridClick {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'minusOne plusOne';
}

.countMinus,
.countPlus {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  transition-duration: 0s;
  line-height: 1;
}
.countPlus:disabled { opacity: 1; }
.countPlus:disabled:hover { opacity: 1; }

.countPlus:active, .countPlus:disabled,
.countMinus:active, .countMinus:disabled,
.countOn:active, .countOn:disabled,
.countOff:active, .countOff:disabled,
.slidePlus:active, .slidePlus:disabled,
.slideMinus:active, .slideMinus:disabled {
  filter: blur(5px);
}
.countPlus.countStop:disabled,
.countMinus.countStop:disabled,
.slidePlus.countStop:disabled,
.slideMinus.countStop:disabled,
.slidePlus.countStop:disabled,
.slideMinus.countStop:disabled {
  filter: none;
  border: none;
}

.countMinus {
  grid-area: minusOne;
  background-color: var(--alizarin);
  font-size: 1.25vmax;
}
.countMinus:hover,
.countMinus:active {
  background-color: var(--pomegranate);
}

.countPlus {
  grid-area: plusOne;
  font-size: 1.5vmax;
  background-color: transparent;
  border-width: 1vmax;
  border-style: solid;
  border-radius: 0;
}
.countPlusTop {
  font-size: 3vmax;
}  

.waterfallGridSlide {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'PerCount PerCount'
    'PerCount PerCount'
    'minusOne plusOne';
}

.slideCount {
  grid-area: PerCount;
  font-size: 3vmax;
  background-color: transparent;
  border-width: 0;
  border-style: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.slideMinus, .slidePlus {
  font-size: 1.5vmax;
  transition-duration: 0s;
  color: white;
  background-color: var(--midnightblue);
}
.slideMinus { grid-area: minusOne; }
.slidePlus { grid-area: plusOne; }
.slideMinus:hover, .slidePlus:hover {
  background-color: var(--wetasphalt);
}

/*///////////////\\\\\\\\\\\\\\\\\\\\\\///////////*/


.waterfallHistory {
  margin: 2vh 0;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 1vh;
}
.waterfallHistory summary {
  display: flex;
  align-items: center;
}
.waterfallHistory summary .meterprogStack {
  display: inline-block;
}
.waterfallHistory summary::-webkit-details-marker {
  display: none;
}

.waterfallTimeline dd {
  margin: 0 3vw;
  padding: 0.5em 0;
  letter-spacing: 1px;
  vertical-align: middle;
}
.waterfallTimeline dd:nth-child(odd) {
  background-color: var(--contrast);
}
.waterfallTimeline dd:nth-child(even) {
  background-color: var(--asbestosfade);
}
.waterfallTimeline b {
  font-size: 1.75em;
  padding: 0 20px;
}
.waterfallTimeline b.small {
  font-size: 1em;
  line-height: 1.75em;
}