.waterfallSelector details {
  height: 4vmax;
  box-shadow: none;
}
.waterfallSelector details[open] {
  height: 18vmax;
}

.waterfallWrap {
  min-width: 15vmax;
  max-width: 16vmax;
}

.waterfallTitle {
  height: 4vmax;
  font-size: calc(0.25rem + 1vmax);
  font-weight: 600;
  color: black;
  border-top: 5px solid var(--silverfade);
}

.waterfallGrid {
  display: grid;
  width: 100%;
  height: 12vmax;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'minusOne plusOne'
    'plusN plusOne'
    'recKey plusOne';
  justify-content: stretch;
  align-content: stretch;
}

.countMinus,
.countN,
.countRec,
.countPlus {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  transition-duration: 0s;
}
.countPlus:disabled { opacity: 1; }
.countPlus:disabled:hover { opacity: 1; }

.countPlus:active,
.countPlus:disabled,
.countMinus:active,
.countMinus:disabled,
.countOn:active,
.countOn:disabled,
.countOff:active,
.countOff:disabled {
  filter: blur(5px);
}
.countPlus.countStop:disabled,
.countMinus.countStop:disabled {
  filter: none;
  border: none;
}

.countMinus {
  grid-area: minusOne;
  font-size: calc(0.5rem + 1vmax);
  background-color: var(--alizarin);
}
.countMinus:hover,
.countMinus:active {
  background-color: var(--pomegranate);
}

.countN {
  grid-area: plusN;
  font-size: calc(0.5rem + 1vmax);
}

.countRec {
  grid-area: recKey;
  font-size: calc(0.5rem + 1vmax);
}

/*
.countOnOff {
  grid-area: onoffKey;
  font-size: calc(0.5rem + 1vw);
}
.countOff {
  background-color: var(--alizarin);
}
.countOff:hover {
  background-color: var(--pomegranate);
}
*/

.countPlus {
  grid-area: plusOne;
  font-size: calc(0.5rem + 1.25vmax);
  background-color: transparent;
  border-width: 10px;
  border-style: solid;
  
  border-radius: 0;
}

.countPlusTop {
  font-size: calc(2rem + 2vmax);
}  

.waterfallHistory {
  margin: 2vh 0;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 1vh;
}
.waterfallHistory summary {
  display: flex;
  align-items: center;
}
.waterfallHistory summary .meterprogStack {
  display: inline-block;
}
.waterfallHistory summary::-webkit-details-marker {
  display: none;
}

.waterfallTimeline dd {
  margin: 0 3vw;
  padding: 0.5em 0;
  letter-spacing: 1px;
  vertical-align: middle;
}
.waterfallTimeline dd:nth-child(odd) {
  background-color: var(--contrast);
}
.waterfallTimeline dd:nth-child(even) {
  background-color: var(--asbestosfade);
}
.waterfallTimeline b {
  font-size: 1.75em;
  padding: 0 20px;
}
.waterfallTimeline b.small {
  font-size: 1em;
  line-height: 1.75em;
}